doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/sidebar_select/sidebar_select
    include ../components/paginator/paginator
    include ../components/form_block/form_block

    head
        +head(head.edit_clinic_net)
    body
        |%=symbols=%

        +header('clinics')

        .l-grid.l-grid--max-height
            section.c-sidebar
                h3.c-sidebar__title редактирование клиник

                a.c-link.c-link--sidebar(href="add-clinic.html") Добавить клинику

                a.c-link.c-link--sidebar(href="add-clinic-net.html") Добавить сеть клиник

                a.c-link.c-link--sidebar(href="edit-clinic-net.html") Редактирование сетей клиник

            section.l-grid-content
                .l-content
                    table.c-table
                        thead
                            tr
                                th.c-table__col-id
                                    p.c-table__title ID
                                th.c-table__col-name
                                    p.c-table__title название
                        tbody
                            tr
                                td.c-table__col-id 23489
                                td.c-table__col-name
                                    a.c-link(href='add-clinic-net.html') Медико-диагностический комплекс репродукции и планирования семьи Медика «Институт Здоровья»
                            tr
                                td.c-table__col-id 23482
                                td.c-table__col-name
                                    a.c-link(href='add-clinic-net.html') Центр репродукции и планирования семьи Медика
                            tr
                                td.c-table__col-id 23482
                                td.c-table__col-name
                                    a.c-link(href='add-clinic-net.html') Академия здоровья «Звезда» на улице Чистопольской
                            tr
                                td.c-table__col-id 23482
                                td.c-table__col-name
                                    a.c-link(href='add-clinic-net.html') Академия здоровья «Звезда» на улице Космонавтов

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')