doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/sidebar_select/sidebar_select
    include ../components/paginator/paginator

    head
        +head(head.library)
    body
        |%=symbols=%

        +header('library')

        .l-grid.l-grid--max-height
            section.c-sidebar
                h3.c-sidebar__title библиотека

                a.c-link.c-link--sidebar(href="add-library.html") Добавить библиотеку

                p.c-sidebar__text показывать по:

                +sidebar_select(
                    '',
                    '10',
                    '25',
                    '50')

                a.c-link.c-link--sidebar(href="#") Применить

            section.l-grid-content
                .l-content
                    table.c-table
                        thead
                            tr
                                th.c-table__col-id
                                    .c-table__sort
                                        a.c-table__sort-top(href="#")
                                        a.c-table__sort-bottom(href="#")
                                    p.c-table__title ID
                                th.c-table__col-name
                                    .c-table__sort
                                        a.c-table__sort-top(href="#")
                                        a.c-table__sort-bottom(href="#")
                                    p.c-table__title название
                                th.c-table__col-date
                                    p.c-table__title ДАТА
                                th.c-table__col-edit
                                    p.c-table__title РЕДАКТИРОВАНИЕ
                        tbody
                            tr
                                td.c-table__col-id 1
                                td.c-table__col-name
                                    | Женская формула счастья
                                td.c-table__col-date 2016-08-26 14:27:15
                                td.c-table__col-edit
                                    a.c-link(href="add-library.html") редактировать
                                    a.c-link(href="#") удалить
                            tr
                                td.c-table__col-id 2
                                td.c-table__col-name
                                    | Жизнь в удовольствие, или Почему вы все время улыбаетесь?
                                td.c-table__col-date 2016-08-26 10:36:46
                                td.c-table__col-edit
                                    a.c-link(href="add-library.html") редактировать
                                    a.c-link(href="#") удалить
                            tr
                                td.c-table__col-id 3
                                td.c-table__col-name
                                    | О праве быть собой
                                td.c-table__col-date 2016-08-26 10:36:46
                                td.c-table__col-edit
                                    a.c-link(href="add-library.html") редактировать
                                    a.c-link(href="#") удалить
                            tr
                                td.c-table__col-id 4
                                td.c-table__col-name
                                    | Обыкновенное чудо
                                td.c-table__col-date 2016-08-26 10:36:46
                                td.c-table__col-edit
                                    a.c-link(href="add-library.html") редактировать
                                    a.c-link(href="#") удалить

                    +paginator()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')