mixin footer()
    footer.footer
        .footer__row.l-grid
            a.footer__logo-quick(href="https://quickresto.ru/price/#show_form?utm_source=rbc&utm_medium=cpc&utm_campaign=rbc" target='_blank')
                img(src="%=static=%img/general/logo_qr_hor.svg" alt="")
            ul.footer__social-list
                li.footer__social-item
                    a.footer__social-link(href="https://www.facebook.com/quickresto.ru" target='_blank')
                        i.footer__social-icon
                            //- img(src="%=static=%img/general/fb.svg" alt="")
                            svg(width='10px', height='18px', viewbox='13 8 10 18', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                              // Generator: Sketch 40 (33762) - http://www.bohemiancoding.com/sketch
                              desc Created with Sketch.
                              defs
                              path#f(d='M19.2224537,25.013747 L19.2224537,17.6428666 L21.7254915,17.6428666 L22.1002859,14.7703038 L19.2224537,14.7703038 L19.2224537,12.9363539 C19.2224537,12.1046806 19.4561024,11.5379228 20.6626774,11.5379228 L22.2016059,11.5372581 L22.2016059,8.96801481 C21.9354541,8.93300788 21.0219301,8.85479618 19.959116,8.85479618 C17.7403122,8.85479618 16.2212592,10.1934792 16.2212592,12.6518671 L16.2212592,14.7703038 L13.7117955,14.7703038 L13.7117955,17.6428666 L16.2212592,17.6428666 L16.2212592,25.013747 L19.2224537,25.013747 L19.2224537,25.013747 Z', stroke='none', fill='#000000', fill-rule='evenodd')

                li.footer__social-item
                    a.footer__social-link(href="https://vk.com/quickresto" target='_blank')
                        //- img(src="%=static=%img/general/vk.svg" alt="")
                        i.footer__social-icon
                            svg(width='23px', height='13px', viewbox='5 11 23 13', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                              // Generator: Sketch 40 (33762) - http://www.bohemiancoding.com/sketch
                              desc Created with Sketch.
                              defs
                              path#path2442(d='M17.5198772,23.5534484 C17.5198772,23.5534484 17.9063493,23.5108698 18.1039579,23.2983522 C18.2855833,23.1030168 18.2797778,22.7364619 18.2797778,22.7364619 C18.2797778,22.7364619 18.2547468,21.0200441 19.0515908,20.7672838 C19.8374273,20.5181409 20.8462803,22.4261259 21.9155245,23.159839 C22.7241304,23.7148714 23.338595,23.5933898 23.338595,23.5933898 L26.1979297,23.5534484 C26.1979297,23.5534484 27.6936047,23.4612068 26.9843691,22.2857289 C26.9263154,22.1897191 26.5712075,21.4162158 24.8583211,19.8270068 C23.0652902,18.1636426 23.3056477,18.432756 25.4653219,15.5555554 C26.7805779,13.8033413 27.3063035,12.7336697 27.1420189,12.2755514 C26.9854999,11.8390614 26.0180385,11.9543636 26.0180385,11.9543636 L22.7986954,11.9742589 C22.7986954,11.9742589 22.5598458,11.9417784 22.3829703,12.0475847 C22.2099397,12.1510551 22.0988839,12.3928126 22.0988839,12.3928126 C22.0988839,12.3928126 21.589142,13.7486292 20.9098379,14.9018759 C19.4762877,17.3349752 18.9029884,17.4637668 18.6686625,17.3124423 C18.1234851,16.9602812 18.2597228,15.8979949 18.2597228,15.1431058 C18.2597228,12.7850657 18.6175451,11.8019084 17.5629275,11.5474152 C17.2130217,11.463011 16.9552482,11.4071686 16.0602406,11.39805 C14.9114553,11.3863691 13.9393945,11.4015919 13.3888643,11.6711574 C13.0225982,11.850441 12.7400197,12.2498533 12.9122206,12.2728383 C13.1250592,12.301174 13.6068298,12.4028359 13.8622661,12.7502492 C14.1922676,13.1990228 14.1807324,14.2064462 14.1807324,14.2064462 C14.1807324,14.2064462 14.3703492,16.9822111 13.7380159,17.3269116 C13.3041211,17.5633937 12.7088065,17.0806324 11.4307197,14.8731633 C10.7759944,13.7424495 10.281482,12.4924399 10.281482,12.4924399 C10.281482,12.4924399 10.1862587,12.2588967 10.016169,12.1338729 C9.80988992,11.9823976 9.52165692,11.934393 9.52165692,11.934393 L6.46230191,11.9543636 C6.46230191,11.9543636 6.00314847,11.9671749 5.83441574,12.1668056 C5.68430544,12.3445064 5.82242912,12.711589 5.82242912,12.711589 C5.82242912,12.711589 8.21740949,18.3125556 10.9294975,21.1351198 C13.4165342,23.7233118 16.2401319,23.5534484 16.2401319,23.5534484 L17.5198772,23.5534484 Z', stroke='none', fill='#000000', fill-rule='evenodd')

                li.footer__social-item
                    a.footer__social-link(href="https://twitter.com/QuickResto" target='_blank')
                        //- img(src="%=static=%img/general/tw.svg" alt="")
                        i.footer__social-icon
                            svg(width='21px', height='17px', viewbox='0 0 21 17', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                              // Generator: Sketch 40 (33762) - http://www.bohemiancoding.com/sketch
                              desc Created with Sketch.
                              defs
                              path#path22(d='M20.2673798,14.9279917 C19.5246317,14.6021903 18.7258857,14.3819907 17.8878378,14.2827854 C18.7431727,14.7898813 19.3999292,15.5924607 19.7093214,16.5486014 C18.9088024,16.0790817 18.0222919,15.7385156 17.0780104,15.5549429 C16.3225556,16.3507168 15.2455931,16.8481302 14.0538274,16.8481302 C11.7653004,16.8481302 9.91042484,15.0145936 9.91042484,12.7527207 C9.91042484,12.4316072 9.94672744,12.1189348 10.0176631,11.8193769 C6.57386508,11.989952 3.52072276,13.6209306 1.47702044,16.0985051 C1.12033292,15.493898 0.916021789,14.7904655 0.916021789,14.0397743 C0.916021789,12.6186849 1.64723046,11.3653374 2.75937272,10.6306084 C2.08017267,10.6515944 1.44116109,10.8359119 0.88248214,11.1428888 C0.881846808,11.125656 0.881846808,11.1085985 0.881846808,11.0914826 C0.881846808,9.10679423 2.3103108,7.45186501 4.20567036,7.07537299 C3.85827642,6.98176113 3.49231009,6.93225345 3.11437587,6.93225345 C2.84710772,6.93225345 2.58796591,6.95724096 2.33452732,7.00527363 C2.86216362,5.37823811 4.3921183,4.19399693 6.20562338,4.16084578 C4.78634954,3.06218424 3.00000124,2.40777744 1.05854314,2.40777744 C0.724313883,2.40777744 0.394236456,2.42723002 0.0698179208,2.46487922 C1.90430375,1.30286538 4.08201691,0.625062917 6.42225701,0.625062917 C14.0435882,0.625062917 18.2107788,6.86551301 18.2107788,12.2780604 C18.2107788,12.4555432 18.2066417,12.6318139 18.1991064,12.8074566 C19.0083428,13.3853529 19.7107546,14.1064855 20.2665967,14.9279625', stroke='none', fill='#000000', fill-rule='evenodd', transform='translate(10.168599, 8.736597) scale(-1, 1) rotate(180.000000) translate(-10.168599, -8.736597) ')

                //- li.footer__social-item
                    a.footer__social-link(href="#")
                        i.footer__social-icon
                            //- img(src="%=static=%img/general/gplus.svg" alt="")
                            svg(width='22px', height='15px', viewbox='8 10 22 15', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                              desc Created with Sketch.
                              defs
                              g#Group-3(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd', transform='translate(8.000000, 10.000000)')
                                path#Fill-1(d='M7.36747556,9.17416671 C8.66134373,9.21681521 9.95867947,9.19723885 11.2525476,9.21681521 C10.6817846,12.1101551 6.77729414,13.0484222 4.71154356,11.1588371 C2.58730654,9.50113859 2.68786625,5.86552827 4.89624978,4.32575408 C6.44001458,3.08335417 8.6354525,3.39074968 10.1792173,4.4662844 C10.7855808,3.90066733 11.3531073,3.29589754 11.9012155,2.66828866 C10.6170566,1.63516939 9.04092771,0.899424408 7.36423916,0.977962913 C3.86499269,0.860271681 0.648006907,3.94984129 0.589520459,7.47754856 C0.365977397,10.3611003 2.24679059,13.1889525 4.90272258,14.2090209 C7.54917654,15.2356147 10.9411593,14.5359928 12.6307935,12.1395196 C13.7464283,10.6258473 13.9863845,8.67729997 13.8566972,6.8464439 C11.6903869,6.83013026 9.52731303,6.83339299 7.36423916,6.83991844 C7.36100275,7.61807888 7.36423916,8.39623932 7.36747556,9.17416671 Z', fill='#000000')        
                                path#Fill-4(d='M20.0184178,6.83010696 C20.011945,6.17942593 20.0087086,5.52571523 20.0054722,4.8750342 L18.0758818,4.8750342 C18.0694089,5.52571523 18.0629361,6.1761632 18.0596997,6.83010696 C17.4110319,6.83336968 16.7656004,6.83663241 16.1204001,6.84315787 L16.1204001,8.78844244 C16.7656004,8.79496789 17.4142683,8.80149335 18.0596997,8.8080188 C18.0661725,9.45869983 18.0661725,10.1093809 18.0726454,10.7598288 L20.0054722,10.7598288 C20.0087086,10.1093809 20.011945,9.45869983 20.0184178,8.80475607 C20.6670857,8.79823062 21.312286,8.79496789 21.9577174,8.78844244 L21.9577174,6.84315787 C21.312286,6.83663241 20.6638493,6.83663241 20.0184178,6.83010696', fill='#000000')

            ul.footer__credit-list
                li.footer__credit-item Директор спецпроектов: Полина Абдуллина
                li.footer__credit-item Менеджер проекта: Юлия Чеботарь
                li.footer__credit-item © 1995–2016 РосБизнесКонсалтинг


        //- .footer__row
        //-     .footer__copyright
        //-     a.footer__logo-rbk(href="#")

    script(src='%=static=%js/main%=hash=%%=min=%.js')

    // Yandex.Metrika counter
    script(type='text/javascript').
        (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
        try {
        w.yaCounter40429495 = new Ya.Metrika({
        id:40429495,
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
        });
        } catch(e) { }
        });
        var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";
        if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    noscript
        div
            img(src='https://mc.yandex.ru/watch/40429495', style='position:absolute; left:-9999px;', alt='')
    // /Yandex.Metrika counter

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-86201246-2', 'auto');
      ga('send', 'pageview');

    img.tns-counter(src="//www.tns-counter.ru/V13a****rbc_ru/ru/UTF-8/tmsec=rbc_total/" width="0" height="0" alt="")