.footer {
    background-color: $gray;

    &__row {
        @include cf();

        width: 1140px;
        padding: 40px 0;
    }

    &__logo-quick {
        float: left;
    }

    &__social-list {
        @include nl();
        @include cf();
        float: left;
        margin-left: 260px;
    }

    &__social-item {
        float: left;

        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    &__social-link {
        width: 45px;
        height: 45px;
        display: block;
        background-color: $white;
        position: relative;
        border-radius: 100%;
        transition: background-color ease .3s;

        &:hover {
            background-color: $blue;

            svg path {
                fill: $white;
            }
        }
    }

    &__social-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;

        svg path {
            transition: fill ease .3s;
        }
    }

    &__credit-list {
        @include nl();
        float: right;
    }

    &__credit-item {
        color: #000;
        font-size: 1.2rem;
        line-height: 2rem;
    }
}