mixin footer()
    footer.footer
        .footer__row.footer__row--big
            a.footer__logo-quick(href="#")
                img(src="" alt="")
            ul.footer__social-list
                li.footer__social-item
                    a.footer__social-link(href="#")
                li.footer__social-item
                    a.footer__social-link(href="#")
                li.footer__social-item
                    a.footer__social-link(href="#")
                li.footer__social-item
                    a.footer__social-link(href="#")
            ul.footer__credit-list
                li.footer__credit-item 1
                li.footer__credit-item 2
                li.footer__credit-item 3

        .footer__row
            .footer__copyright
            a.footer__logo-rbk(href="#")

    script(src='%=static=%js/main%=hash=%%=min=%.js')