doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/article_dream/article_dream
    include ../components/footer/footer

    head
        +head(head.defaults)
    body.article-bg
        .svg-symbols
            |%=symbols=%

        +header('articles', 'dream', 'dream')

        .page__border

        //- img.article-bg__bottom(src="%=static=%img/general/back6.png")

        +article_dream()

        +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')