doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header_en/header_en
    include ../components/main_slide_en/main_slide_en
    include ../components/section_about_en/section_about_en
    include ../components/section_partners_en/section_partners_en
    include ../components/section_gallery_en/section_gallery_en
    include ../components/section_map_en/section_map_en
    include ../components/footer_en/footer_en

    head
        +head(head.defaults)
    body.page
        .svg-symbols
            |%=symbols=%

        +header_en()

        .page__border
            //- .page__border--left
            //- .page__border--top
            //- .page__border--right
            //- .page__border--bottom

        +main_slide_en()

        +section_about_en()

        +section_gallery_en()

        +section_partners_en()

        //- .section__banner(style='text-align: center; color: #fff; line-height: 90px;') BANNER 100%х90

        +section_map_en()

        +footer_en()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')