mixin section_partners_en
    section.partners
        .section__container
            h3.section__title Partners

            ul.partners__list
                li.partners__item
                    a.partners__link(href="http://www.bmeia.gv.at/ru/oeb-moskau/" target="_blank")
                        img.partners__img(src="%=static=%img/content/partner_aus.png")
                li.partners__item
                    a.partners__link(href="https://polymus.ru/ru/events/special_projects/polytech.science.art-nauka.-iskusstvo.-tehnologii/" target="_blank")
                        img.partners__img(src="%=static=%img/content/partner_psa.png")
                li.partners__item
                    a.partners__link(href="http://www.redok.ru/" target="_blank")
                        img.partners__img(src="%=static=%img/content/partner_redoct.png")
                li.partners__item
                    a.partners__link(href="http://www.migz.ru/ru" target="_blank")
                        img.partners__img(src="%=static=%img/content/partner_migz.png")
                li.partners__item
                    a.partners__link(href="http://ru.silasveta.com/" target="_blank")
                        img.partners__img(src="%=static=%img/content/partner_sila.png")

            ul.partners__list.partners__list--titled
                li.partners__item
                    p.partners__item-title General info partner
                    a.partners__link(href="http://www.bazaar.ru/" target="_blank")
                        img.partners__img(src="%=static=%img/content/partner_bazaar.png")
                li.partners__item
                    p.partners__item-title Official digital partner
                    a.partners__link(href="https://www.buro247.ru/" target="_blank")
                        img.partners__img(src="%=static=%img/content/partner_buro.png")
                li.partners__item
                    p.partners__item-title Special info partner
                    a.partners__link(href="http://www.theartnewspaper.ru/" target="_blank")
                        img.partners__img(src="%=static=%img/content/partner_anr.png")
                li.partners__item
                    p.partners__item-title Info partner
                    a.partners__link(href="http://chrdk.ru/" target="_blank")
                        img.partners__img(src="%=static=%img/content/partner_cerdak.png")
                li.partners__item
                    p.partners__item-title General info partner
                    a.partners__link(href="http://www.megapolisfm.ru/" target="_blank")
                        img.partners__img(src="%=static=%img/content/partner_megapolis.png")
                li.partners__item
                    a.partners__link(href="http://www.novotel.com/ru/russia/index.shtml" target="_blank")
                        img.partners__img(src="%=static=%img/content/partner_dewar.png")
                li.partners__item
                    a.partners__link(href="http://www.novotel.com/ru/russia/index.shtml" target="_blank")
                        img.partners__img(src="%=static=%img/content/partner_n.png")
                li.partners__item
                    a.partners__link(href="https://www.uber.com/ru/" target="_blank")
                        img.partners__img(src="%=static=%img/content/partner_uber.png")
                        p.partners__item-subtitle 400 рублей на первую поездку по коду UBERPOLYTECH
                li.partners__item
                    a.partners__link(href="http://art-btc.com/" target="_blank")
                        img.partners__img(src="%=static=%img/content/partner_abtc.png")
                li.partners__item
                    a.partners__link(href="http://art-btc.com/" target="_blank")
                        img.partners__img(src="%=static=%img/content/partner_philips.png")
                li.partners__item
                    a.partners__link(href="http://art-btc.com/" target="_blank")
                        img.partners__img(src="%=static=%img/content/partner_optoma.png")
                li.partners__item
                    a.partners__link(href="http://art-btc.com/" target="_blank")
                        img.partners__img(src="%=static=%img/content/partner_nether.png")
                li.partners__item
                    a.partners__link(href="http://rusland.um.dk/" target="_blank")
                        img.partners__img(src="%=static=%img/content/partner_eod.png")