mixin blog_post
    section.post
        .section__container
            article.blog-post.single
                a.blog-img
                    img(src='http://placehold.it/1280x720', alt='Post Image')
                .post-date
                    span.day 18
                    span.month JAN
                .post-container
                    h3.blog-title This is a really catchy blog title, no?
                    //- .blog-meta
                    //-     | Posted January 1, 2013 by 
                    //-     a(href='#') admin
                    //-     |   in
                    //-     a(href='#') design
                    //-     |   with 231
                    //-     a(href='#') comments
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta odit ab est itaque error unde nostrum tempore vitae rem quae iste facere dolore eveniet perferendis sint nobis exercitationem quod quidem.
                    blockquote
                        p
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ex repellat eius incidunt a impedit dolorem saepe expedita natus eos architecto eligendi minima illum voluptatibus corporis. Adipisci laborum quo! Eveniet.
                    ul
                        li Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo quasi!
                        li
                            | Minima voluptate vitae magnam aspernatur consequatur exercitationem voluptatibus unde error.
                        li Incidunt aperiam magnam fuga impedit ullam perferendis amet. Voluptatum tenetur?
                        li Obcaecati cumque cum commodi maiores unde mollitia adipisci cupiditate quas!
                    ul.post-container__gallery
                        li
                            img(src="http://www.windowscentral.com/sites/wpcentral.com/files/styles/large/public/field/image/2016/03/overwatch-winston.jpg")
                        li
                            img(src="http://images.cdn.stuff.tv/sites/stuff.tv/files/styles/big-image/public/brands/Blizzard/blizzard-overwatch-reaper.jpg")
                        li
                            img(src="http://images.cdn.stuff.tv/sites/stuff.tv/files/styles/big-image/public/brands/Games/Overwatch/Tips_and_tricks/overwatch_mercy_main.png")
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam commodi saepe aliquid error corrupti rerum quaerat dolore labore amet expedita reiciendis ipsam pariatur deserunt aspernatur cupiditate eos quasi delectus harum nobis odit
                        | molestiae ad non id aliquam eius consequatur porro! Ullam enim voluptatem unde vitae minima soluta sint. Sapiente sint!
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam commodi saepe aliquid error corrupti rerum quaerat dolore labore amet expedita reiciendis ipsam pariatur deserunt aspernatur cupiditate eos quasi delectus harum nobis odit
                        | molestiae ad non id aliquam eius consequatur porro! Ullam enim voluptatem unde vitae minima soluta sint. Sapiente sint!
                    img(src="http://images.cdn.stuff.tv/sites/stuff.tv/files/styles/big-image/public/brands/Games/Overwatch/Tips_and_tricks/overwatch_mercy_main.png")
                    p
                        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam commodi saepe aliquid error corrupti rerum quaerat dolore labore amet expedita reiciendis ipsam pariatur deserunt aspernatur cupiditate eos quasi delectus harum nobis odit
                        | molestiae ad non id aliquam eius consequatur porro! Ullam enim voluptatem unde vitae minima soluta sint. Sapiente sint!
                    //- .post-info
                    //-     .post-tags
                    //-         | Tags:
                    //-         a(href='#') design
                    //-         |   /
                    //-         a(href='#') development
                    //-         |   /
                    //-         a(href='#') workflow
                        //- .arrows
                        //-     a.arrow.next(href='#')
                        //-     a.arrow.prev(href='#')
