h3 {
    font-size: 16px;
}

img {
    width: 100%;
}

.page-type__museum .logo, .page-type__museum-support .logo {
    background-image: url(/eng/polytech_logo_rgb-01.png);
}

.page__header {
    height: 41px;
}

.poly-en__title {
    display: inline-block;
    margin-left: 200px;
    position: relative;
    top: -5px;
}

.logo {
    vertical-align: inherit;
}

.secondary-menu__link {
    cursor: default;
}

.secondary-menu__link:hover,
.secondary-menu__item--has-dropdown:hover>a {
    color: #333;
}

.sitemap {
    margin-bottom: 30px;
}

.sitemap ol>li>span {
    font-weight: bold;
}

.sitemap ol>li {
    margin-bottom: 10px;
}

ol {
    list-style-type: decimal;
    padding: 0 45px;
}

ol ul {
    padding: 0 20px;
}

.sidebar-widget {
    font-size: 14px;
}

.sidebar-widget a,
.sidebar-widget a:hover {
    text-decoration: underline;
}

.sidebar-title-link {
    color: #fff;
    font-weight: bold;
    display: block;
}

.inter-web_title {
    margin-bottom: 15px;
}

.content-area>blockquote {
    margin: 30px 20px 5px 90px;
}

.teaser-info__expo-desc {
    min-height: 240px;
    height: auto;
    max-height: 407px;
}

.teaser-info__expo-title {
    margin-top: 30px;
    margin-bottom: 20px;
}

.teaser-info__meta_expo {
    bottom: 0;
}

.teaser-bold {
    font-weight: bold;
}

.top-breadcrumbs {
    height: 10px;
}

.shake-on-click  a,
.shake-on-click  a:hover {
    text-decoration: none;
}

.sidebar-widget__feedback a:after {
    top: -5px;
}