
<!-- Footer -->
<footer id="footer" class="footer">
    <a href="#about" class="top-btn">
        <i class="fa fa-chevron-up"></i>
    </a>
    <div class="container">
        <div class="footer__social">
            <ul class="footer__social-list">
                <li class="footer__social-item">
                    <a class="footer__social-link" href="https://www.instagram.com/alice_polymus/" target="_blank">
                        <i class="polyicon-instagram footer__social-icon"></i>
                    </a>
                </li>
                <li class="footer__social-item">
                    <a class="footer__social-link" href="https://www.facebook.com/alice.polymus/" target="_blank">
                        <i class="polyicon-facebook footer__social-icon"></i>
                    </a>
                </li>
                <li class="footer__social-item">
                    <a class="footer__social-link" href="https://twitter.com/Alice_Polymus" target="_blank">
                        <i class="polyicon-twitter footer__social-icon"></i>
                    </a>
                </li>
                <li class="footer__social-item">
                    <a class="footer__social-link" href="https://www.flickr.com/photos/alice_polymus/" target="_blank">
                        <i class="polyicon-flickr footer__social-icon"></i>
                    </a>
                </li>
                <li class="footer__social-item">
                    <a class="footer__social-link" href="https://vk.com/alice_ufa" target="_blank">
                        <i class="polyicon-vk footer__social-icon"></i>
                    </a>
                </li>
            </ul>
            <!--<ul class="footer__social-list">-->
                <!--<li class="footer__social-item">-->
                    <!--<a class="footer__social-link" href="https://www.facebook.com/polytechnicum" target="_blank">-->
                        <!--<i class="polyicon-facebook footer__social-icon"></i>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="footer__social-item">-->
                    <!--<a class="footer__social-link" href="https://twitter.com/Polytechnicum" target="_blank">-->
                        <!--<i class="polyicon-twitter footer__social-icon"></i>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="footer__social-item">-->
                    <!--<a class="footer__social-link" href="https://vk.com/polytechnicum" target="_blank">-->
                        <!--<i class="polyicon-vk footer__social-icon"></i>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="footer__social-item">-->
                    <!--<a class="footer__social-link" href="http://ok.ru/group/53227509383279" target="_blank">-->
                        <!--<i class="polyicon-odnoklassniki footer__social-icon"></i>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="footer__social-item">-->
                    <!--<a class="footer__social-link" href="http://instagram.com/polytechnicum" target="_blank">-->
                        <!--<i class="polyicon-instagram footer__social-icon"></i>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="footer__social-item">-->
                    <!--<a class="footer__social-link" href="http://www.youtube.com/user/polytechnicum" target="_blank">-->
                        <!--<i class="polyicon-youtube footer__social-icon"></i>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="footer__social-item">-->
                    <!--<a class="footer__social-link" href="https://www.flickr.com/photos/polytechnicum/" target="_blank">-->
                        <!--<i class="polyicon-flickr footer__social-icon"></i>-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
        </div>
        <div class="footer__info clearfix">
            <div class="footer__info-col col-xs-12">
                <span>Контакты для посетителей:</span>
                <span>8 (347) 294-90-02</span>
                <!--<a href="mailto:info@polymus.ru">info@polymus.ru</a>-->
            </div>
            <div class="footer__info-col col-xs-12">
                <span>Контакты для СМИ:</span>
                <span>Олеся Перова</span>
                <span>8 (937) 343-65-41</span>
                <!--<a href="mailto:nvaredona@polymus.ru">nvaredova@polymus.ru</a>-->
            </div>
            <div class="footer__info-col col-xs-12">
            <!--<div class="footer__info-col col-xs-12 footer__info-contacts">-->
                <a class="footer-link" target="_blank" href="https://polymus.ru/ru/copyrights/">Использование материалов сайта</a>
                <a class="footer-link" target="_blank" href="https://polymus.ru/ru/agreement/">Соглашение с пользователем</a>
                <span>&copy; 2005-2016 Политехнический музей</span>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->


<!-- JS and analytics only. -->
<script src="js/skyline.js"></script>
</body>
</html>