mixin key_image
    .key-image
        img.key-image__date(src="%=static=%img/general/07.png", alt="")

        .key-image__title
            .key-image__planet-red-big.js-key-image-parallax(data-speed='3')
            .key-image__planet-yellow-medium.js-key-image-parallax(data-speed='7')
            .key-image__planet-yellow-small.js-key-image-parallax(data-speed='8')
            .key-image__planet-red-medium.js-key-image-parallax(data-speed='7')
            .key-image__planet-red-small.js-key-image-parallax(data-speed='3')
            .key-image__cosmonaut.js-key-image-parallax(data-speed='2')
            .key-image__cosmos
            .key-image__era-born
            .key-image__exhibition

            a(href="https://www.instagram.com/explore/tags/%D0%BA%D0%BE%D1%81%D0%BC%D0%BE%D1%81%D1%80%D0%BE%D0%B6%D0%B4%D0%B5%D0%BD%D0%B8%D0%B5%D0%BD%D0%BE%D0%B2%D0%BE%D0%B9%D1%8D%D1%80%D1%8B/" target="_blank").hashtag
                //- img(src="%=static=%img/general/hashtag.png", alt="")

            a(href="#map").location-text.js-go-to

        //- .key-image__title
        //-     img.key-image__planet-red-big.js-key-image-parallax(src='%=static=%img/general/key_planet_red_big.png' srcset="%=static=%img/general/key_planet_red_big_m.png 1000w, %=static=%img/general/key_planet_red_big_s.png 720w" data-speed='3')
        //-     img.key-image__planet-yellow-medium.js-key-image-parallax(src='%=static=%img/general/key_planet_yellow_medium.png' srcset="%=static=%img/general/key_planet_yellow_medium_m.png 1000w, %=static=%img/general/key_planet_yellow_medium_s.png 720w" data-speed='7')
        //-     img.key-image__planet-yellow-small.js-key-image-parallax(src='%=static=%img/general/key_planet_yellow_small.png' srcset="%=static=%img/general/key_planet_yellow_small_m.png 1000w, %=static=%img/general/key_planet_yellow_small_s.png 720w" data-speed='8')
        //-     img.key-image__planet-red-medium.js-key-image-parallax(src='%=static=%img/general/key_planet_red_medium.png' data-speed='7')
        //-     img.key-image__planet-red-small.js-key-image-parallax(src='%=static=%img/general/key_planet_red_small.png' data-speed='3')
        //-     img.key-image__cosmonaut.js-key-image-parallax(src='%=static=%img/general/01.png' srcset="%=static=%img/general/01_m.png 1000w, %=static=%img/general/01_s.png 720w" data-speed='2')
        //-     img.key-image__cosmos(src='%=static=%img/general/02.png' srcset="%=static=%img/general/02_m.png 1000w, %=static=%img/general/02_s.png 720w")
        //-     img.key-image__era-born(src='%=static=%img/general/03.png')
        //-     img.key-image__exhibition(src='%=static=%img/general/08.png')

        //-     a(href="https://www.instagram.com/explore/tags/%D0%BA%D0%BE%D1%81%D0%BC%D0%BE%D1%81/" target="_blank").hashtag
        //-         img(src="%=static=%img/general/hashtag.png", alt="")

        //-     img(src="%=static=%img/general/location.png" srcset="%=static=%img/general/location_m.png 1000w, %=static=%img/general/location_s.png 720w" alt="").location-text
