doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/article_head/article_head
    include ../components/article_teaser/article_teaser
    include ../components/article_quote/article_quote
    include ../components/article_p/article_p
    include ../components/footer/footer

    head
        +head(head.article)
    body.page
        |%=symbols=%

        +header()
        
        +article_head()

        .l-grid.l-grid--article
            +article_teaser(
                'Новые форматы — драйверы роста',
                '',
                'Трафик заведений быстрого питания растет, несмотря на макроэкономические трудности: будущее за гибкими, мобильными и современными форматами'
            )
            .l-article__content
                +article_p('В целом рынок общепита, как сообщает Росстат, за 2015 год потерял 76 млрд руб., а совокупные продажи российских ресторанов, баров и кафе упали на 6% до 1,293 трлн руб. Только в Москве в период с ноября 2014 года по январь 2015 года закрылись 46 ресторанов. Но отказавшись от посещения ресторанов и кафе с высокой стоимостью чека, россияне переключились на более демократичные заведения. Одновременно отечественные предприниматели стали активно искать новые способы организации бизнеса для повышения его рентабельности. Всего несколько лет назад классификация заведений общественного питания состояла целиком из традиционных понятий: кафе, ресторан, бистро, кулинария, столовая. Но сегодня автобуфеты, тонары, мобильные кофейни, фудфесты, фудмаркеты и другие новые форматы набирают всё большую популярность.')

                +article_p('Демократичные сетевые концепции и проекты индивидуальных предпринимателей смогли не только выстоять в условиях нестабильной макроэкономической конъюнктуры и девальвации рубля, но и найти точки роста. В 2015 году трафик заведений быстрого питания вырос на 10%, подсчитали в NPD Group. Примечательно, что это произошло на фоне увеличения стоимости среднего чека на 7%. Та же тенденция наблюдается и в 2016 году. По данным NPD Group, в первом квартале текущего года посещаемость точек фастфуда стала выше еще на 3%. При этом по динамике посещаемости предприятия фастфуда обошли небольшие кофейни, сегмент которых вырос на 4%. Показательно, что 23% оборота этих заведений принесла дополнительная услуга «кофе с собой».')

                +article_quote(
                    'Вместе с самим рынком общепита растет и рынок b2b-сервисов для него. Прежде всего это касается современных технологий, без которых уже совсем скоро этот бизнес станет немыслим. Создатели самых прогрессивных систем автоматизации ресторанов и кафе используют облачные структуры.',
                    'Программа Quick Resto позволяет управлять и мониторить в режиме онлайн всё предприятие, даже если оно состоит из множества отдельных точек, и делать это можно с любого устройства в любой точке мира. Полный доступ в бэк-офис для руководителя, управление и анализ программ лояльности для маркетолога, интеграция с «1С» для бухгалтера, производственный и складской учет, менеджмент технологических карт и, наконец, терминалы для работников зала — всё это объединено в Quick Resto.'
                )

                +article_p('Одно из самых современных и перспективных направлений общественного питания — стритфуд, или уличная еда. Сюда входят самые разные виды точек питания, от маленьких павильончиков и передвижных киосков на рынках до фудтраков и компактных мобильных кофеен, расположенных в людных местах. «В Москве сегодня существует порядка 130 фудтраков, их количество постоянно увеличивается, — рассказывает ответственный секретарь комиссии по мобильным кафе Федерации рестораторов и отельеров России Дмитрий Жуков. — Если на начало весны прирост составлял 15% в сравнении с прошлым годом, то в середине июня он увеличился до 17,5%. Даже сейчас они появляются чуть ли не день ото дня».')

                +article_p('Однако по закону в фудтраках нельзя готовить. На глазах у покупателя бариста только собирает продукт из приготовленных заранее ингредиентов и разогревает его. «Существует федеральный закон № 381-ФЗ. Однако в нем нет положений, которые бы регулировали работу мобильных точек питания. Соответствующие поправки к этому закону разработаны, их лоббирует Минпромторг. Уже около года длится эта история, и мы никак не можем довести ее до логического конца: то один департамент с чем-то не согласен, то другой», — добавляет Дмитрий Жуков.')

                +article_p('Новым модным явлением в ресторанном бизнесе стало наличие в заведениях зоны открытой кухни. Посетители могут быть уверены в качестве поданных блюд — весь процесс приготовления происходит прямо на их глазах. Одни рестораторы предпочитают разместить кухню за специальной стеклянной перегородкой, другие определяют рабочее место для своих поваров непосредственно в зале, третьи организуют открытую кухню в виде линии раздачи. Еду готовят всё так же на глазах у гостей, но здесь нет официантов. Такая система получила название «фри-фло», что в переводе означает «свободное движение».')

                +article_p('Кроме того, российский рынок доставки еды сегодня развивается завидными темпами. По данным аналитиков РБК, его доля в 2015 году выросла до 18%. И несмотря на снижение оборота предприятий общественного питания на 5,5%, рынок доставки готовой еды потерял только 2,6%. Даже в небольших несетевых ресторанчиках и пиццериях с собственным производством, для которых открывать специальную службу доставки отнюдь не рентабельно, стали нанимать для этих целей курьеров.')

                +article_quote('Согласно собственному исследованию РБК, в 2016 году количество запросов о доставке еды на портале «Яндекс» увеличилось на 14,1%, а запросы по ключевым словам «доставка пиццы» стали появляться чаще на 8,7%.')

                +article_p('Гастроэнтузиасты не оставили без внимания и автомобилистов. Для тех, кто голоден и не хочет выходить из салона автомобиля, предусмотрены точки питания в формате drive-thru. В России такой формат встречается как у крупных сетевых компаний, таких как «Макдональдс» и KFC, так и у отдельных предпринимателей.')

                +article_p('Те же предприниматели, которые не готовы переводить традиционные кафе и рестораны в новые гастрономические форматы, вынуждены фантазировать. Они открывают дополнительные летние зоны на крышах, смело экспериментируют с материалами и способами оформления интерьера, устраивают акции и скидки, организуют специальные места для животных, с которыми гости при желании могут пообщаться. Новая тенденция гастрономического рынка — секретные рестораны и бары, попасть в которые можно только по знакомству или предварительному звонку хозяину заведения.')

                +article_p('Гастроэнтузиасты постоянно ставят опыты с продуктами и их сочетаемостью, неустанно ищут новые кулинарные направления. Так, одни готовят свои бургеры на черных булочках и только из фермерских продуктов, а другие угощают мороженым из свеклы и шишек пихты. Продемонстрировать кулинарные наработки и повысить узнаваемость своего заведения они могут на фудфестах.')

                +article_p('Гастрономические фестивали — это просторные организованные площадки, где собираются как представители крупных сетевых ресторанов, владельцы малого бизнеса, так и кулинары-любители. Организаторами таких гастрономических фестивалей выступают не только предприимчивые бизнесмены. В последние годы к их проведению подключилось правительство. Например, власти Москвы запускают фестивали «Московское мороженое», «Рыбная неделя», «Наш продукт», «Московское варенье» и другие. «Городские фестивали — надежная платформа для развития бизнеса, а также для популяризации отечественных товаров», — говорится на сайте департамента торговли и услуг города Москвы. Ежедневные расходы гостей столицы, которые путешествуют в рамках событийных туров, составляют в среднем 4,5 тысячи рублей. Такие данные приведены на официальном сайте мэра Москвы.')

                +article_quote('«На первых порах основным фактором нашего участия в фестивалях была коммерческая составляющая, но в дальнейшем цели немного трансформировались, — поделился Евгений Зверков, владелец фудтрака Griller в Сочи. — Именно на гастрофестах мы "подглядываем" за трендами, перенимаем опыт и учимся у других участников. Всё это находит отражение при строительстве наших новых фудтраков. Именно массовые мероприятия заставляют проверить на прочность твой проект».')

                +article_p('Организаторы стараются насыщать свои фестивали увлекательными гастрономическими событиями: приглашают ведущих российских и зарубежных шеф-поваров для проведения мастер-классов, устанавливают библиотеки и лавки с собраниями редких поваренных книг, устраивают фермерские рынки, лектории, кинопоказы и кулинарные школы для детей, ставят торговые палатки с сувенирами и посудой, приглашают диетологов для консультации посетителей, разрабатывают спортивную и музыкальную программы. На слуху фестивали «Вкусно и полезно», «О, да! Еда!», Taste of Moscow, Food Fest, «Веганфест», «Московский гастрономический фестиваль», Street Food Weekend, «Вкусная страна» и другие.')

                +article_quote(
                    'В апреле 2015 года состоялся первый «Фестиваль фудтраков».',
                    'На нем собралось 20 фудтраков и более 15 000 гостей. В том же году организовали еще три таких же фестиваля, по итогам которых было продано 55 500 порций приготовленных угощений.'
                )

                +article_p('Цены на участие в фестивалях для предпринимателей сильно разнятся. Однако при условии грамотно организованной работы затраты быстро окупятся. «В мае этого года мы принимали участие в работе фудкорта фанзоны Чемпионата мира по хоккею в Москве. Всё это мне обошлось в 350 тысяч рублей за две недели работы, а буквально через неделю мы отправились в Самару на ежегодный фестиваль набережных, участие в котором было бесплатным. Самое интересное, что самарский фестиваль с финансовой точки зрения оказался более успешным, чем московский ивент», — отметил Евгений Зверков.')

                +article_p('«Если организатор понимает, какую примерно выручку может сделать оператор, и устанавливает приемлемую стоимость участия, то здесь получается довольно выгодная история. Но существует и другой вариант развития событий, когда организатор накручивает заоблачные цены. Обычно на такие вещи попадает молодежь, начинающие энтузиасты. Платят за аренду, условно говоря, 50 тысяч рублей и уходят в глубокий минус. Здесь главное — заранее рассчитывать возможную выручку, свои доходы и расходы. Сейчас мы несколько раз практиковали новую систему платы за участие: у нас не было фиксированной стоимости, операторы платили определенный процент от выручки», — говорит ответственный секретарь комиссии по мобильным кафе Федерации рестораторов и отельеров России Дмитрий Жуков.')

                +article_p('Использовать такие системы платы за участие, а также вообще снизить затраты на ведение ресторанного бизнеса и улучшить качество управления им призваны современные системы автоматизации. Сами новые модные форматы общественного питания подразумевают наличие динамичных, гибких и мобильных систем. Переход от трудоемких ручных операций к использованию информационных технологий ускоряет все процессы, позволяет снизить риск ошибок и злоупотреблений в работе персонала, в конечном итоге повышает финансовую устойчивость и экономическую эффективность заведения.')

                +article_p('Представители малого бизнеса обычно применяют автоматизированные системы управления для организации как поддерживающих, так и основных бизнес-процессов. При этом управляющий получает возможность в режиме реального времени ежедневно их все. Современные сервисы позволяют принимать заказы и оперативно, в режиме онлайн, передавать их на кухню; в любое время вносить в открытые счета новые заказы; принимать оплату любого типа с учетом скидок, преимуществ клубных карт и бонусных программ; печатать фискальные квитанции и многое другое. На рынке есть системы организации учета в сфере ресторанного бизнеса, но только самые современные из них могут предложить удаленный мониторинг расходов, прибыли и полного контроля бизнеса для его владельца или управляющего.')

                +article_quote('«Несомненно, автоматизация — необходимое вложение, — говорит Евгений Зверков. — Например, в июле мы организовывали питание на Всемирных хоровых играх в Сочи. Как раз там люди работали не за фиксированную плату, а за проценты с товарооборота. Для этого была привлечена компания Quick Resto. Мы снабдили необходимым программным обеспечением несколько точек питания. Практически в режиме онлайн мы смогли увидеть всё, что происходит на торговой точке: количество чеков, средний чек, выручку за день. По этим показателям производили взаиморасчет. То есть это очень полезная история»')

            .c-article__footer
                p.c-article__footer-title Читать другие статьи
                ul.c-article__footer-tile-list
                    li.c-article__footer-tile-item
                        a.c-article__footer-tile-link(href="article2.html")
                            h4.c-article__footer-tile-title Как открыть собственную точку питания
                    li.c-article__footer-tile-item
                        a.c-article__footer-tile-link(href="article3.html")
                            h4.c-article__footer-tile-title Особенности <span>нового</span> законодательства
                    li.c-article__footer-tile-item
                        a.c-article__footer-tile-link(href="article1.html")
                            h4.c-article__footer-tile-title Франчайзинг: автоматизация минимизирует риски


        +footer()

        script(src="https://unpkg.com/social-likes-next/dist/social-likes.min.js")
        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();