doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/article_head/article_head
    include ../components/article_teaser/article_teaser
    include ../components/article_quote/article_quote
    include ../components/article_p/article_p
    include ../components/footer/footer

    head
        +head(head.article2)
    body.page
        |%=symbols=%

        +header()
        
        +article_head()

        .l-grid.l-grid--article.c-article2
            +article_teaser(
                'Как открыть собственную точку питания',
                '',
                'Концепция общественного питания за последние несколько лет изменилась кардинально. Если раньше точки быстрого питания предлагали очень ограниченный и скудный выбор, то сейчас появилось множество новых форматов. Соответственно, меняются и схемы запуска бизнеса',
                'illustration_2_article_mobile.svg'
            )
            .l-article__content
                +article_p('Какой бы формат общепита вы ни выбрали, компанию в любом случае обязательно надо оформить по всем правилам действующего законодательства. Для того чтобы открыть собственную точку питания в первую очередь необходимо зарегистрировать в налоговом органе юридическое лицо — общество с ограниченной ответственностью или индивидуального предпринимателя. Обычно выбор нужного юридического «формата» напрямую зависит от планируемого объема реализации и от количества занятых в работе сотрудников.')

                +article_p('Регистрация индивидуального предпринимателя — наиболее простой способ начать собственное дело. Для оформления свидетельства в налоговой потребуется минимум документов: заявление, копия российского паспорта и квитанция, подтверждающая оплату государственной пошлины. Готовое свидетельство о регистрации ИП выдают всего через три дня. Главные преимущества индивидуального предпринимателя — отсутствие требований к размеру уставного капитала, упрощенная по сравнению с ООО бухгалтерская отчетность, более гуманные штрафы за нарушения законодательства, существенные льготы по страховым взносам и пониженные тарифы для наемных работников.')
                
                +article_quote('«Для работы небольшого кафе, а также нашего фудтрака на выездных мероприятиях мы используем Quick Resto. Это приложение отвечает всем нашим задачам. Его можно поставить на устройство, которое есть практически у каждого, — планшет или iPad, — делится Павел Абрамов, совладелец кафе Pho. — Удобно пользоваться простым интерфейсом и, что еще немаловажно, легко объяснить персоналу суть работы такой кассы. Одно из главных достоинств программы в том, что весь комплект оборудования можно брать с собой на любые мероприятия и свободно размещать его в небольшом пространстве».')
                
                +article_p('Если начинающий бизнесмен решает стать индивидуальным предпринимателем, ему стоит иметь в виду и сложности, которые могут возникнуть с такой юридической формой, и заранее их учитывать при планировании. К примеру, индивидуальный предприниматель рискует собственным имуществом, даже если оно не задействовано в предпринимательской деятельности. Также для ИП действует запрет на ведение некоторых видов деятельности: к сожалению, этой категории бизнесменов нельзя реализовывать алкоголь в розницу, что для точки питания может стать серьезным препятствием в достижении успеха. Кроме того, индивидуальным предпринимателям немного сложнее расширять бизнес, чем ООО.')

                +article_p('Для регистрации общества с ограниченной ответственностью потребуется подготовить чуть больше документов, чем для ИП. Кроме того, для открытия ООО придется заплатить в виде пошлин 4 тысячи рублей вместо 800 рублей, которые просят за оформление ИП. При этом у ООО гораздо шире возможности по использованию инструментов, призванных развивать бизнес. Например, ООО проще получить кредит или отсрочку платежа. Также эта форма ведения бизнеса позволяет расширять дело без внесения каких-либо изменений в действующий устав. Но не стоит забывать и об обратной стороне медали. Так, общество с ограниченной ответственности вынуждено вести полноценные бухгалтерскую отчетность и налоговый учет.')

                +article_quote('Открывая ООО, вы заплатите 4000 рублей в качестве госпошлины, а оформление ИП обойдется в 800 рублей.')
                
                +article_p('Все предприятия общественного питания контролирует Санэпидемстанция, которая предъявляет множество требований к «кулинарной» точке. Согласно Федеральному закону № 184-ФЗ «О техническом регулировании», предпринимателю необходимо получить разрешение и сертификаты на оказание услуг.')

                +article_p('Также, согласно Трудовому кодексу, каждый сотрудник, задействованный в работе точки питания, обязан получить медицинскую книжку. Для этого работнику придется пройти осмотр у необходимых врачей. На любой кухне для приготовления и даже просто разогрева пищи применяется пожароопасное оборудование, а значит, необходимо соблюсти все требования пожарной безопасности и пройти соответствующий инструктаж. Также все кафе или рестораны должны быть оборудованы огнетушителями. Заключение пожарной службы потребуется в будущем и для получения разрешения на работу от Санэпидемстанции, и для сертификации услуг общественного питания.')

                +article_quote('Наиболее важные документы, необходимые для законной работы кафе или ресторана, — это договор об аренде помещения, заключение и разрешение СЭС, разрешение на оформление фасада здания, выписка пожарной охраны, договор на вывоз мусора. Эти разрешения — основа основ бизнеса. Но помимо них владельцу точки питания вне зависимости от ее концепции и размера придется оформить множество других документов: штатное расписание, договор с банком об открытии счета, книгу жалоб и предложений, журнал замены фритюрных жиров и многое-многое другое.')
                
                +article_p('Если же кафе или ресторан планирует реализовывать алкогольные напитки, придется еще получить соответствующую лицензию и зарегистрироваться в Федеральной службе по регулированию алкогольного рынка Российской Федерации и подключиться к Единой государственной автоматизированной информационной системе (ЕГАИС). Согласно Федеральному закону № 182-ФЗ «О внесении изменений в Федеральный закон "О государственном регулировании производства и оборота этилового спирта, алкогольной и спиртосодержащей продукции и об ограничении потребления (распития) алкогольной продукции"», с 1 июля этого года все организации, занимающиеся реализацией алкогольной продукции, обязаны регистрировать в системе не только закупку товара, но и его реализацию, считывая специальный код, нанесенный на каждую бутылку. Многих владельцев кафе и ресторанов, где клиентам предлагают алкогольные напитки, эта новость вначале очень расстроила. В системе общественного питания, особенно если речь идет о крупном ресторане с большой проходимостью, новое правило могло бы сильно затруднить и замедлить работу. Но к счастью, в Федеральной службе пояснили, что рестораны не обязаны регистрировать факт реализации алкоголя. Их задача — лишь внести поступивший товар в систему, что, разумеется, сильно упрощает работу.')

                +article_p('В середине лета в Федеральный закон № 54-ФЗ «О применении контрольно-кассовой техники» были внесены поправки, согласно которым данные обо всех расчетах с потребителями должны передаваться в налоговые органы через интернет. Для некоторых точек питания, таких как модные сейчас фудтраки, применение новой системы может быть связано с некоторыми трудностями. Проблема в том, что не все такие точки имеют доступ к интернету, иногда связь может прерываться, а это значит, что заминок в работе, к сожалению, не избежать. Но серьезных сбоев, а значит, и штрафных санкций, ждать в этом случае всё же не стоит. Дело в том, что система даже офлайн сохраняет информацию о сделке и передает ее при следующем подключении к интернету.')

                +article_p('При этом предприниматели по-прежнему обязаны выдавать покупателям и бумажные чеки, причем теперь продавец обязан по требованию клиента выслать чек по электронной почте. Хорошая же новость заключается в том, что процедура регистрации аппарата заметно упростилась: теперь провести все необходимые действия можно через интернет. К 2018 году предприниматели, работающие по ЕНВД (единый налог на вмененный доход) и ПСН (патентная система налогообложения), также обязаны будут обзавестись «виртуальными» кассовыми аппаратами.')

                +article_quote('Автоматизация — необходимость для успешного бизнеса вне зависимости от того, крупный он или нет.')
                
                +article_p('Для многих современных компаний, которые активно используют в своей работе различные онлайн-сервисы, переход на новые кассовые аппараты не станет трудным: сотрудники уже привыкли использовать современные программы, а значит, для освоения нового оборудования им потребуется гораздо меньше времени. Сегодня без автоматизации основных рабочих процессов просто-напросто невозможно представить себе успешный бизнес. И чем крупнее предприятие, тем больше технологичных средств требуется применять в своей деятельности предпринимателям. При этом, когда предприниматель только открывает собственное заведение, он, конечно, старается минимизировать общие капитальные затраты. В этом случае оптимальным решением становятся облачные системы автоматизации — оборудование обходится гораздо дешевле, а программное обеспечение доступно за абонентскую плату. Бизнесмену не нужно приобретать дорогостоящие лицензии: расходы возникают только тогда, когда предприятие работает и владелец и персонал пользуются программой. Сегодня среди облачных систем автоматизации наибольшей популярностью пользуются продукты компании Quick Resto.')
                
                +article_p('По словам Евгения Зверкова, владельца фудтрака Griller в Сочи, который стал одним из первых пользователей программного обеспечения Quick Resto, некоторые недоработки приходилось исправлять совместно с компанией-разработчиком. Однако предприниматель получал квалифицированную помощь в любое время суток. И это стало еще одним плюсом в копилку Quick Resto, если сравнивать их с конкурентами. «На собственном опыте знаю, каково ждать настройщика несколько дней (особенно в выходные или праздники) и после десяти минут работы оплачивать счета в несколько тысяч рублей, — делится Евгений Зверков. — Из основных достоинств, помимо перечисленного, хочется отметить возможность оперативного дистанционного контроля работы предприятия. Благодаря облачному сервису возможно оперативно вносить изменения в меню, следить за текущей выручкой, отслеживать топ продаваемых блюд и прочие фичи, находясь фактически в любом месте земного шара».')

            .c-article__footer
                p.c-article__footer-title Читать другие статьи
                ul.c-article__footer-tile-list
                    li.c-article__footer-tile-item
                        a.c-article__footer-tile-link(href="article.html")
                            img.c-article__footer-img(src="%=static=%img/general/article_footer_4.svg" alt="")
                            h4.c-article__footer-tile-title Новые форматы — драйверы роста
                    li.c-article__footer-tile-item
                        a.c-article__footer-tile-link(href="article3.html")
                            img.c-article__footer-img(src="%=static=%img/general/article_footer_2.svg" alt="")
                            h4.c-article__footer-tile-title Особенности <span>нового</span> законодательства
                    li.c-article__footer-tile-item
                        a.c-article__footer-tile-link(href="article1.html")
                            img.c-article__footer-img(src="%=static=%img/general/article_footer_3.svg" alt="")
                            h4.c-article__footer-tile-title Франчайзинг: автоматизация минимизирует риски


        +footer()

        script(src="https://unpkg.com/social-likes-next/dist/social-likes.min.js")
        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();