doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/article_head/article_head
    include ../components/article_teaser/article_teaser
    include ../components/article_quote/article_quote
    include ../components/article_p/article_p
    include ../components/footer/footer

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        +header()
        
        +article_head()

        .l-grid.l-grid__article
            +article_teaser()
            +article_p()
            +article_quote()

        +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();