doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/article_head/article_head
    include ../components/article_teaser/article_teaser
    include ../components/article_quote/article_quote
    include ../components/article_p/article_p
    include ../components/footer/footer

    head
        +head(head.article1)
    body.page
        |%=symbols=%

        +header()
        
        +article_head()

        .l-grid.l-grid--article.c-article1
            +article_teaser(
                'Франчайзинг: автоматизация минимизирует риски',
                '',
                'Несмотря на экономические трудности в стране, 34% россиян готовы открыть свой бизнес. Но сейчас организовать стабильное предприятие с минимальными рисками и высоким доходом не так просто.',
                'illustration_4.svg'
            )
            .l-article__content
                +article_p('В поисках наиболее доступной и востребованной отрасли многие начинающие предприниматели обращаются к ресторанному бизнесу, оборот которого, по данным Росстата, в 2015 году составил 1,293 трлн руб. Быстро выйти на рынок и запустить ресторан с минимальными затратами помогает франчайзинг.')

                +article_p('Согласно результатам проведенного в мае исследования ВЦИОМ, 34% россиян готовы начать свое дело. Сегодня существует немало перспективных отраслей. Сфера услуг общественного питания — одна из самых прибыльных, но и одна из наиболее затратных для предпринимательской деятельности. В этом отношении франчайзинг может стать быстрым и доходным стартом для ресторатора.')

                +article_p('Это бизнес-явление пришло в Россию из стран Запада. По словам исполнительного директора Российской ассоциации франчайзинга (РАФ) Юрия Михайличенко, за рубежом готовый бизнес является основным каналом продвижения товаров, более 40% мирового товарооборота реализуется через франчайзинговые сети. По темпам развития франчайзинга в мире лидирующие позиции занимают США, Канада, Корея, Япония и Австралия. Среди европейских стран доминируют Франция, Германия и Великобритания.')

                +article_p('Сегодня на отечественном рынке представлено порядка 1000 действующих франшиз и около 40 тысяч точек готового бизнеса. Для сравнения, в 2010 году их насчитывалось только 18,5 тысяч. Такие данные приводят эксперты Российской ассоциации франчайзинга. При этом 70% франшиз занято в сферах общепита, услуг и розничной торговли. Несмотря на нестабильную политико-экономическую ситуацию в стране, каждый год этот рынок продолжает расти.')

                +article_quote('Росту числа франшиз способствуют и современные технологии автоматизации ресторанного бизнеса. Например, система QuickResto дает возможность онлайн контролировать обороты франчайзи. Это позволяет франчайзерам предлагать более гибкие условия франшизы. Переход на такие принципы работы выгоден и безопасен для обеих сторон.')

                +article_p('В 2012 году эксперты Европейской ассоциации франчайзинга говорили об увеличении российского рынка готового бизнеса на 98% за трехлетний период. В 2014 году зафиксирован рост на 25%. По разным оценкам, в этот год оборот российского рынка франшиз в сумме составил около $5 млрд, а его вклад в ВВП — от 1 до 3,5%. В 2015 году темпы роста немного замедлились и составили 15%.')

                +article_p('Согласно собственному исследованию РБК, на условиях франчайзинга в России работает 52,2% всех сетевых ресторанов, кафе и баров. С мая прошлого года этот показатель вырос на 4,2%. Эксперты уверены, что позитивная тенденция сохранится. По их прогнозам, к 2025 году по этой схеме в стране будут функционировать порядка 400 тысяч предприятий. Если рынок продолжит развиваться по этому сценарию, в стране появится от 4 до 5 миллионов новых рабочих мест.')

                +article_p('Какие же преимущества предполагает покупка франшизы для начинающего ресторатора? В первую очередь она дает возможность быстрого запуска и раскрутки своего бизнеса. Во многом это происходит за счет того, что уже к моменту открытия заведения франчайзи имеет лояльных к бренду потребителей. К тому же его расходы на проведение рекламных и маркетинговых кампаний сведены к минимуму: забота о популяризации бренда в первую очередь лежит на плечах франчайзера.')

                +article_quote('«В среднем, чтобы открыть кафе Tea Funny по франшизе, требуется примерно полтора месяца, — рассказывает генеральный директор компании «Ти Фанни Ворлд» Антон Сухарев. — В компании ведется постоянное сопровождение клиента с момента поступления заявки. После заключения договора франчайзи выдаются стандарты работы кафе, составленные с четким планом и графиком работ, начиная с открытия юридического лица для ведения бизнеса и заканчивая рекомендациями по покупке дополнительного оборудования. В случае если необходима дополнительная помощь, на торговую точку направляются выездные специалисты, в том числе технологи».')

                +article_p('Другая неоспоримая выгода — доступ к базе знаний уважаемой сети компаний. Начинающий предприниматель сможет избежать многих ошибок, если ему предоставят готовый бизнес-план, «работающую» концепцию, необходимые инструкции по организации предприятия. От франчайзи требуется лишь четко следовать заявленным требованиям правообладателя. И это вполне обоснованно: эффективность работы сотрудников нового заведения напрямую отразится на репутации всей сети. Пицца, купленная в провинции и в столице, должна быть абсолютно одинакова по своему вкусу, внешнему виду и качеству.')

                +article_p('Грамотный франчайзер рассчитывает оптимальную плотность размещения предприятий, что гарантирует франчайзи защиту от возможного конфликта интересов. Обладатели франшизы одной и той же компании могут быть уверены, что им не придется конкурировать между собой в пределах определенного региона. Чаще всего франчайзер предоставляет своим партнерам прямые контакты проверенных производителей продуктов питания и поставщиков оборудования, с которыми придется сотрудничать владельцу нового ресторана.')

                +article_p('В свою очередь, для владельца крупной сети предприятий вступление в систему франчайзинговых отношений — это отличный способ при минимальных затратах расширить свой бизнес в различных регионах, а иногда и странах. Он гарантированно получает регулярный доход.')

                +article_quote('Развитие франчайзинговой сети — дополнительная форма рекламы, которая не требует отдельных финансовых инвестиций. Чем больше точек питания открыто, тем больше людей узнают о бренде.')

                +article_p('Конечно, франчайзинг не лишен недостатков. Во-первых, «арендатор» готового бизнеса вынужден строго подчиняться заранее оговоренным требованиям «арендодателя». Это означает практически полное отсутствие свободы действий и инициативы в бизнесе без согласования с руководством. Несоблюдение условий договора грозит внушительными штрафами и лишением лицензии на франшизу. Еще один недостаток — полная зависимость проекта франчайзи от стабильности управляющей компании. Если франчайзер потерпит финансовый крах, банкротом станет и предприниматель, купивший его франшизу.')

                +article_p('Франшизы — это не универсальное средство для решения всех проблем начинающих бизнесменов, поэтому перед заключением договора коммерческой концессии предпринимателю следует тщательно просчитать все предстоящие расходы и трезво взглянуть на свои финансовые возможности. Не стоит забывать и о роялти: необоснованно высокий размер обязательных платежей может свести рентабельность проекта к нулю. На отечественном рынке он колеблется в пределах от 5 до 8% от объема продаж.')

                +article_quote('«Только на основе корректного аналитического блока можно строить эффективную систему управления. Сегодня мы анализируем свой бизнес со всех возможных углов зрения: структура продаж, динамика в целом, динамика по группам товаров, планирование и бюджетирование, отклонения, — рассказывает Михаил Тихомиров, совладелец сети кофеен Black & White. — Благодаря системе Quick Resto всё это возможно в режиме онлайн, в любой момент времени и в любой точке на карте мира. Это простая и понятная система, удобно структурирующая и отражающая данные. Еще один плюс — компактное многофункциональное оборудование. Планшет — это касса, бухгалтерия, прием заказов, интернет и чат в одном наборе. Совместно с менеджерами компании Quick Resto мы ведем постоянную работу по оптимизации и доработке»')

                +article_p('Особое внимание следует обратить на договор, заключаемый при покупке франшизы. Намеренно или по ошибке там может быть использована неверная терминология, неточно определены передаваемые права или указаны дополнительные условия. Например, ограниченный выход из бизнеса или дополнительные денежные сборы.')

                +article_p('Интересно, что пострадать от недобросовестности своего партнера может и сам франчайзер. Получив уникальные коммерческие сведения, похитив авторские идеи, технологии и отработанные схемы организации бизнеса, уставший от контроля сверху партнер может уйти из-под крыла франчайзера и стать его прямым конкурентом. В этом плане слабость отечественного законодательства очевидна: ни одна из сторон не застрахована от франчайзинговых афер.')

                +article_quote('На сегодняшний день в России не существует надежного государственного механизма, который гарантировал бы защиту коммерческой тайны правообладателя.')

                +article_p('Кроме того, франчайзер рискует недополучить свою долю от выручки партнера. Работать с фиксированной суммой ежемесячных выплат с этой точки зрения проще, хотя и зачастую менее выгодно. Но как защитить себя от прямого обмана со стороны франчайзи в случае с процентными отчислениями? Объемы продаж можно скрыть, указав в отчетах недостоверные сведения. Искушенные франшизодатели нашли способы борьбы и с этим неприятным явлением.')

                +article_p('Один из них — автоматизация бизнеса. Современные технологии позволяют значительно снизить уровень злоупотреблений и хищений на предприятиях питания различных форматов и ценовых категорий. Установка специального программного обеспечения дает возможность создать полную и прозрачную картину всех финансовых операций, производимых сотрудниками предприятий-франчайзи.')

                +article_quote('Современные технологии позволяют значительно снизить уровень злоупотреблений и хищений на предприятиях питания различных форматов и ценовых категорий.')

                +article_p('Как правило, сервисы автоматизации предполагают наличие удаленного доступа к любым функциям. Это означает, что в режиме реального времени франчайзер сможет просматривать текущую выручку, средний чек и количество посетителей франчайзинговых точек, отслеживать любые изменения в меню и ценовой политике заведений, контролировать остатки продуктов на складах. В некоторых программах даже предусмотрены системы видеонаблюдения. Настроить предусмотренный функционал таких программ можно исходя из индивидуальных требований заказчика, а системы настройки прав доступа и шифрования данных обеспечат конфиденциальность передаваемой информации.')

                +article_quote('«Коллектив должен быть дисциплинирован. По своей халатности кассиры могут забыть, например, чек выбить, — делится Алексей Семенушкин, генеральный директор сети кафе Pyanse. — Чтобы предприятие работало как часы, нужен контроль. Особенно за финансовыми операциями сотрудников. Для организации бизнеса мы выбрали программу Quick Resto. Не пришлось устанавливать отдельное дорогостоящее оборудование. Фактически для ее работы достаточно иметь iPad и подключение к интернету. Грубо говоря, для всей нашей сети заведений программа обходится в 10–15 тысяч рублей. А если брать R-Keeper, то там уже будет за 90 тысяч рублей. Получается экономия в десять раз. Прямо из кабинета я могу отслеживать продажи в режиме онлайн, видеть все списания, количество пробитых чеков. Особенность этой программы в том, что чековый принтер связан напрямую с iPad или планшетом. Раньше мы использовали другую программу, но вынуждены были отойти от нее, поскольку там не было привязки к складу».')

            .c-article__footer
                p.c-article__footer-title Читать другие статьи
                ul.c-article__footer-tile-list
                    li.c-article__footer-tile-item
                        a.c-article__footer-tile-link(href="article2.html")
                            img.c-article__footer-img(src="%=static=%img/general/article_footer_1.svg" alt="")
                            h4.c-article__footer-tile-title Как открыть собственную точку питания
                    li.c-article__footer-tile-item
                        a.c-article__footer-tile-link(href="article3.html")
                            img.c-article__footer-img(src="%=static=%img/general/article_footer_2.svg" alt="")
                            h4.c-article__footer-tile-title Особенности <span>нового</span> законодательства
                    li.c-article__footer-tile-item
                        a.c-article__footer-tile-link(href="article.html")
                            img.c-article__footer-img(src="%=static=%img/general/article_footer_4.svg" alt="")
                            h4.c-article__footer-tile-title Новые форматы — драйверы роста


        +footer()

        script(src="https://unpkg.com/social-likes-next/dist/social-likes.min.js")
        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();