doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/article_head/article_head
    include ../components/article_teaser/article_teaser
    include ../components/article_quote/article_quote
    include ../components/article_p/article_p
    include ../components/footer/footer

    head
        +head(head.article3)
    body.page
        |%=symbols=%

        +header()
        
        +article_head()

        .l-grid.l-grid--article
            +article_teaser(
                'Особенности нового законодательства',
                '',
                'Принятый этим летом закон кардинально изменит работу большинства предпринимателей уже с 2017 года. К чему надо готовиться и почему без интернета и современных технологий не обойтись уже никому?'
            )
            .l-article__content
                +article_p('Мир меняется всё стремительнее, и большинство сфер современной жизни уже просто немыслимы без информационных технологий и постоянного присутствия онлайн. До сих пор, однако, в сфере торговли и общественного питания при желании предприниматели могли обойтись без автоматизации своего бизнеса. Это был личный выбор каждого, государство его никак не определяло, все отношения с властями у бизнесменов из этих сфер строились исключительно офлайн. Каждый предприниматель, работающий с контрольно-кассовой техникой, должен был сначала лично явиться с ней в налоговую, фискализировать ее, а потом передавать фискальные отчеты опять-таки непосредственно в налоговую. Покупателям же положено было выдавать бумажные чеки. Но вся эта хоть и архаичная, но привычная и понятная система уже совсем скоро будет полностью трансформирована. Вернее, революция в сфере автоматизации бизнеса уже началась.')

                +article_quote('С 1 января 2017 года ФНС перестанет регистрировать кассы старого образца.')
                
                +article_p('Совсем недавно, 3 июля, президент подписал довольно оперативно проведенный через Государственную думу законопроект, который меняет правила использования контрольно-кассовой техники и порядок взаимоотношений предпринимателей с налоговиками. Суть его сводится к тому, что бизнесменов обяжут иметь так называемые онлайн-кассы, которые будут пересылать все чеки в налоговую инспекцию.')
                
                +article_p('Разработчики этого закона, депутаты из комитета Госдумы по бюджетам и налогам, в пояснительной записке к документу уверяют, что новый порядок «позволит снизить административную и финансовую нагрузку на налогоплательщиков», а также «сократить объем теневого оборота наличных денежных средств и увеличить налоговые поступления в бюджет». Кроме того, парламентарии полагают, что «переход на применение ККТ с функцией передачи информации создаст условия для повышения уровня защищенности прав потребителей товаров и услуг». Нововведение затронет около 1,2 миллиона касс.')

                +article_quote('«Облачную автоматизацию малого бизнеса мы считаем очень перспективным направлением, — говорит директор компании «1С» Борис Нуралиев, — и будем развивать его как на платформе "1С:Предприятие", так и совместно с создателями других успешных программ и сервисов, таких как Quick Resto. Рассчитываем, что наша стратегия создания совместных предприятий с лидерами и перспективными командами в смежных секторах рынка позволит обеспечить хорошую динамику развития этого бизнеса».')
                
                +article_p('На адаптацию к новым правилам отечественным предпринимателям дали чуть меньше года. Уже с 1 июля 2017 года использовать контрольно-кассовую технику старого образца будет вообще запрещено. С 1 января прекратится регистрация в ФНС касс, которые не умеют делиться информацией с налоговиками. И уже сейчас, если точнее, с 1 сентября, зарегистрировать технику нового формата в ФНС можно добровольно. Добровольно же налоговики предлагают бизнесу начинать отправлять фискальные данные через онлайн-ККТ. Это тоже можно делать сейчас.')

                +article_quote('Не все производители и поставщики контрольно-кассовой техники смогут оперативно перестроить свою работу, особенно с учетом того, что новый закон был разработан и принят довольно быстро. Однако на рынке есть целый ряд ультрасовременных сервисов. Quick Resto полностью готов к поддержке клиентов с онлайн-кассами и к обеспечению всех соответствующих рабочих процессов предприятий общественного питания.')

                +article_p('Новый закон, кроме того, обяжет использовать контрольно-кассовую технику целый ряд предпринимателей, которые раньше имели право обходиться вообще без нее. Это налогоплательщики ЕНВД и ПСН. Правда, у них будет почти два года на переход к онлайн-кассам: не пользоваться ими без санкций они могут до 1 июля 2018 года. При этом есть и категории предпринимателей, которые теперь, напротив, будут освобождены от обязанности использовать контрольно-кассовую технику вообще. Это, например, организации и индивидуальные предприниматели, которые реализуют изделия народных промыслов собственного изготовления, а также те, кто оказывает услуги по ремонту обуви, изготовлению ключей. Как и прежде, кассы не обязательно иметь тем, кто продает мороженое и разливные безалкогольные напитки, продукты из автоцистерн, сезонные «дары природы». Продавцы на ярмарках, выставках-продажах, на розничных рынках и тому подобных точках также по-прежнему могут обходиться без касс — что обычных, что онлайн.')

                +article_quote('Налогоплательщики ЕНВД и ПСН тоже должны будут перейти к онлайн-кассам, но только к 1 июля 2018 года.')
                
                +article_p('Всем остальным за игнорирование нового закона будут грозить штрафы. Юридическое лицо, которое использует контрольно-кассовую технику, не соответствующую требованиям, рискует нарваться на штраф минимум в 10 000 рублей. Такие же санкции предусмотрены за неотправку электронного чека покупателю, если он выразил желание получить его на свой e-mail. И, наконец, минимальные 30 000 штрафа грозят бизнесменам, работающим вообще без контрольно-кассовой техники. Максимальный же размер штрафа зависит от оборота бизнеса: он кратен размеру суммы денежных средств, полученных за период неприменения обновленной ККТ.')
                
                +article_p('Чтобы начать работать по новой схеме, предпринимателю нужно прежде всего модернизировать свою контрольно-кассовую технику, установив фискальный модуль, или вообще приобрести новую.')
                
                +article_p('«Всё это очень затратно, конечно, — говорит ответственный секретарь комиссии по мобильным кафе Федерации рестораторов и отельеров России Дмитрий Жуков. — Например, фудтраки — это прежде всего формат малого бизнеса. Молодым индивидуальным предпринимателям это сильно ударит по карману. Крупная сеть имеет свои рестораны, поэтому им есть откуда "питаться", получать финансирование. А если люди имеют только фудтрак, то и доход у них идет только с фудтрака. А он работает, извините меня, только два раза в неделю. При этом им придется не только поддерживать рабочее состояние фудтрака и заботиться о качестве продукции, но и заниматься обновлением касс, менять какое-то оборудование. Но, с другой стороны, я не думаю, что эти нововведения оттолкнут людей от идеи заниматься этим бизнесом».')

                +article_quote('Модернизация контрольно-кассовой техники обойдется рынку в 55 млрд руб.')
                
                +article_p('По разным оценкам, российские бизнесмены потратят в общей сложности около 55 млрд руб. на замену или модернизацию касс. Чем раньше начать это делать, тем, конечно, лучше. Если же у предпринимателя и так подходил срок перерегистрации кассы, то оставлять старую ему вообще не имеет смысла — расходы всё равно придется нести через год, и не исключено, что ближе к лету 2017 года стоимость необходимого всем оборудования вырастет просто из-за высокого спроса на него со стороны бизнесменов.')
                
                +article_p('Установив новую кассу, нужно убедиться, что у нее актуальное программное обеспечение, которое позволяет печатать чеки нового формата — закон требует наличия на них бар-кода, чтобы покупатели могли его отсканировать и получить доступ к электронной версии документа. Подключив кассу к интернету, необходимо выбрать компанию — оператора фискальных данных (ОФД), которая станет посредником между вами и, собственно, налоговой. Оператором может быть любое юридическое лицо, у которого есть соответствующая лицензия и технические средства для формирования и проверки фискальных данных. Наконец, последний шаг — регистрация новой контрольно-кассовой техники в налоговой инспекции. Теперь это должно быть проще, чем раньше: все действия будут совершаться онлайн через личный кабинет налогоплательщика на официальном сайте ФНС и через фискальный накопитель, установленный на кассе.')

                +article_quote('Инициированная государством реформа — повод заняться комплексной автоматизацией бизнеса.')
                
                +article_p('Конечно, всё это требует и времени, и денег. Но все виды затрат можно оптимизировать, сделав «длинную» инвестицию в автоматизацию бизнеса в целом. Если не ограничиваться тем, что и так обязывает сделать государство, и взяться за перестройку работы «от и до», можно в итоге существенно сэкономить. Предприниматели, вместо того чтобы самим выстраивать все процессы вручную, что всегда дороже, могут выбирать комплексные решения, уже спроектированные с учетом требований нового законодательства. При этом самыми удобными для бизнеса, который нуждается в большей прозрачности, оказываются облачные решения, такие как Quick Resto. Все данные о продажах, затратах, проблемах и достижениях руководитель может оценивать онлайн из любой точки мира.')

            .c-article__footer
                p.c-article__footer-title Читать другие статьи
                ul.c-article__footer-tile-list
                    li.c-article__footer-tile-item
                        a.c-article__footer-tile-link(href="article.html")
                            h4.c-article__footer-tile-title Новые форматы — драйверы роста
                    li.c-article__footer-tile-item
                        a.c-article__footer-tile-link(href="article2.html")
                            h4.c-article__footer-tile-title Как открыть собственную точку питания
                    li.c-article__footer-tile-item
                        a.c-article__footer-tile-link(href="article1.html")
                            h4.c-article__footer-tile-title Франчайзинг: автоматизация минимизирует риски


        +footer()

        script(src="https://unpkg.com/social-likes-next/dist/social-likes.min.js")
        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();