doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/index_teaser/index_teaser
    include ../components/tile_1_1/tile_1_1
    include ../components/tile_1_2/tile_1_2
    include ../components/tile_2_2/tile_2_2
    include ../components/tile_1_2_slider/tile_1_2_slider
    include ../components/tile_3_2/tile_3_2
    include ../components/footer/footer

    head
        +head(head.defaults)
    body
        |%=symbols=%

        +header()

        +index_teaser()

        .l-grid.l-grid--tile
            //- +tile_1_2(
            //-     'green',
            //-     'arrow_blue.svg',
            //-     'Новые форматы — драйверы роста',
            //-     'Трафик заведений быстрого питания растет, несмотря на макроэкономические трудности: будущее за гибкими, мобильными и современными форматами',
            //-     'greenButton'
            //- )
            //- +tile_3_2(
            //-     'white',
            //-     'arrow_blue.svg',
            //-     'Как открыть собственную точку питания?',
            //-     'quick-советы',
            //-     'Концепция общественного питания за последние несколько лет изменилась кардинально. Если раньше точки быстрого питания предлагали очень ограниченный и скудный выбор, то сейчас появилось множество новых форматов. Соответственно меняются и схемы запуска бизнеса',
            //-     'blue',
            //-     'читать статью'
            //- )
            //- +tile_2_2(
            //-     'white',
            //-     'arrow_blue.svg',
            //-     'Особенности нового законодательства',
            //-     'quick-аналитика',
            //-     'Принятый этим летом закон кардинально изменит работу большинства предпринимателей уже с 2017 года. К чему надо готовиться и почему без интернета и современных технологий не обойтись уже никому?',
            //-     'blue',
            //-     'читать статью'
            //- )
            //- +tile_1_2('white')
            //- +tile_1_2(
            //-     'blue',
            //-     'arrow_blue.svg',
            //-     'Франчайзинг: автоматизация минимизирует риски',
            //-     'Общественное питания – одна из наиболее затратных сфер для предпринимательской деятельности. В этом отношении франчайзинг может стать быстрым и доходным стартом для ресторатора',
            //-     'blueButton'
            //- )
            //- .c-tile.c-tile__2-2.c-tile--container
            //-     +tile_1_1(
            //-         'red',
            //-         'arrow_blue.svg',
            //-         'Готовые решения для ресторана любого формата'
            //-     )
            //-     +tile_1_1(
            //-         'orange',
            //-         'arrow_blue.svg',
            //-         'Быстрый старт с минимальными вложениями'
            //-     )
            //-     +tile_1_1(
            //-         'light-blue',
            //-         'arrow_blue.svg',
            //-         'Адаптированно под последние изменения в законодательстве'
            //-     )
            //-     +tile_1_1(
            //-         'light-green',
            //-         'arrow_blue.svg',
            //-         'Продвинутые инструменты для франчайзинга'
            //-     )
            //- +tile_2_2(
            //-     'white',
            //-     'arrow_blue.svg',
            //-     'Готовы навести порядок в бизнесе?',
            //-     'quick-бизнес',
            //-     'Начните с регистрации в сервисе. Это бесплатно и займет всего несколько минут',
            //-     'red',
            //-     'перейти к регистрации'
            //- )
            .c-tile.c-tile__1-2.c-tile--green
                img.c-tile__title-img(src="%=static=%img/general/illustration_1.svg" alt="")
                h3.c-tile__title.text-white Новые форматы — драйверы роста
                p.c-tile__desc.text-white Трафик заведений быстрого питания растет, несмотря на макроэкономические трудности: будущее за гибкими, мобильными и современными форматами
                .c-tile__arrow-link
                    a(href="article.html")
                        img(src="%=static=%img/general/arrow_green.svg" alt="")

            .c-tile.c-tile__3-2.c-tile--white
                img.c-tile__title-img.c-tile__title-img--desktop.c-tile__title-img--3-2(src='%=static=%img/general/illustration_2.svg', alt='')
                img.c-tile__title-img.c-tile__title-img--mobile.c-tile__title-img--3-2(src='%=static=%img/general/illustration_2_mobile.svg', alt='')
                h3.c-tile__title.text-black Как открыть собственную точку питания?
                p.c-tile__hash quick-советы
                p.c-tile__desc.text-black
                    | Концепция общественного питания за последние несколько лет изменилась кардинально. Если раньше точки быстрого питания предлагали очень ограниченный и скудный выбор, то сейчас появилось множество новых форматов. Соответственно меняются и схемы запуска бизнеса
                a.c-tile__read-link.c-tile__read-link--blue(href='article2.html') читать статью
                .c-tile__arrow-link.c-tile__arrow-link--mobile
                    a(href='#')
                        img(src='static/img/general/arrow_blue.svg', alt='')

            .c-tile.c-tile__1-2.c-tile--blue.c-tile--mobile
                img.c-tile__title-img(src="%=static=%img/general/illustration_4.svg" alt="")
                h3.c-tile__title.text-white Франчайзинг: автоматизация минимизирует риски
                p.c-tile__desc.text-white Общественное питание – одна из наиболее затратных сфер для предпринимательской деятельности. В этом отношении франчайзинг может стать быстрым и доходным стартом для ресторатора
                .c-tile__arrow-link
                    a(href="article1.html")
                        img(src="%=static=%img/general/arrow_blue.svg" alt="")

            .c-tile.c-tile__2-2.c-tile--white
                img.c-tile__title-img.c-tile__title-img--2-2.c-tile__title-img--2-2_1(src='static/img/general/illustration_3.svg', alt='')
                .c-tile__content
                    h3.c-tile__title.text-black Особенности <span>нового </span>законодательства
                    p.c-tile__hash quick-аналитика
                    p.c-tile__desc.text-black
                      | Принятый этим летом закон кардинально изменит работу большинства предпринимателей уже с 2017 года. К чему надо готовиться и почему без интернета и современных технологий не обойтись уже никому?
                    a.c-tile__read-link.c-tile__read-link--blue(href='article3.html') читать статью
                    .c-tile__arrow-link.c-tile__arrow-link--mobile
                        a(href='#')
                            img(src='static/img/general/arrow_blue.svg', alt='')


            .c-tile.c-tile__1-2.c-tile--white.c-tile__slider
                .c-tile__fotorama
                    .c-tile__slide
                        .c-tile__content
                            img.c-tile__title-img(src="%=static=%img/general/illustration_slider_1.svg" alt="")
                            h3.c-tile__title.text-black Готовы начать свой бизнес
                            p.c-tile__desc.text-black Согласно результатам проведенного в мае исследования ВЦИОМ, 34% россиян готовы начать своё дело
                    .c-tile__slide
                        .c-tile__content
                            img.c-tile__title-img(src="%=static=%img/general/illustration_slider_2.svg" alt="")
                            h3.c-tile__title.text-black 1 293 000 000 рублей
                            p.c-tile__desc.text-black Оборот ресторанного бизнеса за 2015 год по данным Росстата

            .c-tile.c-tile__1-2.c-tile--blue.c-tile--desktop
                img.c-tile__title-img(src="%=static=%img/general/illustration_4.svg" alt="")
                h3.c-tile__title.text-white Франчайзинг: автоматизация минимизирует риски
                p.c-tile__desc.text-white Общественное питания – одна из наиболее затратных сфер для предпринимательской деятельности. В этом отношении франчайзинг может стать быстрым и доходным стартом для ресторатора
                .c-tile__arrow-link
                    a(href="article1.html")
                        img(src="%=static=%img/general/arrow_blue.svg" alt="")

            .c-tile.c-tile__2-2.c-tile--container
                .c-tile.c-tile__1-1.c-tile--red
                    img.c-tile__title-icon(src='static/img/general/icon_1.svg', alt='')
                    h3.c-tile__title.c-tile__title--small.text-white Готовые решения для ресторана любого формата
                .c-tile.c-tile__1-1.c-tile--orange
                    img.c-tile__title-icon(src='static/img/general/icon_2.svg', alt='')
                    h3.c-tile__title.c-tile__title--small.text-white Быстрый старт с минимальными вложениями
                .c-tile.c-tile__1-1.c-tile--light-blue
                    img.c-tile__title-icon(src='static/img/general/icon_3.svg', alt='')
                    h3.c-tile__title.c-tile__title--small.text-white Адаптировано под последние изменения в законодательстве
                .c-tile.c-tile__1-1.c-tile--light-green
                    img.c-tile__title-icon(src='static/img/general/icon_4.svg', alt='')
                    h3.c-tile__title.c-tile__title--small.text-white Продвинутые инструменты для франчайзинга

            .c-tile.c-tile__2-2.c-tile--white
                img.c-tile__title-img.c-tile__title-img--2-2.c-tile__title-img--2-2_2(src='static/img/general/illustration_product.svg', alt='')
                .c-tile__content
                    h3.c-tile__title.text-black Готовы навести порядок в бизнесе?
                    p.c-tile__hash quick-бизнес
                    p.c-tile__desc.c-tile__desc--2-2_2.text-black Начните с регистрации в сервисе. Это бесплатно и займет всего несколько минут
                    a.c-tile__read-link.c-tile__read-link--red(href='https://quickresto.ru/price/#show_form' target='_blank') перейти к регистрации


            a.c-tile__read-link.c-tile__read-link--red.c-tile__read-link--fullwidth(href='https://quickresto.ru/price/#show_form' target='_blank') перейти к регистрации


        +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();