.partners {
    padding-top: 90px;
    padding-bottom: 80px;

    &__list {
        margin-top: 60px;
        @include cf();
    }

    &__item {
        float: left;
        margin-bottom: 40px;
        margin-left: 50px;

        &:nth-child(3n+1) {
            margin-left: 0;
        }
    }

    &__link {
        display: block;
        width: 280px;
        height: 162px;
    }
}