include ../article_list_item/article_list_item

mixin article_list(type)
    .c-article-list
        +article_list_item(
            '',
            'Глава 1:0 — Фундамент',
            '14:00 12.09.16'
        )
        +article_list_item(
            '',
            'Глава 1:1 — Слова, полные ненависти',
            '14:00 12.09.16'
        )
        +article_list_item(
            '',
            'Глава 1:2 — Хищники',
            '14:00 12.09.16'
        )
        +article_list_item(
            '',
            'Глава 1:3 — Клятва',
            '14:00 12.09.16'
        )
        +article_list_item(
            '',
            'Глава 1:4 — Сопряжение',
            '14:00 12.09.16'
        )
        +article_list_item(
            '',
            'Глава 1:5 — Игла и червь',
            '14:00 12.09.16'
        )
        +article_list_item(
            '',
            'Глава 1:6 — Сёстры',
            '14:00 12.09.16'
        )
        +article_list_item(
            '',
            'Глава 1:7 — Погружение',
            '14:00 12.09.16'
        )
        +article_list_item(
            '',
            'Глава 1:8 — Левиафан',
            '14:00 12.09.16'
        )