.partners {
    // margin-top: 200px;

    background-color: $white;

    // @include respond-to(tablet) {
    //     margin-top: 140px;
    // }
    // @include respond-to(phone) {
    //     margin-top: 180px;
    // }
    img {
        max-width: 95%;
    }
    &__container {
        padding: 57px 0 71px;
        position: relative;

        @include respond-to(tablet) {
            padding-top: 30px;
            padding-bottom: 60px;
        }
        @include respond-to(phone) {
            padding-right: 20px;
            padding-bottom: 40px;
            padding-left: 20px;
        }
    }
    &__title {
        // margin-top: -115px;
        position: absolute;
        left: 0;
        top: -140px;

        @include respond-to(phone) {
            left: 20px;
        }
        &-img {
            display: block;

            width: 165px;
            height: 101px;
        }
    }
    &__list {
        @include cf();
    }
    &__item {
        float: left;
    }
    &__item-title {
        font-size: 10px;
        line-height: 14px;

        letter-spacing: .6px;

        color: #616161;

        @include respond-to(tablet) {
            font-size: 9px;
            line-height: 12px;

            letter-spacing: 0;
        }
    }
    &__item-link {
        display: block;
        &:before {
            display: inline-block;

            height: 100%;
            /* create a full-height inline block pseudo=element */

            content: ' ';
            vertical-align: middle;  /* vertical alignment of the inline element */
        }
        &--center {
            text-align: center;
        }
    }
    &__gen {
        margin-top: 20px;
    }
    &__gen-item {
        @include respond-to(phone) {
            width: 50%;
            margin-bottom: 15px;
        }
        &:nth-child(2) {
            .partners__gen-title {
                width: 135px;

                @include respond-to(tablet) {
                    width: 100px;
                }
            }
        }
        &:not(:first-child) {
            margin-left: 45px;

            @include respond-to(tablet) {
                margin-left: 30px;
            }
            @include respond-to(phone) {
                margin-left: 0;
            }
        }

        &--rosgostrah {
            // .partners__gen-link {
            //     width: 100px;
            // }
            .partners__gen-img {
                max-width: 90%;

                @include respond-to(tablet) {
                    max-width: 95%;
                }

                @include respond-to(tablet) {
                    max-width: 85%;
                }
            }
        }
    }
    &__gen-link {
        height: 90px;

        @include respond-to(tablet) {
            height: 80px;
        }
        @include respond-to(phone) {
            height: 80px;
        }
        &--l {
            width: 200px;
            @include respond-to(tablet) {
                width: 130px;
            }
            @include respond-to(phone) {
                width: 90%;
            }
        }
        &--m {
            @include respond-to(tablet) {
                width: 98px;
            }
            @include respond-to(phone) {
                width: 80%;
            }
        }
        &--s {
            @include respond-to(tablet) {
                width: 88px;
            }
            @include respond-to(phone) {
                width: 75%;
            }
        }
    }
    &__gen-img {
        display: inline-block;

        vertical-align: middle;
        &--orkk {
            position: relative;
            left: -22px;

            @include respond-to(tablet) {
                left: 0;
            }
            @include respond-to(phone) {
                left: -10px;
            }
        }
    }
    &__off {
        margin-top: 50px;

        @include respond-to(tablet) {
            margin-top: 20px;
        }
    }
    &__off-title {
        min-height: 42px;

        @include respond-to(tablet) {
            min-height: 36px;
        }
    }
    &__off-item {
        @include respond-to(tablet) {
            width: 105px;
        }
        @include respond-to(phone) {
            width: 33%;
        }
        &:nth-child(1) {
            .partners__off-title {
                @include respond-to(phone) {
                    width: 100px;
                }
            }
        }
        &--chocolate {
            @include respond-to(phone) {
                .partners__off-link {
                    text-align: left;
                }
            }
        }
        &--anr {
            @include respond-to(phone) {
                .partners__off-img {
                    position: absolute;
                    top: 50%;
                    left: -25px;

                    width: 120%;
                    max-width: 120%;

                    transform: translate(0, -50%);
                }
            }
        }
    }
    &__off-link {
        position: relative;

        width: 160px;
        height: 80px;

        @include respond-to(tablet) {
            width: auto;
            height: 70px;
        }
        @include respond-to(phone) {
            height: 80px;
        }
    }
    &__off-img--long {
        @include respond-to(tablet) {
            width: 80%;
        }
        @include respond-to(phone) {
            width: 65%;
        }
    }
    &__off-img--med {
        @include respond-to(tablet) {
            width: 50%;
        }
    }
    &__off-img--vert {
        @include respond-to(tablet) {
            width: 30%;
        }
        @include respond-to(phone) {
            width: 25%;
        }
    }
    &__off-img--tass {
        position: relative;
        left: -20px;

        @include respond-to(tablet) {
            left: 0;
        }
        @include respond-to(phone) {
            left: -10px;
        }
    }
    &__info {
        margin-top: 30px;

        @include respond-to(tablet) {
            margin-top: 10px;
        }
        @include respond-to(phone) {
            margin-top: 15px;
        }
    }
    &__info-item {
        @include respond-to(phone) {
            width: 33%;
            margin-bottom: 15px;
        }
        &--archive {
            @include respond-to(phone) {
                clear: left;
            }
        }
        &--izvest {
            @include respond-to(phone) {
                .partners__info-link {
                    text-align: left;
                }
            }
        }
        &--gallery {
            @include respond-to(phone) {
                .partners__info-img {
                    width: 60%;
                }
            }
        }
        &--museum {
            .partners__info-link {
                @include respond-to(phone) {
                    text-align: center;
                }
            }
        }
        &--moslenta {
            @include respond-to(phone) {
                .partners__info-img {
                    position: absolute;
                    top: 50%;
                    left: 0;

                    width: 120%;
                    max-width: 120%;

                    transform: translate(0, -50%);
                }
            }
        }
        &--ciolk {
            @include respond-to(phone) {
                .partners__info-img {
                    position: absolute;
                    top: 50%;
                    left: 0;

                    width: 90%;
                    max-width: 90%;

                    transform: translate(0, -50%);
                }
            }
        }
        &--nplus {
            @include respond-to(phone) {
                .partners__info-img {
                    width: 50%;
                    max-width: 50%;
                }
            }
        }

        &--pozis {
            position: relative;
            left: 20px;
            .partners__info-img {
                width: 70%;
                max-width: 70%;
            }
        }
    }
    &__info-title {
        min-height: 28px;

        @include respond-to(tablet) {
            min-height: 25px;
        }
    }
    &__info-link {
        width: 120px;
        height: 90px;

        @include respond-to(tablet) {
            width: 78px;
            height: 60px;
        }
        @include respond-to(phone) {
            position: relative;

            width: 70%;
            height: 50px;

            text-align: center;
        }
    }
    &__info-link--m {
        width: 135px;

        @include respond-to(tablet) {
            width: 90px;
        }
        @include respond-to(phone) {
            width: 100%;
        }
    }
    &__info-img {
        width: 40%;

        @include respond-to(tablet) {
            width: 50%;
        }
        @include respond-to(phone) {
            width: 30%;
        }
    }
    &__info-img--long {
        width: 80%;

        @include respond-to(phone) {
            width: 70%;
        }
    }
}
