.header__promo-text {
  font-size: 16px;
  line-height: 22px;
  color: rgb(80, 80, 80);
  margin: 0;

  a {
    color: #5f3eff;
    text-decoration: none;

    &:visited {
      color: #5f3eff;
    }
  }
}

.content-column__button--blue {
  background-color: #5f3eff;
}

@media all and (max-width: 822px) {
  .header__promo-wrapper {
    max-width: 408px !important;

    td {
      padding: 0 20px;
    }
  }
}
