mixin nav(current, active, name)
  li.nav-list__item
      a(class="nav-list__item-link " + (current == active ? 'nav-list__item-link--active' : '')
            href='' + (active ? ('/' + active + '.html') : '#')
        )= name

mixin subnav(current_subnav, active, name1, name2)
  li.nav-list__item
      a(class="nav-list__item-link " + (current_subnav == active ? 'nav-list__item-link--active' : '')
            href='' + (active ? ('/' + active + '.html') : '#')
        )= name1
        br
        = name2

mixin nav_articles(current_articles, active, name)
  li.nav-articles__item
      a(class="nav-articles__link " + (current_articles == active ? 'nav-articles__link--active' : '')
            href='' + (active ? ('/' + active + '.html') : '#')
        )= name


mixin header(current, current_subnav, current_articles)
    // Yandex.Metrika counter
    script(type='text/javascript').
      (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
      try {
      w.yaCounter37826965 = new Ya.Metrika({
      id:37826965,
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true
      });
      } catch(e) { }
      });
      var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/watch.js";
      if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    noscript
      div
        img(src='https://mc.yandex.ru/watch/37826965', style='position:absolute; left:-9999px;', alt='')
    // /Yandex.Metrika counter

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-78961864-1', 'auto');
      ga('send', 'pageview');

    header.header
        .container
            a.open-btn(href='#')
                != jadeHelpers.Icon.call(locals, {iconName: 'menu_icon', className: 'menu_icon'})
                != jadeHelpers.Icon.call(locals, {iconName: 'menu_close_icon', className: 'menu_close_icon'})
            //- .nav-articles
            //-   a.nav-articles__open-btn(href="#") Разделы выставки
            //-   ul.nav-articles__list
            //-     +nav_articles(current_articles, 'dream', 'мечты и мечтатели')
            //-     +nav_articles(current_articles, 'era', 'начало космической эры')
            //-     +nav_articles(current_articles, 'orbit', 'первые люди на орбите')
            //-     +nav_articles(current_articles, 'cosmonaut', 'человек космический')
            //-     +nav_articles(current_articles, 'life', 'жизнь на орбите')
            //-     +nav_articles(current_articles, 'planet', 'внешние планеты')
            //-     +nav_articles(current_articles, 'future', 'мечты о будущем')
            nav.nav
                ul.nav-list
                    li.nav-list__item
                        a.nav-list__item-link(href='/') Главная

                    +nav(current, 'program', 'Программа')

                    //- li.nav-list__item
                    //-     a.nav-list__item-link(href='#') Посетить выставку
                    //- li.nav-list__item
                    //-     a.nav-list__item-link(href='#') Программа


                    //- li.nav-list__item.nav-list__item--subnav
                    //-     a.nav-list__item-link.js-open-subnav(href='#') Разделы выставки
                    //-     ul.subnav-list
                    //-       +subnav(current_subnav, 'dream', 'мечты', 'и мечтатели')
                    //-       +subnav(current_subnav, 'era', 'начало', 'космической эры')
                    //-       +subnav(current_subnav, 'orbit', 'первые люди', 'на орбите')
                    //-       +subnav(current_subnav, 'cosmonaut', 'человек', 'космический')
                    //-       +subnav(current_subnav, 'life', 'жизнь', 'на орбите')
                    //-       +subnav(current_subnav, 'planet', 'внешние', 'планеты')
                    //-       +subnav(current_subnav, 'future', 'мечты', 'о будущем')
                    li.nav-list__item
                        a.nav-list__item-link.nav-list__item-link--active.nav-list__item-link--ru(href='/') Ru
                        span.nav-list__link-seporator |
                        a.nav-list__item-link.nav-list__item-link--en(href='/en.html') En