.header {
    @include respond-to(desktop) {
        background-color: $light-yellow;
    }
    @include respond-to(phone) {
        background-color: transparent;
    }
    &.solid,
    &.hd-short {
        background-color: $light-yellow;

        @include respond-to(phone) {
            background-color: transparent;
        }
        .nav-list__item-link {
            color: #000;
        }
    }
    .menu_icon {
        display: block;
    }
    .menu_icon,
    .menu_close_icon {
        width: 20px;
        height: 20px;
    }
    .menu_close_icon {
        display: none;
    }
    &.opened {
        background-color: rgba($light-yellow, .89);
        .menu_icon {
            display: none;
        }
        .menu_close_icon {
            display: block;
        }
        .nav {
            position: absolute;
            top: 50%;
            left: 0;

            display: block;

            width: 100%;

            transform: translate(0, -50%);
        }
        .nav-list {
            padding: 0;
            &__item {
                display: block;

                padding: 0;
            }
            &__item-link {
                font-size: 22px;
                font-weight: normal;
                line-height: 55px;
            }
            &__link-seporator {
                font-size: 22px;

                position: relative;
                top: 0;
                left: 5px;
            }
        }
    }
    .container {
        box-sizing: border-box;
    }
    .open-btn {
        position: relative;
        z-index: 995;

        display: none;

        @include respond-to(phone) {
            position: absolute;
            top: 0;
            left: 0;
            // display: block;

            display: none;

            width: 66px;
            height: 66px;
            padding: 23px;

            background-color: $light-yellow;
        }
    }
}

.nav {
    position: relative;
    z-index: 990;

    display: none;

    padding-top: 30px;
    padding-bottom: 20px;

    text-align: center;

    @include cf();
    @include respond-to(desktop) {
        padding: 18px 0;
    }
    @include respond-to(phone) {
        display: none;
    }
    .main_menu {
        @include respond-to(phone) {
            display: none;
        }
    }
    &-list {
        &__item {
            display: inline-block;
            &:not(:first-child) {
                padding-right: 0;
                padding-left: 64px;
            }
            &-link {
                font-family: 'activist';
                font-size: 12px;
                font-weight: bold;
                line-height: 12px;

                text-decoration: none;
                text-transform: none;

                color: $white;

                @include respond-to(desktop) {
                    color: #000;
                }
                &--en {
                    margin-left: 10px;
                }
            }
        }
        &__link-seporator {
            font-size: 13px;

            position: relative;
            top: 0;
            left: 5px;

            @include respond-to(desktop) {
                color: #000;
            }
        }
    }
}
