mixin header
    // Yandex.Metrika counter
    script(type='text/javascript').
      (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
      try {
      w.yaCounter37826965 = new Ya.Metrika({
      id:37826965,
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true,
      webvisor:true
      });
      } catch(e) { }
      });
      var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/watch.js";
      if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
      })(document, window, "yandex_metrika_callbacks");
    noscript
      div
        img(src='https://mc.yandex.ru/watch/37826965', style='position:absolute; left:-9999px;', alt='')
    // /Yandex.Metrika counter

    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-78961864-1', 'auto');
      ga('send', 'pageview');

    header.header
        .container
            a.open-btn(href='#')
                != jadeHelpers.Icon.call(locals, {iconName: 'menu_icon', className: 'menu_icon'})
                != jadeHelpers.Icon.call(locals, {iconName: 'menu_close_icon', className: 'menu_close_icon'})
            nav.nav
                ul.nav-list.main_menu
                    li.nav-list__item
                        a.nav-list__item-link(href='#') Посетить выставку
                    //- li.nav-list__item
                    //-     a.nav-list__item-link(href='#') Программа
                    //- li.nav-list__item
                    //-     a.nav-list__item-link(href='#') Разделы выставки
                    //- li.nav-list__item
                    //-     a.nav-list__item-link.nav-list__item-link--ru(href='#') Ru
                    //-     span.nav-list__link-seporator |
                    //-     a.nav-list__item-link.nav-list__item-link--en(href='#') En