.footer {
    padding: 75px 0 96px;

    text-align: left;

    background-image: url('%=static=%general/back6.png');
    background-repeat: no-repeat;
    background-position: center;
    // background-size: 100%;
    background-size: cover;

    @include respond-to(phone) {
        padding: 55px 0 150px;

        background-size: auto 150%;
    }
    &__content {
        position: relative;

        @include cf();
    }
    &__col {
        float: right;

        @include respond-to(phone) {
            display: block;
            float: none;

            width: 100% !important;
        }
    }
    &__contact {
        width: 570px;

        @include respond-to(tablet) {
            margin-right: 70px;
        }

        @include respond-to(phone) {
            margin-right: 0;
        }
    }
    &__action {
        width: 300px;
        margin-left: 90px;

        @include respond-to(tablet) {
            position: absolute;
            top: 135px;
            right: 0;

            width: auto;
            margin-left: 0;
        }
        @include respond-to(phone) {
            position: relative;
            top: 0;
            height: 200px;

            width: auto;
            // margin-top: 140px;
            margin-left: 0;
        }
    }
    &__contact-row {
        @include cf();
        &:first-child {
            @include respond-to(phone) {
                margin-bottom: 25px;
            }
        }
    }
    &__contact-col {
        float: left;

        @include respond-to(phone) {
            display: block;
            float: none;

            width: 100%;
        }
        &:not(:first-of-type) {
            margin-left: 70px;

            @include respond-to(tablet) {
                margin-left: 130px;
            }
            @include respond-to(phone) {
                margin-left: 0;
            }
        }
        &--s {
            width: 130px;

            @include respond-to(phone) {
                width: 100%;
            }
            &:last-child {
                margin-left: 110px;

                @include respond-to(phone) {
                    margin-left: 0;
                }
            }
        }
        &--m {
            width: 250px;
        }
        &--copyright {
            @include respond-to(phone) {
                position: absolute;
                bottom: -85px;
                left: 20px;
            }
        }
        // &--main {
        //     width: 130px;
        // }
    }
    &__contact-press {
        margin-top: 15px;

        @include respond-to(tablet) {
            margin-top: 0;
            .footer__contact-col {
                display: block;
                float: none;

                margin-left: 0;
            }
            .footer__contact-col--s:not(:first-of-type) {
                margin-top: 25px;
            }
        }
    }
    &__text {
        font-family: 'formular';
        font-size: 14px;
        line-height: 20px;

        margin: 0;

        letter-spacing: .1px;

        color: $white;
        &--bold {
            font-weight: bold;
        }
    }
    &__link {
        font-family: 'formular';
        font-size: 14px;
        line-height: 20px;

        display: block;

        text-decoration: none;
        letter-spacing: .1px;

        color: $gold;
        &:hover {
            color: $red;
        }
    }
    &__social-list {
        @include cf();
        @include respond-to(phone) {
            position: absolute;
            bottom: 30px;
        }
    }
    &__social-item {
        float: left;
        &:not(:first-child) {
            margin-left: 15px;
        }
    }
    &__social-link {
        &--youtube,
        &--fb,
        &--vk,
        &--instagram {
            path {
                transition: all ease .3s;

                fill: $gold;
            }
            &:hover {
                path {
                    fill: $red;
                }
            }
        }
    }
    &__subscribe {
        margin-top: 23px;

        @include respond-to(tablet) {
            margin-top: 43px;
        }

        @include respond-to(phone) {
            position: absolute;
            margin-top: 0;
        }
    }
    &__subscribe-form {
        position: relative;

        overflow: hidden;

        height: 60px;
        margin-top: 15px;
    }
    &__subscribe-input {
        display: block;

        width: 300px;
        // height: 60px;
        margin: 0;
        padding: 21px 79px 21px 19px;

        color: #000;
        border: 0;
        outline: none;

        @include respond-to(tablet) {
            width: 380px;
        }
        @include respond-to(phone) {
            width: 100%;
            top: 0;
        }
        &::-webkit-input-placeholder {
            font-family: 'formular';
            font-size: 14px;
            line-height: 18px;

            letter-spacing: .8px;
            /* Chrome/Opera/Safari */

            color: rgba(0, 0, 0, .5);
        }
        &::-moz-placeholder {
            font-family: 'formular';
            font-size: 14px;
            line-height: 18px;

            letter-spacing: .8px;
            /* Firefox 19+ */

            color: rgba(0, 0, 0, .5);
        }
        &:-ms-input-placeholder {
            font-family: 'formular';
            font-size: 14px;
            line-height: 18px;

            letter-spacing: .8px;
            /* IE 10+ */

            color: rgba(0, 0, 0, .5);
        }
    }
    &__subscribe-submit {
        position: absolute;
        top: 0;
        right: 0;
        &:before,
        &:after {
            position: absolute;
            top: 50%;
            left: 50%;

            display: block;

            width: 20px;
            height: 20px;

            content: '';
            pointer-events: none;

            border-width: 2px;
        }
        &:before {
            margin-top: -18px;
            margin-left: -10px;

            border-bottom: solid $white;
        }
        &:after {
            margin-top: -10px;
            margin-left: -1px;

            border-left: solid $white;
        }
    }
    &__subscribe-submit-button {
        display: block;

        width: 60px;
        height: 60px;
        margin: 0;
        padding: 0;

        border: 0;
        background-color: $gold;
    }
}
