.map {
        background-image: url('%=static=%/general/back6.png');
        background-size: 100% auto;
        background-position: center -180px;
        background-repeat: no-repeat;

        @include respond-to(phone) {
            background-position: center -150px;
        }

        @include respond-to(phone) {
            background-size: auto 180%;
            background-position: center center;
        }
    &__container {
        height: 496px;
        padding: 0 14px;

        @include respond-to(large) {
            padding: 0 7px;
        }

        @include respond-to(phone) {
            height: 320px;
        }
    }

    &__title {
        padding-top: 100px;
        padding-bottom: 50px;

        @include respond-to(phone) {
            padding-top: 60px;
        }
    }

    &__title-img {
        width: 73px;
        height: auto;
    }
}
