mixin section_map
    section#map.map
        .map__title
            .section__container
                img(src="%=static=%img/general/map_title.png" alt="").map__title-img
        .map__container
            script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=i7c-kjo3V8NIdNSnl_TI2bsPlb89bhkv&width=100%&height=100%&lang=ru_RU&sourceType=constructor&scroll=false')
