mixin article_teaser(title, desc, imageFor, subtitle)
    .c-article-teaser(style='background-image: url(%=static=%img/content/' + imageFor + '.jpg)')
        .c-article-teaser__content
            h3.c-article-title= title
            .c-article-sepor
            p.c-article-desc!= desc
    if subtitle
        h4.c-article-subtitle!= subtitle