.gallery {
    overflow-x: hidden;

    padding-top: 80px;
    padding-bottom: 250px;

    background-image: url('../img//general/back6.png');
    background-position-y: -80px;
    background-size: cover;

    @include respond-to(tablet) {
        background-size: auto 950px;
    }
    @include respond-to(phone) {
        padding-bottom: 180px;

        background-size: auto 700px;
    }
    &__container {
        position: relative;

        @include respond-to(phone) {
            padding: 0;
        }
    }
    &__title {
        width: 160px;
        height: 99px;
        margin-bottom: 45px;

        @include respond-to(phone) {
            margin-left: 20px;
        }
    }
    &__img {
        position: absolute;
        top: 50%;

        display: block;

        width: 100%;

        transform: translate(0, -50%);
    }
    .bx-viewport,
    &__item {
        height: 620px !important;

        @include respond-to(tablet) {
            height: 420px !important;
        }
        @include respond-to(phone) {
            height: 200px !important;
        }
    }
    .bx-prev,
    .bx-next {
        width: 25px;
        height: 41px;

        background-repeat: no-repeat;
        background-size: contain;

        @include respond-to(phone) {
            width: 15px;
            height: 30px;
        }
    }
    .bx-prev {
        left: 40px;

        background-image: url('%=static=%general/arrow_left.svg');

        @include respond-to(phone) {
            left: 20px;
        }
    }
    .bx-next {
        right: 40px;

        background-image: url('%=static=%general/arrow_right.svg');

        @include respond-to(phone) {
            right: 20px;
        }
    }
    .bx-caption {
        display: none;
    }
    &__caption {
        font-family: $formular;
        font-size: 12px;
        line-height: 20px;

        position: absolute;
        bottom: -60px;

        width: 736px;
        min-height: 45px;

        letter-spacing: .56px;

        color: $white;

        @include respond-to(tablet) {
            bottom: -75px;

            width: 516px;
            min-height: 60px;
        }
        @include respond-to(phone) {
            position: relative;
            bottom: 0;

            width: 240px;
            margin-top: 15px;
            padding-left: 20px;
        }
    }
    .bx-pager {
        font-family: $formular;
        font-size: 12px;
        font-weight: normal;
        line-height: 20px;

        position: absolute;
        right: 0;
        bottom: -35px;

        display: inline-block;

        width: auto;
        padding: 0;

        text-align: right;

        color: $white;

        @include respond-to(phone) {
            right: 20px;
        }
    }
    &__planet {
        position: absolute;

        background-repeat: no-repeat;
        background-size: contain;
        &--big {
            right: -199px;
            bottom: 410px;

            width: 417px;
            height: 419px;

            background-image: url('%=static=%general/gallery_planet_big.png');

            @include respond-to(tablet) {
                right: -231px;
                bottom: 220px;
            }
            @include respond-to(phone) {
                top: 60px;
                right: -76px;
                bottom: auto;

                width: 194px;
                height: 200px;
            }
        }
        &--med {
            bottom: -95px;
            left: 142px;

            width: 182px;
            height: 181px;

            background-image: url('%=static=%general/gallery_planet_med.png');

            @include respond-to(tablet) {
                bottom: -94px;
                left: 76px;
            }
            @include respond-to(phone) {
                top: 270px;
                bottom: auto;
                left: 41px;

                width: 142px;
                height: 141px;
            }
        }
        &--small {
            right: 157px;
            bottom: 559px;

            width: 122px;
            height: 121px;

            background-image: url('%=static=%general/gallery_planet_small.png');

            @include respond-to(tablet) {
                right: 125px;
                bottom: 379px;
            }
            @include respond-to(phone) {
                top: 110px;
                right: 89px;
                bottom: auto;

                width: 57px;
                height: 58px;
            }
        }
    }
}
