mixin artists
    section.artists
        .section__container
            h3.section__title Художники
            p.artists__desc.
                Ядро параллельной программы состоит из серий встреч-бесед с художниками, учеными и специалистами по новым технологиям.

        .artists__grid
            .artists__grid-item
                a.artists__grid-link(href="#vtol1")
                    img.artists__grid-img(src="http://placehold.it/500x500", alt="")
                    .artists__grid-title
                        p.artists__grid-name Дмитрий Булатов,  Алексей Чебыкин
            .artists__grid-item
                a.artists__grid-link(href="#vtol2")
                    img.artists__grid-img(src="http://placehold.it/500x500", alt="")
                    .artists__grid-title
                        p.artists__grid-name Дмитрий Булатов,  Алексей Чебыкин
            .artists__grid-item
                a.artists__grid-link(href="#vtol1")
                    img.artists__grid-img(src="http://placehold.it/500x500", alt="")
                    .artists__grid-title
                        p.artists__grid-name Дмитрий Булатов,  Алексей Чебыкин
            .artists__grid-item
                a.artists__grid-link(href="#vtol1")
                    img.artists__grid-img(src="http://placehold.it/500x500", alt="")
                    .artists__grid-title
                        p.artists__grid-name Дмитрий Булатов,  Алексей Чебыкин
            .artists__grid-item
                a.artists__grid-link(href="#vtol1")
                    img.artists__grid-img(src="http://placehold.it/500x500", alt="")
                    .artists__grid-title
                        p.artists__grid-name Дмитрий Булатов,  Алексей Чебыкин
            .artists__grid-item
                a.artists__grid-link(href="#vtol1")
                    img.artists__grid-img(src="http://placehold.it/500x500", alt="")
                    .artists__grid-title
                        p.artists__grid-name Дмитрий Булатов,  Алексей Чебыкин
            .artists__grid-item
                a.artists__grid-link(href="#vtol1")
                    img.artists__grid-img(src="http://placehold.it/500x500", alt="")
                    .artists__grid-title
                        p.artists__grid-name Дмитрий Булатов,  Алексей Чебыкин

        .section__container
            .artists__item#vtol1
                .artists__item-author
                    .artists__item-author-img
                        img(src="http://placehold.it/210x210")
                    .artists__item-author-desc
                        .artists__item-title ::vtol::
                        p.artists__item-author-text.
                            ::vtol:: – псевдоним медиахудожника Дмитрия Морозова. Воплощает свои идеи в технологических жанрах искусства: робототехнике, sound art, science art. Участник 4-й Московской биеннале, фестивалей Архстояние и CTM (Германия), выставок на ведущих площадках современного искусства: ГЦСИ, ММОМА, Манеж, Laboratoria, Электромузей, Политехнический Музей, Garage, ZKM (Германия), Ars Electronica (Австрия), Boulder Museum of Contemporary Art (США). Лауреат Премии Сергея Курёхина (2013), Премии Cube (Франция, 2014), почетные упоминания премии VIDA 16.0 (Испания, 2014), Ars Electronica (Австрия, 2015).
                        a.artists__item-author-link(href="#") vtol.cc
                .artists__item-art-title Разделитель
                .artists__item-art-gallery
                    ul.artists__gallery-container
                        li
                            img(src="http://cdn2.macworld.co.uk/cmsdata/features/3484312/Best_iPad_iPhone_games_Alone_1000_thumb.jpg")
                        li
                            img(src="http://99fungames.com/wp-content/uploads/2014/07/colour_button.jpg")
                        li
                            img(src="http://images.cdn.stuff.tv/sites/stuff.tv/files/styles/big-image/public/news/best-classic-arcade-browser-games-main.jpg?itok=QShup_8p")
                .artists__item-art-desc
                    .artists__item-art-desc-copyright.
                        © photo copyright 2006
                    .artists__item-art-desc-text
                        p.
                            Основная идея проекта – абстрактная худо-жественная интерпретация Квантово-волнового дуализма – принципа, согласно которому любой физический объект может быть описан как с использованием математи-ческого аппарата, основанного на волновых уравнениях, так и с помощью формализма, основанного на представлении об объекте как о частице или как о системе частиц. Как классический пример такого дуализма, свет можно трактовать как поток корпускул (фото-нов), которые во многих физических эффек-тах проявляют свойства электромагнитных волн. Принцип неопределенности, следую-щий из принципа корпускулярно-волнового дуализма и открытый Вернером Гейзенбер-гом в 1927 г. – один из краеугольных камней физической квантовой механики.
                        p.
                            Работа представляет собой сложный свето-музыкальный объект, в котором направлен-ные линии света многократно и последова-тельно, но не синхронно прерываются меха-ническими вращающимися вентиляторами, что создает многофазовый источник неопре-деленных событий. Соотношение неопреде-ленностей задает нижний предел для произ-ведения среднеквадратичных отклонений пары квантовых наблюдаемых.
                        p.
                            В конечном счете, разделенная и нестабиль-ная система трансформируются в набор би-нарных состояний, превращающих свет в дискретную матрицу сообщений, генерирую-щих в конечном счете звуковые волны (ком-позицию). Таким образом, работа пытается на экспериментальном языке искусства за-тронуть и описать глобальные вопросы бы-тия. Дискретна ли вселенная? Можно ли, со-гласно заветам Николы Теслы, описать всю вселенную языком энергии, частоты и вибра-ции?

            .artists__item#vtol2
                .artists__item-author
                    .artists__item-author-img
                        img(src="http://placehold.it/210x210")
                    .artists__item-author-desc
                        .artists__item-title ::vtol::
                        p.artists__item-author-text.
                            ::vtol:: – псевдоним медиахудожника Дмитрия Морозова. Воплощает свои идеи в технологических жанрах искусства: робототехнике, sound art, science art. Участник 4-й Московской биеннале, фестивалей Архстояние и CTM (Германия), выставок на ведущих площадках современного искусства: ГЦСИ, ММОМА, Манеж, Laboratoria, Электромузей, Политехнический Музей, Garage, ZKM (Германия), Ars Electronica (Австрия), Boulder Museum of Contemporary Art (США). Лауреат Премии Сергея Курёхина (2013), Премии Cube (Франция, 2014), почетные упоминания премии VIDA 16.0 (Испания, 2014), Ars Electronica (Австрия, 2015).
                        a.artists__item-author-link(href="#") vtol.cc
                .artists__item-art-title Разделитель
                .artists__item-art-subtitle 2016 г.
                .artists__item-art-gallery
                    ul.artists__gallery-container
                        li
                            img(src="http://cdn2.macworld.co.uk/cmsdata/features/3484312/Best_iPad_iPhone_games_Alone_1000_thumb.jpg")
                .artists__item-art-desc
                    .artists__item-art-desc-copyright.
                        © photo copyright 2006
                    .artists__item-art-desc-text
                        p.
                            Основная идея проекта – абстрактная худо-жественная интерпретация Квантово-волнового дуализма – принципа, согласно которому любой физический объект может быть описан как с использованием математи-ческого аппарата, основанного на волновых уравнениях, так и с помощью формализма, основанного на представлении об объекте как о частице или как о системе частиц. Как классический пример такого дуализма, свет можно трактовать как поток корпускул (фото-нов), которые во многих физических эффек-тах проявляют свойства электромагнитных волн. Принцип неопределенности, следую-щий из принципа корпускулярно-волнового дуализма и открытый Вернером Гейзенбер-гом в 1927 г. – один из краеугольных камней физической квантовой механики.
                        p.
                            Работа представляет собой сложный свето-музыкальный объект, в котором направлен-ные линии света многократно и последова-тельно, но не синхронно прерываются меха-ническими вращающимися вентиляторами, что создает многофазовый источник неопре-деленных событий. Соотношение неопреде-ленностей задает нижний предел для произ-ведения среднеквадратичных отклонений пары квантовых наблюдаемых.
                        p.
                            В конечном счете, разделенная и нестабиль-ная система трансформируются в набор би-нарных состояний, превращающих свет в дискретную матрицу сообщений, генерирую-щих в конечном счете звуковые волны (ком-позицию). Таким образом, работа пытается на экспериментальном языке искусства за-тронуть и описать глобальные вопросы бы-тия. Дискретна ли вселенная? Можно ли, со-гласно заветам Николы Теслы, описать всю вселенную языком энергии, частоты и вибра-ции?