// Common styles of the project

html {
    font-size: $basic-font-size;
}

body {

    min-width: $desktop;
    height: 100%;
    color: $black;
    font-size: 1.4rem;
    font-family: $tahoma;
    background-color: #e9eaec;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
ul,
ol {
    margin: 0;
    padding: 0;
}

strong {
    font-weight: bold;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

.l-grid {
    margin: 0 auto;

    &--tile {
        width: 1140px;
        padding-bottom: 100px;
        margin-top: -57px;
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &--article {
        width: 1024px;
        margin-top: 20px;
        padding: 0 60px 70px;
        border-radius: 4px;
        background-color: $white;
        box-sizing: border-box;
        margin-bottom: 50px;
    }

    &--article-head {
        width: 1024px;
        height: 65px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.l-article__content {
    padding: 50px 80px;
    border-bottom: 2px solid #DFE1E0;
}

.c-article__footer {
    padding-top: 50px;

    &-title {
        font-size: 2.8rem;
        line-height: 4.8rem;
        font-weight: bold;
    }

    &-tile-list {
        @include nl();

        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &-tile-item {
        width: 286px;
        height: 299px;
        background-color: #E9EAEC;
        border-radius: 4px;
        position: relative;
        overflow: hidden;
    }

    &-img {
        width: 100%;
    }

    &-tile-link {
        display: block;
        width: 100%;
        height: 100%;

        &:hover {
            .c-article__footer-tile-title {
                color: $blue;
            }
        }
    }

    &-tile-title {
        position: absolute;
        top: 168px;
        padding: 30px 35px 30px 30px;
        position: absolute;
        color: #000;
        transition: color ease .3s;
        font-size: 1.8rem;
        line-height: 2.4rem;
        letter-spacing: .2px;
    }
}

.c-tile {
    margin-top: 20px;
    border-radius: 4px;
    box-sizing: border-box;

    &:hover {
        .c-tile__read-link--blue {
            // background-color: lighten($blue, 20%);
            // box-shadow: lighten(#327497, 20%) 0px 2px 0px 0px;
            // background-color: #269ddf;
            // background-color: #60B4E2;
            background-color: #00a5ff;
        }

        .c-tile__read-link--red {
            // background-color: lighten($red, 20%);
            // box-shadow: lighten(#AC342E, 20%) 0px 2px 0px 0px;
            // background-color: #ea2219;
            // background-color: #FF6860;
            background-color: #ff2600;
        }
    }

    &--desktop {
        display: block;
    }

    &--mobile {
        display: none;
    }

    &__slide {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__1-1 {
        width: 270px;
        height: 270px;
        padding: 0 25px;

        .c-tile__title {
            font-size: 1.8rem;
            font-weight: normal;
            line-height: 2.4rem;

            span {
                display: block;
            }
        }
    }

    &__1-2 {
        width: 270px;
        height: 560px;
        padding: 0 30px;
        position: relative;
        text-align: center;

        .fotorama__nav--dots .fotorama__nav__frame {
            width: auto !important;
        }

        .fotorama__dot {
            background-color: #D9DBDA;
            width: 10px;
            height: 10px;
            border: 0;
            margin-right: 11px !important;
        }

        .fotorama__active .fotorama__dot {
            background-color: #A0A0A0;
            width: 10px !important;
            height: 10px !important;
            border: 0 !important;
        }

        .c-tile__title-img {
            margin-top: 27px;
            margin-bottom: 20px;
            display: inline-block;
        }
    }

    &__2-2 {
        width: 560px;
        height: 560px;
        padding: 82px 220px 0 50px;
        position: relative;

        .c-tile__content {
            width: 290px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 50px;
        }

        .c-tile__desc {
            width: 235px;
        }
    }

    &__3-2 {
        width: 850px;
        height: 560px;
        padding: 64px 552px 0 70px;
        position: relative;
    }

    &__slider {
        padding: 0 25px;
        cursor: pointer;

        .c-tile__title,
        .c-tile__desc {
            text-align: center;
        }

        .c-tile__desc {
            margin-left: auto;
            margin-right: auto;
            width: 200px;
        }
    }

    &--white {
        background-color: $white;
    }

    &--green {
        background-color: $green;
    }

    &--light-green {
        background-color: $light-green;
    }

    &--red {
        background-color: $red;
    }

    &--blue {
        background-color: $blue;
    }

    &--light-blue {
        background-color: $light-blue;
    }

    &--orange {
        background-color: $orange;
    }

    &--container {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__read-link {
        padding: 15px 16px 12px 17px;
        font-size: 1.4rem;
        border-radius: 4px;
        color: $white;
        text-transform: uppercase;
        display: inline-block;
        clear: both;
        margin-top: 40px;
        transition: background-color ease .3s;

        &--red {
            background-color: $red;
            box-shadow: #AC342E 0px 2px 0px 0px;
        }

        &--blue {
            background-color: $blue;
            box-shadow: #327497 0px 2px 0px 0px;
        }

        &--fullwidth {
            display: none;
        }
    }

    &__title {
        font-size: 2.8rem;
        line-height: 3rem;
        font-weight: bold;
        text-align: left;
    }

    &__desc {
        font-size: 1.4rem;
        line-height: 2rem;
        margin-top: 25px;
        text-align: left;
    }

    &__hash {
        margin-top: 20px;
        color: #BABABA;
    }

    &__arrow-link {
        text-align: center;
        margin-top: 35px;

        &--mobile {
            display: none;
        }
    }

    &__title-img--desktop {
        display: block;
    }

    &__title-img--mobile {
        display: none;
    }

    &__title-img--3-2 {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &__title-img--2-2 {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    &__title-icon {
        margin-top: 25px;
        margin-bottom: 105px;
        display: block;
    }
}

.tns-counter {
    display: none;
}
