// File for scss-vars.
// For example: main colors, paddings and so on.

$phone: 340px;
$fablet: 400px;
$tablet: 768px;
$desktop: 1280px;

// Colors

$bg-dark-grey: #333;

$green: #e7216f;
$blue: #1784c5;
$red: #c51d28;
$yellow: #fff;
$white: #fff;
$black: #fff;
$gray: #fff;

// Font size

$basic-font-size: 10px;
