mixin section_partners
    section.partners
        .section__container.partners__container
            .partners__title
                img(src="%=static=%img/general/11.png" srcset="%=static=%img/general/11_m.png 1000w, %=static=%img/general/11_s.png 720w" alt="").partners__title-img

            ul.partners__gen.partners__list
                li.partners__gen-item.partners__item
                    p.partners__gen-title.partners__item-title Генеральный<br>партнер
                    a.partners__gen-link.partners__gen-link--l.partners__item-link(href="http://www.gazprombank.ru/" target="_blank")
                        img.partners__gen-img(src="%=static=%img/content/partner_gazprom.svg", alt="")
                li.partners__gen-item.partners__item.partners__gen-item--rosgostrah
                    p.partners__gen-title.partners__item-title Генеральный страховой  партнер
                    a.partners__gen-link.partners__gen-link--m.partners__item-link(href="http://www.rgs.ru/" target="_blank")
                        img.partners__gen-img(src="%=static=%img/content/partner_rosgostrah1.svg", alt="")
                li.partners__gen-item.partners__item
                    p.partners__gen-title.partners__item-title Официальный <br>спонсор
                    a.partners__gen-link.partners__gen-link--s.partners__item-link(href="http://rostec.ru/" target="_blank")
                        img.partners__gen-img(src="%=static=%img/content/partner_rosteh.svg", alt="")
                li.partners__gen-item.partners__item
                    p.partners__gen-title.partners__item-title Технический<br>партнер 
                    a.partners__gen-link.partners__gen-link--m.partners__item-link(href="http://www.panasonic.com/ru/" target="_blank")
                        img.partners__gen-img(src="%=static=%img/content/partner_panasonic.svg", alt="")
                li.partners__gen-item.partners__item
                    p.partners__gen-title.partners__item-title Партнер<br>выставки
                    a.partners__gen-link.partners__gen-link--s.partners__item-link(href="http://www.rosorkk.ru/" target="_blank")
                        img.partners__gen-img.partners__gen-img--orkk(src="%=static=%img/content/partner_orkk.svg", alt="")

            ul.partners__off.partners__list
                li.partners__off-item.partners__item
                    p.partners__off-title.partners__item-title Официальный<br>телевизионный партнер
                    a.partners__off-link.partners__item-link(href="http://www.vesti.ru/onair/" target="_blank")
                        img.partners__off-img.partners__off-img--long(src="%=static=%img/content/partner_russia24.png", alt="")
                li.partners__off-item.partners__item
                    p.partners__off-title.partners__item-title Официальное<br>информационное<br>агентство
                    a.partners__off-link.partners__item-link.partners__item-link--center(href="http://tass.ru/" target="_blank")
                        img.partners__off-img.partners__off-img--tass.partners__off-img--vert(src="%=static=%img/content/partner_tass.svg", alt="")
                li.partners__off-item.partners__item
                    p.partners__off-title.partners__item-title Генеральный<br>информационный<br> партнер
                    a.partners__off-link.partners__item-link(href="http://www.vokrugsveta.ru/" target="_blank")
                        img.partners__off-img(src="%=static=%img/content/partner_vs.svg", alt="")
                li.partners__off-item.partners__off-item--chocolate.partners__item
                    p.partners__off-title.partners__item-title Стратегические<br>информационные партнеры
                    a.partners__off-link.partners__item-link.partners__item-link--center(href="http://www.chocoradio.ru/" target="_blank")
                        img.partners__off-img.partners__off-img--med(src="%=static=%img/content/partner_chocolate.svg", alt="")
                li.partners__off-item.partners__off-item--anr.partners__item
                    p.partners__off-title.partners__item-title
                    a.partners__off-link.partners__item-link.partners__item-link--center(href="http://www.theartnewspaper.ru/" target="_blank")
                        img.partners__off-img(src="%=static=%img/content/partner_anr.svg", alt="")
                li.partners__off-item.partners__item
                    p.partners__off-title.partners__item-title
                    a.partners__off-link.partners__item-link.partners__item-link--center(href="http://www.the-village.ru/" target="_blank")
                        img.partners__off-img.partners__off-img--long(src="%=static=%img/content/partner_village.svg", alt="")

            ul.partners__info.partners__list
                li.partners__info-item.partners__item.partners__info-item--izvest
                    p.partners__info-title.partners__item-title Информационные <br>партнеры
                    a.partners__info-link.partners__item-link(href="http://izvestia.ru/" target="_blank")
                        img.partners__info-img.partners__info-img--long(src="%=static=%img/content/partner_izvest.png", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__item-link--center(href="http://www.tele.ru/" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_telened.png", alt="")
                li.partners__info-item.partners__info-item--moslenta.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__item-link--center(href="http://moslenta.ru/" target="_blank")
                        img.partners__info-img.partners__info-img--long(src="%=static=%img/content/partner_moslenta.png", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__item-link--center(href="http://www.naukatv.ru/" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_nauka.png", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__item-link--center(href="http://kot.sh/" target="_blank")
                        img.partners__info-img.partners__info-img--long(src="%=static=%img/content/partner_kot.svg", alt="")
                li.partners__info-item.partners__item.partners__info-item--nplus
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__item-link--center(href="https://nplus1.ru/" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_nplus.svg", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title Официальный<br>спонсор
                    a.partners__info-link.partners__item-link(href="https://vk.com/" target="_blank")
                        img.partners__info-img.partners__info-img--long(src="%=static=%img/content/partner_vk.png", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title При поддержке
                    a.partners__info-link.partners__item-link(href="http://www.interviewrussia.ru/" target="_blank")
                        img.partners__info-img.partners__info-img--long(src="%=static=%img/content/partner_inter.png", alt="")
                li.partners__info-item.partners__item.partners__info-item--archive
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--m(href="http://www.statearchive.ru/" target="_blank")
                        img.partners__info-img.partners__info-img--long(src="%=static=%img/content/partner_archive.png", alt="")
                li.partners__info-item.partners__item.partners__info-item--gallery
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--m.partners__item-link--center(href="http://www.tretyakovgallery.ru/" target="_blank")
                        img.partners__info-img.partners__info-img--long(src="%=static=%img/content/partner_gallery.png", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--m.partners__item-link--center(href="http://www.arancom.ru/" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_aran.png", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--m.partners__item-link--center(href="http://www.gctc.ru/" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_cpk.png", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--m.partners__item-link--center(href="http://www.zvezda-npp.ru/" target="_blank")
                        img.partners__info-img.partners__info-img--long(src="%=static=%img/content/partner_zvezda.png", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--m.partners__item-link--center(href="https://www.laspace.ru/" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_a.png", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--m.partners__item-link--center(href="http://www.mai.ru/" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_mai.svg", alt="")
                li.partners__info-item.partners__item.partners__info-item--museum
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--m(href="http://www.sovrhistory.ru/" target="_blank")
                        img.partners__info-img.partners__info-img--long(src="%=static=%img/content/partner_museum.svg", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--m.partners__item-link--center(href="http://www.kosmo-museum.ru/" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_cosmo.png", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--m.partners__item-link--center(href="http://www.energia.ru/" target="_blank")
                        img.partners__info-img.partners__info-img--long(src="%=static=%img/content/partner_energy.svg", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--m.partners__item-link--center(href="http://www.npoenergomash.ru/" target="_blank")
                        img.partners__info-img.partners__info-img--long(src="%=static=%img/content/partner_energomash.png", alt="")
                li.partners__info-item.partners__item.partners__info-item--ciolk
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--m.partners__item-link--center(href="http://www.gmik.ru/" target="_blank")
                        img.partners__info-img.partners__info-img--long(src="%=static=%img/content/partner_ciolk.png", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--m.partners__item-link--center(href="https://www.marhi.ru/" target="_blank")
                        img.partners__info-img.partners__info-img--long(src="%=static=%img/content/partner_ma.svg", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--m.partners__item-link--center(href="http://www.rsl.ru/" target="_blank")
                        img.partners__info-img(src="%=static=%img/content/partner_biblio.png", alt="")
                li.partners__info-item.partners__item
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--s(href="http://niikristall.ru/" target="_blank")
                        img.partners__info-img.partners__info-img--long(src="%=static=%img/content/partner_crystal.svg", alt="")
                li.partners__info-item.partners__item.partners__info-item--pozis
                    p.partners__info-title.partners__item-title
                    a.partners__info-link.partners__item-link.partners__info-link--s.partners__item-link--center(href="http://www.pozis.ru/" target="_blank")
                        img.partners__info-img.partners__info-img--long(src="%=static=%img/content/partner_pozis.jpg", alt="")

