.c-timeline {
    margin-top: 40px;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        left: 170px;
        top: 0;
        background-color: $white;

        @include respond-to(tablet) {
            left: 130px;
        }

        @include respond-to(fablet) {
            display: none;
        }
    }

    &__item {
        @include cf();
        margin-bottom: 40px;
    }

    &__date-time {
        float: left;
        text-align: right;
        font-size: 1.6rem;
        line-height: 1.8rem;
        font-weight: bold;

        @include respond-to(fablet) {
            text-align: left;
            float: none;
        }
    }

    &__time {
        @include respond-to(fablet) {
            display: inline-block;
        }
    }

    &__date {
        @include respond-to(fablet) {
            margin-left: 10px;
            display: inline-block;
        }
    }

    &__content {
        float: left;
        margin-left: 135px;
        width: 525px;
        padding: 20px;
        box-sizing: border-box;
        background-color: $content-gray;
        position: relative;
        overflow: hidden;

        @include respond-to(tablet) {
            margin-left: 90px;
        }

        @include respond-to(fablet) {
            float: none;
            margin-left: 0;
            width: 100%;
            margin-top: 10px;
        }

        &--tw {
            border-top: 2px solid $tw-blue;

            &-official:after {
                content: '';
                background-image: url('%=static=%general/icon_shield.svg');
                width: 190px;
                height: 185px;
                display: block;
                background-repeat: no-repeat;
                background-size: contain;
                opacity: .6;
                position: absolute;
                top: -15px;
                right: 30px;
                pointer-events: none;
                z-index: 5;
            }

            &-important {
                background-color: #53513F;
            }
        }

        &--vk {
            border-top: 2px solid $vk-blue;
        }

        &--yt {
            border-top: 2px solid $yt-red;
        }
    }

    &__title-image {
        border: 1px solid $white;
        display: inline-block;
        vertical-align: middle;
        width: 22px;
        height: 22px;
        position: relative;
        z-index: 10;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__title-name {
        color: $white;
        display: inline-block;
        vertical-align: middle;
        font-size: 1.5rem;
        margin-left: 5px;
        font-weight: bold;
        position: relative;
        z-index: 10;
    }

    &__title-account {
        color: #6F6F6F;
        display: inline-block;
        vertical-align: middle;
        font-size: 1.5rem;
        font-weight: bold;
        position: relative;
        z-index: 10;
    }

    &__text {
        margin-top: 10px;
        font-size: 1.6rem;
        line-height: 1.8rem;
        position: relative;
        z-index: 10;

        a {
            color: $white;
            text-decoration: none;
            border-bottom: 1px solid $white;
            padding-bottom: 1px;
            word-wrap: break-word;

            @include respond-to(fablet) {
                padding-bottom: 0;
                border-bottom: 0;
                text-decoration: underline;
            }
        }
    }

    &__img {
        margin-top: 20px;
        width: 100%;
        height: auto;
        display: block;
    }

    &__action {
        @include cf();
        margin-top: 20px;
        position: relative;
        z-index: 10;

        .like-icon {
            display: block;
        }

        .like-icon-active {
            display: none;
        }

        &--active {
            .c-timeline__action-text {
                color: $yellow;
            }

            .like-icon {
                display: none;
            }

            .like-icon-active {
                display: block;
            }
        }
    }

    &__action-col {
        float: right;

        &:last-child {
            margin-right: 15px;
        }
    }

    &__action-icon,
    &__action-text {
        display: inline-block;
        vertical-align: middle;
    }

    &__action-icon {
        height: 11px;
    }

    &__action-text {
        color: $white;
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 1;
        margin-left: 5px;
    }

    &__show-more {
        width: 525px;
        background-color: $content-gray;
        margin-left: 193px;
        color: #828282;
        font-size: 1.5rem;
        font-weight: bold;
        display: block;
        padding: 10px 20px;
        box-sizing: border-box;

        @include respond-to(tablet) {
            margin-left: 148px;
        }

        @include respond-to(fablet) {
            margin-left: 0;
            width: 100%;
        }
    }

    .bx-wrapper {
        margin-top: 20px;
    }

    // .bx-pager {
    //     display: none;
    // }

    &__video {
        margin-top: 20px;
        width: 100%;
        height: 280px;
        position: relative;

        @include respond-to(fablet) {
            height: 190px;
        }

        iframe {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
}