.print {
  width: 830px;
  box-sizing: border-box;
  padding: 27px 50px;
}

.print__search-query {
  padding-left: 45px;
}

.print__book-list {
  list-style: none;
  padding-left: 45px;
}

.print__logo {
  margin-bottom: 70px;
}

.print__search-query {
  margin-bottom: 25px;

  p {
    font-weight: 300;
  }

  span {
    font-weight: normal;
  }
}

.print__book-list {
  counter-reset: printBook;
}

.print__book-item {
  position: relative;
  counter-increment: printBook;

  &:after {
    content: counter(printBook);
    position: absolute;
    font-size: 12px;
    top: 5px;
    left: -35px;
  }
}

.print__book-item {
  font-size: 18px;
  color: $book-list;
  margin-bottom: 25px;
  page-break-inside: avoid;
  page-break-after: auto;
}

.print__book-author {
  font-weight: 800;
  margin-bottom: 5px;
}