mixin article_teaser(title, hash, desc, img)
    .c-article__teaser
        img.c-article__teaser-img(src='%=static=%img/general/' + img)
        h1.c-article__teaser-title= title
        if hash
            p.c-article__teaser-hash= hash
        p.c-article__teaser-desc= desc
        .c-article__teaser-social
            .social-likes
                div(data-service='facebook')
                div(data-service='vkontakte')
                div(data-service='twitter')
                div(data-service='plusone')