doctype html
html(class="no-js", lang="ru")

    include ../modules/head/head
    include ../modules/header/header
    include ../modules/sidemenu/sidemenu
    include ../modules/footer/footer

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        section.page__wrapper
            +sidemenu()

            section.section-main

                +header()

                .page-content
                    .row
                        .col.col-medium
                            .row
                                .col.col-medium
                            .row
                                .col.col-small
                                .col.col-small
                        .col.col-small

                    .row
                        .col.col-small
                        .col.col-small
                        .col.col-small

                    .row
                        .col.col-small
                        .col.col-small
                        .col.col-small

                    .row
                        .col.col-medium
                        .col.col-small

                    .row
                        .col.col-small
                        .col.col-medium
                            

        +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')