doctype html
html(class="no-js", lang="ru")

    include ../modules/head/head
    include ../modules/header/header
    include ../modules/footer/footer

    head
        +head(head.defaults)
    body.page
        |%=symbols=%

        section.page__wrapper
            .side-menu
                ul.side-menu__main
                    li.side-menu__main-item
                        a.side-menu__main-button.side-menu__main-button--burger.js-open-side-menu(href="#")
                    li.side-menu__main-item
                        a.side-menu__main-button.side-menu__main-button--search.js-open-side-menu(href="#")
                    li.side-menu__main-item
                        a.side-menu__main-button.side-menu__main-button--user.js-open-side-menu(href="#")
                    li.side-menu__main-item
                        a.side-menu__main-button.side-menu__main-button--bookmark.js-open-side-menu(href="#")

                ul.side-menu__advanced
                    li.side-menu__advanced-item
                    li.side-menu__advanced-item
                    li.side-menu__advanced-item

                .side-menu__wrapper
                    .side-menu__content
                        a.side-menu__main-button.side-menu__main-button--close.js-close-side-menu(href="#")
                        p.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis adipisci voluptatem veritatis et, laudantium eum tenetur eaque eveniet necessitatibus qui accusamus molestiae nam quis, neque alias deserunt numquam distinctio nemo aspernatur atque. Perspiciatis tempore quod, optio nulla sed soluta cum voluptatum laboriosam. Accusantium recusandae eos voluptas illum, sequi odit unde.

            section.section-main

                +header()

                .page-content
                    .row
                        .col.col-medium
                            .row
                                .col.col-medium
                            .row
                                .col.col-small
                                .col.col-small
                        .col.col-small

                    .row
                        .col.col-small
                        .col.col-small
                        .col.col-small

                    .row
                        .col.col-small
                        .col.col-small
                        .col.col-small

                    .row
                        .col.col-medium
                        .col.col-small

                    .row
                        .col.col-small
                        .col.col-medium
                            

        +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')