mixin head(data)
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title #{data.title}
    meta(content="", name="description")
    meta(content="", name="keywords")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(content="telephone=no", name="format-detection")
    //- This make sence for mobile browsers. It means, that content has been optimized for mobile browsers
    meta(name="HandheldFriendly", content="true")

    <link href="%=static=%css/main%=hash=%%=min=%.css" rel="stylesheet" type="text/css">

    if data.useSocialMetaTags
        meta(property="fb:app_id" content="475227962600265")
        meta(property="og:url" content="http://cosmos.polymus.ru")
        meta(property="og:site_name" content="#{data.title}")
        meta(property="og:title" content="#{data.title}")
        meta(property="og:description" content="Захватывающий рассказ о том, как Россия за несколько десятилетий прошла путь от формул Циолковского до искусственных спутников Земли, космических аппаратов и беспилотных исследовательских экспедиций к далеким планетам.")
        meta(property="og:image" content="http://cosmos.polymus.ru/static/img/content/share.png")
        meta(property="og:image:type" content="image/png")
        meta(property="og:image:width" content="1000")
        meta(property="og:image:height" content="750")
        meta(property="twitter:description" content="Захватывающий рассказ о том, как Россия за несколько десятилетий прошла путь от формул Циолковского до искусственных спутников Земли, космических аппаратов и беспилотных исследовательских экспедиций к далеким планетам.")
        link(rel="image_src" href="http://cosmos.polymus.ru/static/img/content/share.png")

    link(rel="icon" type="image/png" href="%=staticPrefix=%img/general/favicon.png")
    link(rel="shortcut icon" sizes="16x16 24x24 32x32 48x48 64x64" type="image/png" href="%=staticPrefix=%img/general/favicon.png")
    link(rel="apple-touch-icon" sizes='57x57' href="apple-icon-57x57.png")
    link(rel="apple-touch-icon-precomposed" sizes='57x57' href="%=staticPrefix=%img/general/favicon_57.png")
    link(rel="apple-touch-icon" sizes='72x72' href="%=staticPrefix=%img/general/favicon_72.png")
    link(rel="apple-touch-icon" sizes='114x114' href="%=staticPrefix=%img/general/favicon_114x114.png")
    link(rel="apple-touch-icon" sizes='120x120' href="%=staticPrefix=%img/general/favicon_120x120.png")
    link(rel="apple-touch-icon" sizes='144x144' href="%=staticPrefix=%img/general/favicon_144x144.png")
        
    script.
        (function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
