.l-paginator {
    width: 100%;
    text-align: center;
    margin-top: 60px;
}

.c-paginator {
    @include nl();

    &__item {
        display: inline-block;
        padding: 0 20px;
    }

    &__item-link {
        font-size: 1.6rem;
    }
}