mixin header(data)
    header.header
        .header__container
            a.poly-logo.header-logo(href='https://polymus.ru', target='_blank')
            a.mmoma-logo.header-logo(href='http://www.mmoma.ru/', target='_blank')
            a.glm-logo.header-logo(href='http://www.goslitmuz.ru/', target='_blank')

            a.open-btn
                i.fa.fa-bars

            nav.nav
                ul.main_menu
                    li
                        a(href='#about') О выставке
                    //- li
                        a(href='#exhibition') Посетить выставку
                    li
                        a(href='#lection') Лекции
