.c-index-block {
    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    &--work {
        background-image: url('%=static=%general/index_bg_work.jpg');
        .c-index-block__desc {
            background-color: rgba($blue, .7);
        }
    }
    &--play {
        background-image: url('%=static=%general/index_bg_play.jpg');
        .c-index-block__desc {
            background-color: rgba($pink, .7);
        }
    }
    &__desc {
        position: absolute;
        bottom: 0;
        left: 0;

        box-sizing: border-box;
        padding: 36px 115px 240px;

        @include respond-to(fablet) {
            padding: 30px 70px 120px;
        }
        @include respond-to(phone) {
            padding: 20px 50px 90px;
        }
        &-text {
            font-size: 1.5rem;
            font-weight: normal;

            text-align: center;

            color: $white;
        }
    }
    &__more {
        position: absolute;
        bottom: 5%;
        left: 50%;

        display: inline-block;

        width: auto;

        transform: translateX(-50%);
        text-align: center;
    }
    &__prev,
    &__next {
        position: absolute;
        top: 0;
    }
    &__prev {
        left: 32px;

        display: block;

        @include bg($slide_arrow_left_active);
        @include respond-to(fablet) {
            left: 22px;
        }
        @include respond-to(phone) {
            left: 10px;
        }
        &--inactive {
            @include bg($slide_arrow_left);
        }
    }
    &__next {
        right: 32px;

        display: block;

        @include bg($slide_arrow_right_active);
        @include respond-to(fablet) {
            right: 22px;
        }
        @include respond-to(phone) {
            right: 10px;
        }
        &--inactive {
            @include bg($slide_arrow_right);
        }
    }
}

.l-index-block__header {
    padding-top: 56px;

    text-align: center;
}

.c-page__title {
    color: $white;
    &--small {
        font-size: 1.875rem;
        font-weight: normal;
    }
    &--large {
        font-size: 5.625rem;
        font-weight: 600;

        text-transform: uppercase;
    }
}

.c-index-slider-grid {
    position: relative;

    overflow: hidden;
}

.c-index-slider__pager {
    position: absolute;
    z-index: 10;
    bottom: 30%;
    left: 0;

    width: 100%;
    height: 37px;
}
