.c-article-text {
    font-weight: normal;
    font-size: 1.625rem;
    margin-top: 50px;
    padding: 0 30px;

    a {
        color: $red;
        text-decoration: underline;
    }

    @include respond-to(fablet) {
        margin-top: 30px;
    }
}