.c-article-slider {
    // max-height: 500px;

    // @include respond-to(fablet) {
    //     max-height: 320px;
    // }

    // @include respond-to(phone320) {
    //     max-height: 290px;
    // }

    // &__nav {
    //     position: relative;

    //     height: 79px;

    //     border-bottom: 1px solid #cfcfcf;
    //     background-color: $bg-light-grey;

    //     @include respond-to(fablet) {
    //         height: 59px;
    //     }
    // }

    // &__prev,
    // &__next {
    //     position: absolute;
    //     z-index: 10;
    //     top: 29px;

    //     display: block;

    //     @include respond-to(fablet) {
    //         top: 19px;
    //     }
    // }

    // &__prev {
    //     left: 35px;

    //     @include bg($slide_arrow_left_black);
    // }

    // &__next {
    //     right: 35px;

    //     @include bg($slide_arrow_right_black);
    // }

    // &__counter {
    //     position: absolute;
    //     z-index: 5;
    //     top: 28px;

    //     width: 100%;

    //     text-align: center;

    //     @include respond-to(fablet) {
    //         top: 20px;
    //     }
    // }

    // &__current-count,
    // &__total-count,
    // &__count-seporator {
    //     font-size: 1.625rem;
    //     font-weight: normal;
    //     line-height: 1;
    // }
    
    &__caption {
        font-size: 1.125em;
        font-weight: normal;

        box-sizing: border-box;
        margin-top: 20px;
        padding: 0 30px;

        text-align: center;
    }

    &__item {
        position: relative;
        width: 100%;
        height: 500px;
        overflow: hidden;

        @include respond-to(fablet) {
            height: 320px;
        }

        @include respond-to(phone320) {
            height: 290px;
        }
    }

    &__img {
        width: auto;
        height: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        // @include respond-to(fablet) {
        //     height: 320px;
        // }

        // @include respond-to(phone320) {
        //     height: 290px;
        // }
    }
}

.l-article-slider {
    // .bx-viewport {
    //      max-height: 500px;

    //     @include respond-to(fablet) {
    //         max-height: 320px;
    //     }

    //     @include respond-to(phone320) {
    //         max-height: 250px;
    //     }
    // }

    margin-top: 85px;

    @include respond-to(fablet) {
        margin-top: 50px;
    }

    @include respond-to(phone320) {
        margin-top: 30px;
    }

    .bx-controls {
        position: relative;

        height: 79px;

        border-bottom: 1px solid #cfcfcf;
        background-color: $bg-light-grey;

        @include respond-to(fablet) {
            height: 59px;
        }
    }

    .bx-prev,
    .bx-next {
        position: absolute;
        z-index: 10;
        top: 29px;

        display: block;

        @include respond-to(fablet) {
            top: 19px;
        }
    }

    .bx-prev {
        left: 35px;

        @include bg($slide_arrow_left_black);
    }

    .bx-next {
        right: 35px;

        @include bg($slide_arrow_right_black);
    }

    .bx-pager {

        position: absolute;
        z-index: 5;
        top: 28px;

        width: 100%;

        text-align: center;
        font-size: 1.625rem;
        font-weight: normal;
        line-height: 1;

        @include respond-to(fablet) {
            top: 20px;
        }

        @include respond-to(phone) {
            top: 25px;
        }
    }
}
