mixin events_reg
    .events__reg
        h1.page__h1
            a.link.link_clean(href='#') Оформление подписки
            
        .form_clean
            .form__row
                label.radiobox-custom
                    input(type='radio', name='formBuySubscribeIsRegistered', checked='')
                    span.radiobox-custom__radio
                    span.radiobox-custom__text Я зарегистрирован
