mixin section_about_en
    section.about
        .section__container
            h3.section__title About
            .about__content
                p.about__content-col.col-md-6.
                    The EARTH LAB exhibition is a whole planet, a space where artists act as catalysts for innovation ideas in the modern society. This is a major co-curated multimedia project by Ars Electronica Center and the Polytechnic Museum, which is the first to be conducted within the established strategic partnership, rethinks life on our planet, its resources, new opportunities that are being brought by scientific progress and the phenomenon of digital culture.
                p.about__content-col.col-md-6.
                    The basic concept of the exhibition was successfully implemented within project Artists as Catalysts (2013) in Bilbao. The Moscow edition of the exhibition presents new artworks of the Ars Electronica international award winners of 2013-2015, that provide a fresh perspective on the idea of interaction between creativity, scientific thinking, and technology. The exhibition is complemented with an intensive parallel programme packed with lectures, workshops, meet-the-artist sessions, performances, concerts, and video screenings.