mixin tile_1_1(bgColor, icon, title)
    .c-tile.c-tile__1-1(class='c-tile--' + bgColor)
        img.c-tile__title-icon(src='%=static=%img/general/' + icon alt="")
        h3.c-tile__title.c-tile__title--small.text-white= title