doctype html
|<!--[if IE 7]><html class="ie7 lt-ie10 lt-ie9 lt-ie8 no-js" lang="ru"><![endif]-->
|<!--[if IE 8]><html class="ie8 lt-ie10 lt-ie9 no-js" lang="ru"><![endif]-->
|<!--[if IE 9 ]><html class="ie9 lt-ie10 no-js" lang="ru"><![endif]-->
|<!--[if (gt IE 9)|!(IE)]><!--><html class="no-js" lang="ru"><!--<![endif]-->

include ../modules/head/head
include ../modules/footer/footer
include ../modules/header/header
include ../modules/lorem

head
    +head(head.defaults)
body
    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q || []).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-71403418-1', 'auto');
        ga('send', 'pageview');

        <!-- Yandex.Metrika counter -->
    script.
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function () {
                try {
                    w.yaCounter34221660 = new Ya.Metrika({
                        id: 34221660,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true,
                        webvisor: true
                    });
                } catch (e) {
                }
            });
            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () {
                    n.parentNode.insertBefore(s, n);
                };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";
            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else {
                f();
            }
        })(document, window, "yandex_metrika_callbacks");
    noscript
        <div><img src="https://mc.yandex.ru/watch/34221660" style="position:absolute; left:-9999px;" alt="" /></div>

    +header()
    //.preloader
    //    .sk-spinner.sk-spinner-wave
    //        .sk-rect1
    //        .sk-rect2
    //        .sk-rect3
    //        .sk-rect4
    //        .sk-rect5

    section.section__main.slider-wrapper
        .page__title
            h1 200 ударов <span>в минуту</span>
            p пишущая машинка <span>и сознание хх века</span>
            //.page__date
            //    p 16.12 &mdash; 13.03
            //p ММОМА, <span>Петровка, 25</span>
            .page__social
                .social-likes
                    .facebook(title='Поделиться ссылкой на Фейсбуке')
                    .twitter(data-via='Polytechnicum', title='Поделиться ссылкой в Твиттере')
                    .vkontakte(title='Поделиться ссылкой во Вкотакте')
                    //.plusone(title='Поделиться ссылкой в Гугл-плюсе')
            p.page__title-hashtag
                a(href='https://www.instagram.com/explore/tags/200%D1%83%D0%B4%D0%B0%D1%80%D0%BE%D0%B2/' target='_blank') #200ударов

    section.section-banner.section-banner__relikva
        a(href='https://relikva.com/200udarov' target='_blank')
            img(src='%=staticPrefix=%img/content/R_bannerfor200polymus.jpg')

    section#about.page__section.section__about
        .section__container.clearfix
            h3.section__title.col-lg-12
                | О выставке
            .col-lg-5.col-md-6
                p.section__text.section__text-person
                    | <span>Куратор и автор идеи: <i>Анна Наринская</i></span>
                    | <span>Архитектура: <i>Кирилл Асс, Надя Корбут</i></span>
                    | <span>Графический дизайн: <i>Игорь Гурович</i></span>
                p.section__text
                    | Выставка посвящена печатной машинке как объекту и как главному техническому инструменту создания литературного текста в XX веке. Мультимедийный проект &laquo;200 ударов в минуту&raquo;&nbsp;&mdash;&nbsp;это культурологическое исследование, попытка определить значение печатной машинки для русской литературы и искусства в частности и для истории России прошлого столетия в целом.
                p.section__text
                    | Зритель увидит экспонаты более чем из двадцати государственных и частных собраний, среди них&nbsp;&mdash;&nbsp;машинки Л.Н. Толстого, Б.Л. Пастернака, А.И. Солженицына и других, а также специально созданные для проекта аудио- и видеоинсталляции современных авторов&nbsp;&mdash;&nbsp;Бориса Хлебникова, Хаима Сокола, Алексея Айги.
                p.section__text
                    | Диплом XVIII Международного фестиваля «Интермузей 2016» за «Лучший проект по презентации и интерпретации материального и нематериального культурного наследия».

            img.about-bg(src='%=staticPrefix=%img/content/about-bg.png')

    section#video.page__section.section__video
        .section__container
            h3.section__title.col-lg-12 Как это было
            .video-container
                iframe(src="https://www.youtube.com/embed/SIO0v1GIBmY" frameborder="0" allowfullscreen)

    section#exhibition.page__section.section__exhibition
        .section__container.clearfix
            h3.section__title.col-lg-12
                | Посетить выставку
            .col-lg-5.col-md-7
                p.section__text.section__text--exhibition-location
                    a(href='http://www.mmoma.ru/' target='_blank') ММОМА, улица Петровка, дом 25
                p.section__text
                    | Время работы выставки
                p.section__text.section__text--big-margin
                    | 16 декабря &ndash; 13 марта <br>
                    | Понедельник &ndash; воскресенье 12:00&ndash;20:00 <br>
                    | Четверг 13:00&ndash;21:00 <br>
                    | Третий понедельник каждого месяца&nbsp;&mdash;&nbsp;выходной.
                p.section__text
                    | Билеты
                p.section__text.section__text--big-margin
                    | 350 рублей (взрослые) <br>
                    | 150 рублей (льготные категории). <br>
                    | Кассы закрываются за 30 минут до закрытия музея.
                p.section__text
                    | Экскурсии
                p.section__text
                    | 11 и 25 февраля в 19:30 <br>
                    | 14, 22, 28 февраля и 6 марта в 13:00
                p.section__text
                    | Стоимость участия в экскурсии – 150 руб., льготный билет  – 100 руб. <br>
                    | Входные билеты в ММОМА оплачиваются отдельно. <br>
                    | Заказ экскурсий по тел. +7 495 231-44-06 или по почте <a href="guide@mmoma.ru">guide@mmoma.ru</a>.

            .col-lg-6.col-lg-offset-1.col-md-5
                .section__exhibition-map
                    <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=6U0knTgxj12JJZLRm_EnJ2sFydIIjlBz&width=100%&height=515&lang=ru_RU&sourceType=constructor"></script>

    section#lection.page__section.section__lection
        .section__container.clearfix
            h3.section__title.col-lg-12
                | Лекции
            //.section__text.col-lg-12.section__text--big-margin
            //    p.lection__text
            //        a(href="http://www.mmoma.ru/" target="_blank") Адрес: ул. Петровка, дом 25, Бальный зал.<br>
            //        | Для посещения лекции необходимо зарегистрироваться и купить билет на выставку "200 ударов".
            .col-lg-5.col-s-12.col-md-5.lection-col
                .section__text
                    p.lection__text
                         //| 9 февраля
                         //br
                         a(href="https://polymus.ru/pop-science/video/mashinopis.-s.-gandlevskiy-a.-shilyaeva-m.-galkina/" target="_blank") Машинопись. Вечер первый.
                         | <br><i>Сергей Гандлевский, Александра Шиляева и Мария Галкина.</i><br>
                         //| Лекция организована Политехническим музеем.
                //.section__text
                    //p.lection__text
                         //| 13 февраля
                         //br
                         //| Сеанс медленного чтения. "Культовые книги: читаем медленно".
                         //a(href="https://polytech.timepad.ru/event/288768/" target="_blank") Сеанс медленного чтения. "Культовые книги: читаем медленно".
                         //| <br>Лекция организована Государственным литературным музеем.
                .section__text
                    p.lection__text
                         //| 14 февраля
                         //br
                         a(href="https://polymus.ru/pop-science/video/mashinopis-vtoroy-vecher/" target="_blank") Машинопись. Вечер второй.
                         | <br><i>Тимур Кибиров и Никита Сунгатов.</i><br>
                         //| Лекция организована Политехническим музеем.
                .section__text
                    p.lection__text
                        //| 19 февраля
                        //br
                        a(href="https://polymus.ru/pop-science/video/141554-okonchennaya-pesa-dlya-pechatnoy-mashinki/" target="_blank") Оконченная пьеса для печатной машинки.
                        | <br><i>Денис Бояринов.</i>
            .col-lg-6.col-s-12.col-lg-offset-1.col-md-5.col-md-offset-2.lection-col
                .section__text
                    p.lection__text
                        //| 21 февраля
                        //br
                        a(href="https://polymus.ru/pop-science/video/mashinopis-tretiy-vecher/" target="_blank") Машинопись. Вечер третий.
                        | <br><i>Анатолий Найман, Екатерина Соколова.</i>
                //.section__text
                //    p.lection__text
                //        | 22 февраля<br>понедельник, 19:30<br>
                //        a(href="https://polytech.timepad.ru/event/289146/" target="_blank")
                //            | Печатная машинка: мир до и после.
                //.section__text
                    //p.lection__text
                        //| 27 и 28 февраля
                        //br
                        //| Мастер-класс с художником <i>Еленой Демидовой.</i>
                        //a(href="http://www.mmoma.ru/kids/masterklassy_s_hudozhnikami/" target="_blank") Мастер-класс с художником <i>Еленой Демидовой.</i>
                        //| <br>Количество человек ограничено, обязательная запись через <a href="mailto:kids@mmoma.ru">kids@mmoma.ru</a>.
                        //| <br>Стоимость абонемента на два дня: 1500 рублей.
                .section__text
                    p.lection__text
                        //| 9 марта<br>среда, 19:30<br>
                        a(href="https://polymus.ru/pop-science/video/mozg-ot-pishuschey-mashinki-k-kompyuteru-tatyana-chernigovskaya/" target="_blank") Мозг: от пишущей машинки к компьютеру.
                        | <br><i>Татьяна Черниговская.</i>

    section#gallery.page__section.section__gallery.portfolio-wrapper
        .section__container
            h3.section__title.col-lg-12
                | Фотографии
            .project-wrapper
            .portfolio.port-3(data-show='3')
                .port-item(data-cat='desing')
                    .port-item__inner
                        img(src='%=staticPrefix=%img/content/200udarov/1_result.jpg')
                        a(href='portfolio_object1.html').port-overlay
                            .port-overlay__info.inner
                                h4.port-overlay__title 200 ударов
                .port-item(data-cat='desing')
                    .port-item__inner
                        img(src='%=staticPrefix=%img/content/opening/1_result.jpg')
                        a(href='portfolio_object2.html').port-overlay
                            .port-overlay__info.inner
                                h4.port-overlay__title Открытие
                .port-item(data-cat='desing')
                    .port-item__inner
                        img(src='%=staticPrefix=%img/content/choosen/_DSC0377.jpg')
                        a(href='portfolio_object3.html').port-overlay
                            .port-overlay__info.inner
                                h4.port-overlay__title Юрий Пальмин

    section.section-banner.section-banner__thngs
        a(href='https://thngs.co/200keystrokes' target='_blank')
            img(src='%=staticPrefix=%img/content/THNGS_bannerfor200polymus.jpg')

    section#org.page__section.section__org
        .section__container
            h3.section__title.col-lg-12
                | Организаторы
            .org-list.clearfix
                .col-lg-4.col-md-4
                    a.org-item.org-poly(href='https://polymus.ru' target='_blank')
                .col-lg-4.col-md-4
                    a.org-item.org-momma(href='http://www.mmoma.ru/' target='_blank')
                .col-lg-4.col-md-4
                    a.org-item.org-glm(href='http://www.goslitmuz.ru/' target='_blank')
            h3.section__title.thanks__title.col-lg-12
                | Благодарности
            .thanks-list.clearfix
                p.col-lg-12
                    | Выражаем благодарность<br>за предоставление экспонатов:
                .col-lg-4.col-md-4
                    | Государственной Третьяковской галерее,<br>
                    | Государственному мемориальному и&nbsp;природному заповеднику &laquo;Музей-усадьба Л.&nbsp;Н.&nbsp;Толстого &laquo;Ясная&nbsp;Поляна&raquo;,<br>
                    | Государственному музею В.&nbsp;В.&nbsp;Маяковского,<br>
                    | Государственному музею им.&nbsp;М.&nbsp;А.&nbsp;Булгакова,<br>
                    | Государственному музею К.&nbsp;А.&nbsp;Федина в Саратове,<br>
                    | Государственному музею Л.&nbsp;Н.&nbsp;Толстого,<br>
                    | Государственному музею-заповеднику им.&nbsp;М.&nbsp;А.&nbsp;Шолохова,<br>
                    | Дому русского зарубежья им.&nbsp;Александра Солженицына,<br>
                    | Дому-музею Леонида Андреева в Орле,<br>
                .col-lg-4.col-md-4
                    | Литературному музею Института русской литературы, РАН, <br>
                    | Международному обществу &laquo;Мемориал&raquo;, <br>
                    | Московскому литературному музею-центру К.&nbsp;Г.&nbsp;Паустовского, <br>
                    | Музею А. М. Горького Института мировой литературы им.&nbsp;А.&nbsp;М.&nbsp;Горького&nbsp;РАН, <br>
                    | Музею Анны Ахматовой в Фонтанном доме в Санкт-Петербурге, <br>
                    | Музею В.&nbsp;В.&nbsp;Набокова Санкт-Петербургского государственного университета, <br>
                    | Российской государственной библиотеке, <br>
                    | Российскому еврейскому мемориалу на Поклонной горе, <br>
                .col-lg-4.col-md-4
                    | Санкт-Петербургскому государственному литературному музею &laquo;ХХ век&raquo;, <br>
                    | Сахаровскому центру, <br>
                    | Фонду Д.&nbsp;Пригова и Надежде Буровой лично <br>
                    | ЦСИ Гараж и Саше Обуховой лично, <br>
                    | XL Галерее, <br>
                    | Виктору Лебединскому, <br>
                    | Владимиру Кассилю и Ирине&nbsp;Собиновой-Кассиль, <br>
                    | Елене Пастернак, <br>
                    | Ирине Наховой, <br>
                    | Никите Шкловскому-Корди, <br>
                    | Юрию Альберту, <br>
                    | А также всем частным собраниям. <br>


    section.page__section.section__partners
        .section__container.clearfix
            h3.section__title.col-lg-12
                | Партнеры
            .main-partners.clearfix
                .col-lg-3.main-partners--openbank.col-md-6.col-s-12
                    .partner-title
                        | Генеральный партнер Политехнического&nbsp;музея
                    a(href="http://www.open.ru/", target="_blank").partner-img.partner-openbank
                .col-lg-3.main-partners--sams.col-md-6.col-s-12
                    .partner-title
                        | Официальный партнер ММОМА
                    a(href="http://www.samsung.com/ru/home/", target="_blank").partner-img.partner-sams
                .col-lg-2.main-partners--memo.col-md-6.col-s-12
                    .partner-title
                        | Партнер выставки
                    a(href="http://www.memo.ru/s/1.html", target="_blank").partner-img.partner-memo
                .col-lg-2.main-partners--komm.col-md-6.col-s-12
                    .partner-title
                        | Генеральный информационный партнер
                    a(href="http://www.kommersant.ru/", target="_blank").partner-img.partner-komm
            .partners.clearfix
                .partner-title.col-lg-12
                    | Информационные<br>партнеры
                .col-lg-2.col-md-4.partners--snob.col-s-12
                    a(href="https://snob.ru/", target="_blank").partner-img.partner-snob
                .col-lg-3.col-md-4.partners--art.col-s-12
                    a(href="http://www.iskusstvo-info.ru/", target="_blank").partner-img.partner-art
                .col-lg-3.col-md-4.partners--art-news.col-s-12
                    a(href="http://www.theartnewspaper.ru/", target="_blank").partner-img.partner-art-news
                .col-lg-2.col-md-6.partners--colta.col-s-12
                    a(href="http://www.colta.ru/", target="_blank").partner-img.partner-colta
                .col-lg-2.col-md-6.partners--di.col-s-12
                    a(href="http://di.mmoma.ru/", target="_blank").partner-img.partner-di

    +footer()

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=staticPrefix=%js/main%=hash=%%=min=%.js')
    script.
        $(function(){
            var portItem = $('.port-item');

            portItem.on('click', function(){
                if ($(this).hasClass('port-item--closed') || $(this).hasClass('port-item--active')) {
                    return false;
                }
                portItem.removeClass('port-item--active');
                $(this).addClass('port-item--active');
            });
        });
