.portfolio-slider-ajax-wrap
    ul.portfolio-slider-ajax.bxslider
        li
            img(src='%=staticPrefix=%img/content/choosen/_DSC0377.jpg' title='Машина пишущая Blickensderfer (США, 1910&ndash;1912) &mdash; редкий образец популярной в начале ХХ-го века портативной пишущей машины с единым литероносителем (коллекция Политехнического музея)' data-copy='Юрий Пальмин')
        li
            img(src='%=staticPrefix=%img/content/choosen/_DSC0383.jpg' title='Машина пишущая Blickensderfer (США, 1910&ndash;1912) &mdash; сигнальный звонок, предупреждающий об окончании строки (коллекция Политехнического музея)' data-copy='Юрий Пальмин')
        li
            img(src='%=staticPrefix=%img/content/choosen/_P3M4302.jpg' title='Машина пишущая Blickensderfer (США, 1910&ndash;1912) &mdash; перечень патентов и ручка бумагоопорного вала (коллекция Политехнического музея)' data-copy='Юрий Пальмин')
        li
            img(src='%=staticPrefix=%img/content/choosen/_DSC0445.jpg' title='Машина пишущая Underwood (США, 1918&ndash;1919) &mdash; впервые в этой машине была использована сегментно-рычажная система печатающего механизма, позволяющая видеть текст во время печатания. Благодаря взаимодействию различных частей машины, одновременно производились три действия: оттиск литеры на бумаге, шаговое перемещение каретки с бумагоопорным валом и поворот катушки с красящей лентой (коллекция Политехнического музея)' data-copy='Юрий Пальмин')
        li
            img(src='%=staticPrefix=%img/content/choosen/_DSC0541.jpg' title='Машина пишущая Underwood (США, 1918&ndash;1919) &mdash; фрагмент рычажного литероносителя (коллекция Политехнического музея)' data-copy='Юрий Пальмин')
        li
            img(src='%=staticPrefix=%img/content/choosen/_DSC0515.jpg' title='Машина пишущая Royal Bar-Lock (Англия, 1909-1911) имеет рычажный печатающий механизм с вертикальным расположением литерных рычагов и шестирядную клавиатуру (коллекция Политехнического музея)' data-copy='Юрий Пальмин')
        li
            img(src='%=staticPrefix=%img/content/choosen/_DSC0638.jpg' title='Машина пишущая Imperial (Англия, 1914) имеет трехрядную клавиатуру овальной формы. Шрифт русский дореволюционный, два переключателя регистра. Корпус закреплен на деревянном основании (коллекция Политехнического музея)' data-copy='Юрий Пальмин')
        li
            img(src='%=staticPrefix=%img/content/choosen/_DSC0599.jpg' title='Машина пишущая малогабаритная Standard Folding (США, 1910&ndash;1912) имеет рычажный печатный механизм с передним ударом и трехрядную клавиатуру (коллекция Политехнического музея)' data-copy='Юрий Пальмин')
        li
            img(src='%=staticPrefix=%img/content/choosen/_P3M4289.jpg' title='Машина пишущая Mignon (Россия, 1914) имеет печатающий механизм с единым литероносителем цилиндрической формы (коллекция Политехнического музея)' data-copy='Юрий Пальмин')
    .portfolio-slider__caption
    .portfolio-slider__copyright
