.portfolio-slider-ajax-wrap
    ul.portfolio-slider-ajax.bxslider
        li
            img(src='%=staticPrefix=%img/content/200udarov/1_result.jpg' title='' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/200udarov/2_result.jpg' title='Машинки из коллекции Политехнического музея: Remington, Underwood, Mercedes, Blickensderfer, Erika Naumann, Hammond, Brother' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/200udarov/3_result.jpg' title='Василий Гроссман «Жизнь и судьба» (1300 машинописных страниц с авторскими комментариями)' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/200udarov/4_result.jpg' title='Образ машинистки в культуре ХХ века' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/200udarov/5_result.jpg' title='Инсталляция Константина Чернозатонского «Бледнеющая копия»' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/200udarov/6_result.jpg' title='Копирка Л. Н. Толстого' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/200udarov/7_result.jpg' title='' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/200udarov/8_result.jpg' title='С. М. Сохранская «Здравствуй, Сашок!»' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/200udarov/9_result.jpg' title='Текст: «Не могу молчать», Л. Н. Толстой' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/200udarov/10_result.jpg' title='А. Бродский «Без названия»' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/200udarov/11_result.jpg' title='В зале воссоздано пространство  перформанса Анатолия Осмоловского «Приказ по Армии искусства» (1997)' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/200udarov/12_result.jpg' title='' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/200udarov/13_result.jpg' title='' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/200udarov/14_result.jpg' title='Из коллекции Политехнического музея' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/200udarov/15_result.jpg' title='Из коллекции Политехнического музея' data-copy='')
    .portfolio-slider__caption
    .portfolio-slider__copyright
