.portfolio-slider-ajax-wrap
    ul.portfolio-slider-ajax.bxslider
        li
            img(src='%=staticPrefix=%img/content/opening/1_result.jpg' title='Анна Наринская, куратор и автор идеи, проводит экскурсию по выставке' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/opening/2_result.jpg' title='Юлия Шахновская дает интервью телевидению' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/opening/3_result.jpg' title='' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/opening/4_result.jpg' title='Мария Скрипальщикова, координатор проекта' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/opening/5_result.jpg' title='' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/opening/6_result.jpg' title='' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/opening/7_result.jpg' title='режиссер Андрей Житинкин' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/opening/8_result.jpg' title='Вероника Кандаурова, Анна Наринская, Василий Церетели, Юлия Шахновская, Сергей Певнев' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/opening/9_result.jpg' title='Евгений Добровинский' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/opening/10_result.jpg' title='Евгений Асс' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/opening/11_result.jpg' title='Протей Темен, Наталья Шевалькова, Сергей Певнев, Кира Сакарельо Церетели, Василий Церетели' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/opening/12_result.jpg' title='Хаим Сокол' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/opening/13_result.jpg' title='' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/opening/14_result.jpg' title='Филипп Дзядко, Юлия Вронская, Иван Боганцев' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/opening/15_result.jpg' title='Сергей Пахоменко, Юлия Шахновская, Андрей Бабицкий' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/opening/16_result.jpg' title='Bart Dorsa' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/opening/17_result.jpg' title='Александр Тихонов' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/opening/18_result.jpg' title='Константин Чернозатонский, Демьян Кудрявцев, Артемий Лебедев' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/opening/19_result.jpg' title='' data-copy='')
        li
            img(src='%=staticPrefix=%img/content/opening/20_result.jpg' title='Иван Боганцев, Протей Темен, Александра Хейфец' data-copy='')
    .portfolio-slider__caption
    .portfolio-slider__copyright
