<!doctype html>
{% load i18n cms_tags localeurl_tags %}
{% get_current_language as LANGUAGE_CODE %}

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Mail</title>
    <style>
        * {
            padding: 0;
            margin: 0;
            color: #333333;
        }
    </style>
</head>
<body style="border: 1px solid #dedede; width: 648px;">
<table class="pad_null" style="width: 100%; border-collapse: collapse; margin-bottom: 65px; border-spacing: 0; padding: 0;">
    <tr>
        <td style="max-height: 36px; min-height: 36px; height: 36px; width: 32px;border:none;">
            <!-- <img style="border: none; background: none; color: white; border: none; background: none; color: white; display: block; max-height: 36px; min-height: 36px; height: 36px; width:100%;" src="{{ protocol }}://{{ domain }}/static/_/build/img/cfbef47d.gif" alt=""> -->
        </td>
        <td style="max-height: 36px; min-height: 36px; height: 36px; width: 536px;border:none;">
            <!-- <img style="border: none; background: none; color: white; display: block; max-height: 36px; min-height: 36px; height: 36px; width:100%;" src="{{ protocol }}://{{ domain }}/static/_/build/img/cfbef47d.gif" alt=""> -->
        </td>
        <td style="max-height: 36px; min-height: 36px; height: 36px; width: 80px;border:none;">
            <!-- <img style="border: none; background: none; color: white; display: block; max-height: 36px; min-height: 36px; height: 36px; width:100%;" src="{{ protocol }}://{{ domain }}/static/_/build/img/cfbef47d.gif" alt=""> -->
        </td>
    </tr>
    <tr>
        <td style="border:none; width:32px;">
            <!-- <img style="border: none; background: none; color: white; display: block; max-height: 32px; min-height: 32px; height: 32px; width:32px;" src="{{ protocol }}://{{ domain }}/static/_/build/img/cfbef47d.gif" alt=""> -->
        </td>
        <td>
            <table class="pad_null" style="width: 536px; border-collapse: collapse; border-spacing: 0; padding: 0;">
                <tr>
                    <td style="border:none;">
                        <a href="{{ protocol }}://{{ domain }}/{{ LANGUAGE_CODE }}/" target="_blank">
                            <img style="border: none; background: none; color: white; display: block; width:177px; max-max-height: 28px; min-height: 28px; height: 28px; min-max-height: 28px; min-height: 28px; height: 28px; max-height: 28px; min-height: 28px; height: 28px;"
                                 src="{{ protocol }}://{{ domain }}/static/_/build/img/logo-blue-mail.png" alt="">
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="max-height: 52px; min-height: 52px; height: 52px; border:none;">
                        <!-- <img style="border: none; background: none; color: white; max-height: 52px; min-height: 52px; height: 52px; display: block;" src="{{ protocol }}://{{ domain }}/static/_/build/img/cfbef47d.gif" alt=""> -->
                    </td>
                </tr>
                <!-- {% block hello %} -->
                    <tr>
                        <td style="border:none;">
                            <span style="font-size: 17px; color: #333333; font-weight: bold; font-family: verdana;">Научные лаборатории Политехнического музея приветствуют вас!</span> <!-- Здравствуйте, если русский -->
                        </td>
                    </tr>
                    <!-- <tr>
                        <td style="border:none;">
                            <span style="font-size: 17px; color: #333333; font-weight: bold; font-family: verdana;">{% trans 'Dear' %}, {% block username %}{% endblock %}</span>
                        </td>
                    </tr> -->
                <!-- {% endblock %} -->
                <tr>
                    <td style="max-height: 20px; min-height: 20px; height: 20px; border:none;">
                        <!-- <img style="border: none; background: none; color: white; max-height: 20px; min-height: 20px; height: 20px; display: block;" src="{{ protocol }}://{{ domain }}/static/_/build/img/cfbef47d.gif" alt=""> -->
                    </td>
                </tr>
                <tr>
                    <td style="border:none;">
                      <span style="font-size: 13px; color: #333333; font-family: verdana; display: block;">
                        Вы записали ребенка %kid-name% в кружок «%study-name%».
                      </span>
                      <span style="font-size: 13px; color: #333333; font-family: verdana; display: block;">
                        Стоимость обучения – %study-price% рублей. 
                      </span>
                      <span style="font-size: 13px; color: #333333; font-family: verdana; display: block;">
                        Ваша индивидуальная ссылка на оплату: %ym-link%
                      </span>
                    </td>
                </tr>
                <tr>
                    <td style="border:none; padding-top: 20px;">
                      <span style="font-size: 13px; color: #333333; font-family: verdana; display: block;">
                        В течение трех суток после получения индивидуальной ссылки для оплаты место в кружке будет оставаться забронированным на имя %kid-name%. Если оплата не будет произведена до окончания этого срока, бронь снимется, и кнопка оплаты станет доступной для других желающих. Приоритет в этом случае отдается оплатившему кружок.
                      </span>
                    </td>
                </tr>
                <tr>
                    <td style="border:none; padding-top: 20px;">
                      <span style="font-size: 13px; color: #333333; font-family: verdana; display: block;">
                        По всем вопросам обращайтесь, пожалуйста, по телефону: +7 495 780-60-25
                      </span>
                    </td>
                </tr>
                <!-- <tr>
                    <td style="border:none;">
                      <span style="font-size: 13px; color: #333333; font-family: verdana;">
                        {% block body %}{% endblock %}
                      </span>
                    </td>
                </tr> -->
                <tr>
                    <td style="border:none; padding-top: 20px;">
                      <span style="font-size: 13px; color: #333333; font-family: verdana;">
                        До встречи в Научных лабораториях! <br>
                        С уважением, <br>
                        Политехнический музей
                      </span>
                    </td>
                </tr>
            </table>
        </td>
        <td style="border:none; width:80px;">
            <!-- <img style="border: none; background: none; color: white; display: block; width:80px;" src="{{ protocol }}://{{ domain }}/static/_/build/img/cfbef47d.gif" alt=""> -->
        </td>
    </tr>
</table>

<table class="pad_null" style="border-top: 1px solid #dedede; width: 100%; margin-bottom: 43px; padding:0; border-spacing:0;">
    <tr>
        <td style="max-height: 42px; min-height: 42px; height: 42px; width:20px;">
            <!-- <img style="border: none; background: none; color: white; display: block; max-height: 42px; min-height: 42px; height: 42px;" src="{{ protocol }}://{{ domain }}/static/_/build/img/cfbef47d.gif" alt=""> -->
        </td>
        <td style="max-height: 42px; min-height: 42px; height: 42px; width:177px;">
            <!-- <img style="border: none; background: none; color: white; display: block; max-height: 42px; min-height: 42px; height: 42px;" src="{{ protocol }}://{{ domain }}/static/_/build/img/cfbef47d.gif" alt=""> -->
        </td>
        <td style="max-height: 42px; min-height: 42px; height: 42px; width:40px;">
            <!-- <img style="border: none; background: none; color: white; display: block; max-height: 42px; min-height: 42px; height: 42px;" src="{{ protocol }}://{{ domain }}/static/_/build/img/cfbef47d.gif" alt=""> -->
        </td>
        <td style="max-height: 42px; min-height: 42px; height: 42px; width:390px;">
            <!-- <img style="border: none; background: none; color: white; display: block; max-height: 42px; min-height: 42px; height: 42px;" src="{{ protocol }}://{{ domain }}/static/_/build/img/cfbef47d.gif" alt=""> -->
        </td>
    </tr>
    <tr>
        <td style="width:32px;">
            <!-- <img style="border: none; background: none; color: white; width:20px; display: bock;" src="{{ protocol }}://{{ domain }}/static/_/build/img/cfbef47d.gif" alt=""> -->
        </td>
        <td style="width:177px; vertical-align: top;">
            <table style="padding:0;border-spacing:0;">
                <tr>
                    <td>
                        <a href="{{ protocol }}://{{ domain }}/{{ LANGUAGE_CODE }}/" target="_blank">
                            <img style="border: none;background: none;color: white;width:177px;max-height: 28px;min-height: 28px;height: 28px;display: block;" src="{{ protocol }}://{{ domain }}/static/_/build/img/logo-blue-mail.png" alt="">
                        </a>
                    </td>
                </tr>
            </table>
            <table style="width:177px;padding:0;border-spacing:0; margin-top: 10px;">
                <tr style="padding-top: 10px;text-align: left;">
                    <td style="width: 15px;height: 15px;">
                        <a href="https://www.facebook.com/polytechnicum" style="width: 15px;height: 15px;" target="_blank">
                            <img style="width: 15px; height: 15px;" src="{{ protocol }}://{{ domain }}/static/_/build/img/icons/facebook-mail-icon.png" alt="">
                        </a>
                    </td>
                    <td style="width: 15px;height: 15px;">
                        <a href="https://vk.com/polytechnicum" style="width: 15px;height: 15px;" target="_blank">
                            <img style="width: 15px; height: 15px;" src="{{ protocol }}://{{ domain }}/static/_/build/img/icons/vk-mail-icon.png" alt="">
                        </a>
                    </td>
                    <td style="width: 15px;height: 15px;">
                        <a href="http://ok.ru/group/53227509383279" style="width: 15px;height: 15px;" target="_blank">
                            <img style="width: 15px; height: 15px;" src="{{ protocol }}://{{ domain }}/static/_/build/img/icons/ok-mail-icon.png" alt="">
                        </a>
                    </td>
                    <td style="width: 15px;height: 15px;">
                        <a href="https://twitter.com/polytechnicum" style="width: 15px;height: 15px;" target="_blank">
                            <img style="width: 15px; height: 15px;" src="{{ protocol }}://{{ domain }}/static/_/build/img/icons/twitter-mail-icon.png" alt="">
                        </a>
                    </td>
                    <td style="width: 15px;height: 15px;">
                        <a href="http://instagram.com/polytechnicum" style="width: 15px;height: 15px;" target="_blank">
                            <img style="width: 15px; height: 15px;" src="{{ protocol }}://{{ domain }}/static/_/build/img/icons/instagram-mail-icon.png" alt="">
                        </a>
                    </td>
                    <td style="width: 15px;height: 15px;">
                        <a href="https://www.youtube.com/user/polytechnicum" style="width: 15px;height: 15px;" target="_blank">
                            <img style="width: 15px; height: 15px;" src="{{ protocol }}://{{ domain }}/static/_/build/img/icons/youtube-mail-icon.png" alt="">
                        </a>
                    </td>
                    <td style="width: 15px;height: 15px;">
                        <a href="https://www.flickr.com/photos/polytechnicum/" style="width: 15px;height: 15px;" target="_blank">
                            <img style="width: 15px; height: 15px;" src="{{ protocol }}://{{ domain }}/static/_/build/img/icons/flickr-mail-icon.png" alt="">
                        </a>
                    </td>
                </tr>
            </table>
        </td>
        <td style="vertical-align:top; width:30px; text-align: center"></td>
        <td style="vertical-align:top; width:390px;">
            <table class="pad_null" style="padding:0; border-spacing:0;">
                <tr>
                    <td>
                        <span style="font-size: 11px; color: #878787; font-family: verdana; font-weight: bold;">© {% now 'Y' %} Политехнический музей</span>
                    </td>
                </tr>
                <tr>
                    <td style="height:12px;">
                        {% page_id_url "copyright" as copyright %}
                        <a href="{{ protocol }}://{{ domain }}/{{ LANGUAGE_CODE }}/copyright/" target="_blank" style="font-size: 10px; color: #0066ff; font-family: verdana; line-height: 12px; display: block; width: 195px;">Использование материалов сайта</a>
                    </td>
                </tr>
                <tr>
                    <td style="height:12px;">
                        {% page_id_url "terms" as terms %}
                        <a href="{{ protocol }}://{{ domain }}/{{ LANGUAGE_CODE }}/agreement/" target="_blank" style="font-size: 10px; color: #0066ff; font-family: verdana; line-height: 12px; display: block;">Соглашение с пользователем</a>
                    </td>
                </tr>
                <tr>
                    <td style="height:12px;">
                        <a href="{{ protocol }}://{{ domain }}/{{ LANGUAGE_CODE }}/?feedback=true" target="_blank" style="font-size: 10px; color: #0066ff; font-family: verdana; line-height: 12px; display: block;">Обратная связь</a>
                    </td>
                </tr>
                <tr>
                    <td style="max-height: 15px; min-height: 15px; height: 15px;">
                        <!-- <img style="border: none; background: none; color: white; max-height: 15px; min-height: 15px; height: 15px; display: block;" src="{{ protocol }}://{{ domain }}/static/_/build/img/cfbef47d.gif" alt=""> -->
                    </td>
                </tr>
                <tr>
                    <td style="height:12px;">
                        <span style="font-size: 10px; color: #878787; font-family: verdana;">Рассылка:</span>
                        <span style="font-size: 10px; color: #878787; font-family: verdana;">Изменить </span>
                        <a href="{{ protocol }}://{{ domain }}/{{ LANGUAGE_CODE }}/profile/subscriptions/" target="_blank" style="font-size: 10px; color: #0066ff; font-family: verdana;">настройки.</a>
                    </td>
                </tr>
            </table>
        </td>
        <!--<td style="border:none;width:80px;"></td>-->
    </tr>
</table>


</body>
</html>