mixin tile_3_2(bgColor, img, title, hash, desc, buttonColor, linkText)
    .c-tile.c-tile__3-2(class='c-tile--' + bgColor)
        img.c-tile__title-img.c-tile__title-img--3-2(src='%=static=%img/general/' + img alt="")
        h3.c-tile__title.text-black= title
        p.c-title__hash= hash
        p.c-title__desc.text-black= desc
        a.c-tile__read-link(class="c-tile__read-link--" + buttonColor href="#")= linkText