include ../program_item/program_item

mixin program
    section.program
        .section__container
            h3.section__title Программа
            p.program__desc.
                Образовательная программа выставки «Космос: рождение новой эры» посвящена различным вопросам, напрямую связанным с освоением космоса. Речь зайдет не только о событиях прошлого в исторической перспективе, но и о блоке актуальных социально-культурных вопросов, связанных с  темой освоения космического пространства. Экономическая целесообразность колонизации Марса, частная космонавтика, космическая политика и приоритеты России в исследованиях космоса – обо всем этом можно будет узнать в Лектории выставки. 
                <br>
                <br>
                Специальная программа предусмотрена и для детей. Она состоит из практических мастер-классов по физике, химии и конструированию, а также из цикла лекций на тему «Как стать космонавтом?». 

            .program__hint
                p.program__hint-text.
                    Все события проходят по адресу:
                a.program__hint-text.program__hint-link(href="https://yandex.ru/maps/213/moscow/?z=16&ll=37.63388987576287%2C55.82907095714267&l=map&origin=jsapi_2_1_41&from=api-maps&um=constructor%3Ai7c-kjo3V8NIdNSnl_TI2bsPlb89bhkv" target="_blank")
                    span ВДНХ, 
                    span павильон №1 &laquo;Центральный&raquo;

            .program__schedule
                .program__schedule-block
                    .program__schedule-col.program__schedule-col-date
                        .program__schedule-date 30 июня

                    .program__schedule-col.program__schedule-col-info
                        +program_item(
                            '20:00',
                            'Путешествие из Калуги на Луну – лекция',
                            'Владимир Сурдин',
                            'бесплатно по регистрации',
                            'регистрация',
                            'https://polymus.ru/ru/education/lectures/schedule/puteshestvie-iz-kalugi-na-lunu/',
                            'https://polytech.timepad.ru/event/345194/'
                        )
                .program__schedule-block
                    .program__schedule-col.program__schedule-col-date
                        .program__schedule-date 2 июля

                    .program__schedule-col.program__schedule-col-info
                        +program_item(
                            '14:00-15:00 и 16:00-17:00',
                            'Спектры звезд – детский мастер-класс',
                            //- 'Мария Романова',
                            '',
                            '300 ₽',
                            'купить',
                            'https://polymus.ru/ru/education/workshops/spektry-zvezd/',
                            'https://polymus.ru/ru/education/workshops/spektry-zvezd/'
                        )
                .program__schedule-block
                    .program__schedule-col.program__schedule-col-date
                        .program__schedule-date 3 июля

                    .program__schedule-col.program__schedule-col-info
                        +program_item(
                            '14:00-15:00 и 16:00-17:00',
                            'Вакуумный взрыв – детский мастер-класс',
                            //- 'Мария Романова',
                            '',
                            '300 ₽',
                            'купить',
                            'https://polymus.ru/education/workshops/vakuumnyy-vzryv/',
                            'https://polymus.ru/education/workshops/vakuumnyy-vzryv/'
                        )
                .program__schedule-block
                    .program__schedule-col.program__schedule-col-date
                        .program__schedule-date 7 июля

                    .program__schedule-col.program__schedule-col-info
                        +program_item(
                            '20:00',
                            'Полет человека в космос как вызов для космической медицины – лекция*',
                            'Руперт Герцер',
                            'бесплатно по регистрации',
                            'регистрация',
                            'https://polymus.ru/education/lectures/schedule/polet-cheloveka-v-kosmos-kak-vyzov-dlya-',
                            'https://polytech.timepad.ru/event/345803/'
                        )

                        .program__schedule-hint *Лекция пройдет с синхронным переводом.
                .program__schedule-block
                    .program__schedule-col.program__schedule-col-date
                        .program__schedule-date 9 июля

                    .program__schedule-col.program__schedule-col-info
                        +program_item(
                            '14:00-15:00 и 16:00-17:00',
                            'Спектры звезд – детский мастер-класс',
                            //- 'Мария Романова',
                            '',
                            '300 ₽',
                            'купить',
                            'https://polymus.ru/education/workshops/146737-spektry-zvezd/',
                            'https://polymus.ru/education/workshops/146737-spektry-zvezd/'
                        )
                .program__schedule-block
                    .program__schedule-col.program__schedule-col-date
                        .program__schedule-date 10 июля

                    .program__schedule-col.program__schedule-col-info
                        +program_item(
                            '14:00-15:00 и 16:00-17:00',
                            'Вакуумный взрыв – детский мастер-класс',
                            //- 'Мария Романова',
                            '',
                            '300 ₽',
                            'купить',
                            'https://polymus.ru/education/workshops/146739-vakuumnyy-vzryv/',
                            'https://polymus.ru/education/workshops/146739-vakuumnyy-vzryv/'
                        )
                .program__schedule-block
                    .program__schedule-col.program__schedule-col-date
                        .program__schedule-date 16 июля

                    .program__schedule-col.program__schedule-col-info
                        +program_item(
                            '14:00-15:00 и 16:00-17:00',
                            'Вакуумный взрыв – детский мастер-класс',
                            //- 'Мария Романова',
                            '',
                            '300 ₽',
                            'купить',
                            'https://polymus.ru/education/workshops/146740-vakuumnyy-vzryv/',
                            'https://polymus.ru/education/workshops/146740-vakuumnyy-vzryv/'
                        )
                .program__schedule-block
                    .program__schedule-col.program__schedule-col-date
                        .program__schedule-date 17 июля

                    .program__schedule-col.program__schedule-col-info
                        +program_item(
                            '13:00-14:00  и 15:00-16:00',
                            'Ракеты – детский мастер-класс',
                            //- 'Мария Романова',
                            '',
                            '300 ₽',
                            'купить',
                            'https://polymus.ru/education/workshops/rakety/',
                            'https://polymus.ru/education/workshops/rakety/'
                        )
                .program__schedule-block.program__schedule-block--unactive
                    .program__schedule-col.program__schedule-col-date
                        .program__schedule-date 21 июля

                    .program__schedule-col.program__schedule-col-info
                        +program_item(
                            '20:00',
                            'Дискуссия о частной космонавтике – дискуссия',
                            'Ольга Вад',
                            'бесплатно по регистрации',
                            'регистрация',
                            '#'
                        )
                .program__schedule-block
                    .program__schedule-col.program__schedule-col-date
                        .program__schedule-date 23 июля

                    .program__schedule-col.program__schedule-col-info
                        +program_item(
                            '14:00-15:00 и 16:00-17:00',
                            'Вакуумный взрыв – детский мастер-класс',
                            //- 'Мария Романова',
                            '',
                            '300 ₽',
                            'купить',
                            'https://polymus.ru/education/workshops/146741-vakuumnyy-vzryv/',
                            'https://polymus.ru/education/workshops/146741-vakuumnyy-vzryv/'
                        )
                .program__schedule-block
                    .program__schedule-col.program__schedule-col-date
                        .program__schedule-date 24 июля

                    .program__schedule-col.program__schedule-col-info
                        +program_item(
                            '13:00-14:00  и 15:00-16:00',
                            'Ракеты – детский мастер-класс',
                            //- 'Мария Романова',
                            '',
                            '300 ₽',
                            'купить',
                            'https://polymus.ru/education/workshops/146744-rakety/',
                            'https://polymus.ru/education/workshops/146744-rakety/'
                        )
                .program__schedule-block
                    .program__schedule-col.program__schedule-col-date
                        .program__schedule-date 28 июля

                    .program__schedule-col.program__schedule-col-info
                        +program_item(
                            '20:00',
                            'Марс-500 и другие изоляционные эксперименты – лекция',
                            'Александр Суворов',
                            'бесплатно по регистрации',
                            'регистрация',
                            'https://polymus.ru/education/lectures/schedule/mars-500-i-drugie-izolyatsionnye-eksperimenty/',
                            'https://polytech.timepad.ru/event/345512/'
                        )
                .program__schedule-block
                    .program__schedule-col.program__schedule-col-date
                        .program__schedule-date 30 июля

                    .program__schedule-col.program__schedule-col-info
                        +program_item(
                            '13:00-14:00  и 15:00-16:00',
                            'Ракеты – детский мастер-класс',
                            //- 'Мария Романова',
                            '',
                            '300 ₽',
                            'купить',
                            'https://polymus.ru/education/workshops/146745-rakety/',
                            'https://polymus.ru/education/workshops/146745-rakety/'
                        )
                .program__schedule-block
                    .program__schedule-col.program__schedule-col-date
                        .program__schedule-date 31 июля

                    .program__schedule-col.program__schedule-col-info
                        +program_item(
                            '14:00-15:00 и 16:00-17:00',
                            'Вакуумный взрыв – детский мастер-класс',
                            //- 'Мария Романова',
                            '',
                            '300 ₽',
                            'купить',
                            'https://polymus.ru/education/workshops/146742-vakuumnyy-vzryv/',
                            'https://polymus.ru/education/workshops/146742-vakuumnyy-vzryv/'
                        )

                        //- .program__schedule-hint *Вход свободный по билету на выставку
