// File for scss-vars.
// For example: main colors, paddings and so on.

$blue: #39f;
$green: #3c6;
$orange: #f60;
$white: #fff;
$black: #333;
$dark-gray: #444;
$light-gray: #f9f9f9;

$fontSize: 10px;

$header-height: 50px;
$sidebar-width: 240px;