.content__head {
  height: 102px;

  @include respond-to(tablet) {
    width: 524px;
    display: block;
    height: auto;
    position: relative;
    margin-left: 70px;
  }

  @include respond-to(fablet) {
    width: 90%;
    display: block;
    height: auto;
    position: relative;
    margin-top: 60px;
    margin-left: 0;
    left: 30px;
  }

//  @include respond-to(phone) {
//    margin-top: 115px;
//    text-align: left;
//  }
}

.content__head-title {
  padding: 0;
  width: 580px;
  display: inline-block;

  @include respond-to(tablet) {
    padding: 0;
    width: 385px;
  }

  @include respond-to(fablet) {
    width: 100%;
    margin: 0;
    display: block;
  }
}

.header-title,
.header-subtitle {
  font-family: pmdisplay;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: .025em;

  @include respond-to(tablet) {
    font-size: 20px;
    line-height: 21px;
  }

  @include respond-to(fablet) {
    font-size: 16px;
    line-height: 1;
  }
}

.header-title {
  color: $black;
}

.header-subtitle {
  color: $red;
}

.content__head-link-list {
  display: inline-block;
  margin-left: 150px;

  @include respond-to(tablet) {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
  }

  @include respond-to(fablet) {
    display: none;
  }
}

.content__head-link-item {
  margin-right: 20px;
  float: left;

  &:last-child {
    margin-right: 0;
  }

  @include respond-to(tablet) {
    margin-right: 12px;
  }
}

.content__head-link-social {
  a {
    display: block;
    width: 20px;
    height: 24px;
    background-repeat: no-repeat;

    @include respond-to(tablet) {
      width: 12px;
      height: 14px;
    }
  }
}

.content__head-link-fb {
  background-image: url($imgPath + 'icons/head_fb.svg');
}

.content__head-link-vk {
  background-image: url($imgPath + 'icons/head_vk.svg');
}

.content__head-link-instagram {
  background-image: url($imgPath + 'icons/head_instagram.svg');
}

.content__head-link-youtube {
  background-image: url($imgPath + 'icons/head_youtube.svg');
}

.content__head-link-lang a {
  font-family: pmdisplay;
  letter-spacing: .025em;
  font-size: 16px;
  height: 24px;
  line-height: 24px;
  text-decoration: none;
  color: $purple
}

.big-eye {
  width: 216px;
  height: 248px;
  position: absolute;
  top: 226px;
  left: 0;
  background-image: url($imgPath + 'big_eye.svg');
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;

  @include respond-to(tablet) {
    width: 130px;
    height: 149px;
    margin: 0;
    top: 135px;
    left: 0;
    position: absolute;
  }

  @include respond-to(fablet) {
    width: 116px;
    height: 134px;
    margin: 0;
    position: absolute;
    left: auto;
    right: 21px;
    top: -18px;
  }
}

.logo {
  position: absolute;
  top: 62px;
  left: 108px;

  @include respond-to(tablet) {
    top: 38px;
    left: 26px;
  }

  @include respond-to(fablet) {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    left: 30px;
    top: 0;
  }
}

.logo__poly {
  height: 20px;
  margin-bottom: 28px;
  background-image: url($imgPath + 'logo_poly.svg');
  background-size: contain;

  @include respond-to(tablet) {
    height: 12px;
    margin-bottom: 15px;
  }

  @include respond-to(fablet) {
    height: 20px;
    margin-bottom: 27px;
  }
}

.logo__360 {
  height: 50px;
  background-image: url($imgPath + 'logo_360.svg');

  @include respond-to(tablet) {
    height: 31px;
  }

  @include respond-to(fablet) {
    height: 50px;
  }
}

.logo__poly,
.logo__360 {
  display: block;
  width: 120px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  pointer-events: none;

  @include respond-to(tablet) {
    width: 74px;
  }

  @include respond-to(fablet) {
    width: 120px;
  }
}