@font-face {
  font-family: 'PolytechSans';
  src: url('fonts/polytechsans/polytechsans.eot');
  src: url('fonts/polytechsans/polytechsans.eot?#iefix') format('embedded-opentype'), url('fonts/polytechsans/polytechsans.woff') format('woff'), url('fonts/polytechsans/polytechsans.ttf') format('truetype'), url('fonts/polytechsans/polytechsans.svg#PolytechSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PolytechSans';
  src: url('fonts/polytechsans/polytechsans-medium.eot');
  src: url('fonts/polytechsans/polytechsans-medium.eot?#iefix') format('embedded-opentype'), url('fonts/polytechsans/polytechsans-medium.woff') format('woff'), url('fonts/polytechsans/polytechsans-medium.ttf') format('truetype'), url('fonts/polytechsans/polytechsans-medium.svg#PolytechSans') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PolytechSans';
  src: url('fonts/polytechsans/polytechsans-bold.eot');
  src: url('fonts/polytechsans/polytechsans-bold.eot?#iefix') format('embedded-opentype'), url('fonts/polytechsans/polytechsans-bold.woff') format('woff'), url('fonts/polytechsans/polytechsans-bold.ttf') format('truetype'), url('fonts/polytechsans/polytechsans-bold.svg#PolytechSans') format('svg');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'PolytechSans';
  src: url('fonts/polytechsans/polytechsans-italic.eot');
  src: url('fonts/polytechsans/polytechsans-italic.eot?#iefix') format('embedded-opentype'), url('fonts/polytechsans/polytechsans-italic.woff') format('woff'), url('fonts/polytechsans/polytechsans-italic.ttf') format('truetype'), url('fonts/polytechsans/polytechsans-italic.svg#PolytechSans') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PolytechSans';
  src: url('fonts/polytechsans/polytechsans-light.eot');
  src: url('fonts/polytechsans/polytechsans-light.eot?#iefix') format('embedded-opentype'), url('fonts/polytechsans/polytechsans-light.woff') format('woff'), url('fonts/polytechsans/polytechsans-light.ttf') format('truetype'), url('fonts/polytechsans/polytechsans-light.svg#PolytechSans') format('svg');
  font-weight: 100;
  font-style: normal;
}

html {
    font-size: 16px;
}

html,
body {
    min-width: 100%;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
}

body,
p,
h1,
h2 {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'PolytechSans';
}

img {
    width: 100%;
}

h1, h1, p {
    -webkit-transition: font-size, ease-in-out, .3s;
    -o-transition: font-size, ease-in-out, .3s;
    transition: font-size, ease-in-out, .3s;
}

a {
    -webkit-transition: all, ease-in-out, .3s;
    -o-transition: all, ease-in-out, .3s;
    transition: all, ease-in-out, .3s;
}

.logo {
    padding: 47px 56px 0 56px;
    overflow: hidden;
}

.logo__poly,
.logo_beat {
    display: block;
}

.logo__poly {
    width: 300px;
    float: left;
}

.logo__beat {
    width: 108px;
    float: right;
}

.content {
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
}

.title {
    padding: 30px 0 50px;
}

.title h1,
.title h2 {
    text-align: center;
    color: #fff;
    line-height: 1;
}

.title h1 {
    font-size: 5.938em;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
}

.title h2 {
    font-size: 3em;
    font-weight: normal;
}

.date {
    background-color: #fff;
    padding: 30px 0;
    text-align: center;
}

.date__ru,
.date__en {
    color: #4d75b2;
}

.date__ru {
    font-size: 4em;
    font-weight: bold;
    text-transform: uppercase;
}

.date__en {
    font-size: 3em;
    font-weight: normal;
}

.social {
    padding: 50px 0 60px;
    text-align: center;
}

.social__link {
    width: 54px;
    height: 54px;
    display: inline-block;
    background-image: url(img/social.png);
    background-repeat: no-repeat;
    margin-left: 54px;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.social__link:first-child {
    margin-left: 0;
}

.social__fb {
    background-position: 0 0;
}

.social__fb:hover {
    background-position: 0 -54px;
}

.social__vk {
    background-position: 0 -108px;
}

.social__vk:hover {
    background-position: 0 -162px;
}

.social__tw {
    background-position: 0 -216px;
}

.social__tw:hover {
    background-position: 0 -270px;
}

@media only screen and (max-width: 1500px){
    html {
        font-size: 14px;
    }
}

@media only screen and (max-width: 1310px){
    html {
        font-size: 12px;
    }

    .logo__poly {
        width: 250px;
    }

    .logo__beat {
        width: 90px;
    }

    .content {
        position: absolute;
        width: 100%;
        top: 50%;
        margin-top: -270px;
    }

    .title {
        padding-top: 0;
    }

    .social {
        padding-bottom: 0;
    }
}

@media only screen and (max-width: 1280px) and (orientation: landscape){
    .content {
        position: relative;
        margin-top: 40px !important
    }

    .social {
        padding-bottom: 40px;
    }
}

@media only screen and (max-width: 1130px){
    html {
        font-size: 10px;
    }

    .content {
        margin-top: -220px;
    }
}

@media only screen and (max-width: 930px){
    html {
        font-size: 8px;
    }

    .logo__poly {
        width: 200px;
    }

    .logo__beat {
        width: 72px;
    }

    .content {
        margin-top: -210px;
    }
}

@media only screen and (max-width: 650px) and (orientation: landscape){
    .content {
        position: relative;
        margin-top: 30px !important;
    }

    .social {
        padding-bottom: 40px !important;
    }
}

@media only screen and (max-width: 650px){

    .logo__poly {
        width: 180px;
    }

    .logo__beat {
        width: 65px;
    }

    .content {
        margin-top: -220px;
    }

    .title {
        padding: 20px;
        padding-top: 0;
    }
}

@media only screen and (max-width: 480px){

    .content {
        margin-top: -160px;
    }

    .logo {
      padding: 20px 20px 0 20px;
    }

    .logo__poly {
        width: 150px;
        padding-top: 11px;
    }

    .logo__beat {
        width: 54px;
    }

    .title {
        padding: 20px;
        padding-top: 0;
    }

    .title h1 {
        font-size: 30px;
    }

    .title h2 {
        font-size: 22px;
    }

    .date {
        padding: 20px 0;
    }

    .date__ru {
        font-size: 28px;
    }

    .date__en {
        font-size: 24px;
    }

    .social {
        padding: 30px 0;
        padding-bottom: 0;
    }

    .social__link {
        width: 45px;
        height: 45px;
        margin-left: 45px;
        background-size: 45px auto;
    }

    .social__fb {
        background-position: 0 0;
    }

    .social__fb:hover {
        background-position: 0 -45px;
    }

    .social__vk {
        background-position: 0 -90px;
    }

    .social__vk:hover {
        background-position: 0 -135px;
    }

    .social__tw {
        background-position: 0 -180px;
    }

    .social__tw:hover {
        background-position: 0 -225px;
    }
}

@media only screen and (max-width: 320px) {
    .content {
        margin-top: -140px;
    }

    .title h1 {
        font-size: 26px;
    }

    .title h2 {
        font-size: 20px;
    }

    .date__ru {
        font-size: 22px;
    }

    .date__en {
        font-size: 19px;
    }

    .date {
        padding: 24px 0;
    }
}