mixin section_gallery_en
    section.gallery
        .section__container.gallery__container
            .gallery__planet.gallery__planet--big
            .gallery__planet.gallery__planet--med
            .gallery__planet.gallery__planet--small
            .gallery__title
                img(src="%=static=%img/general/photo_title_en.png")
            .gallery__container
                ul.gallery__list
                    li.gallery__item
                        img(src="%=static=%img/content/gallery/1.jpg" title="").gallery__img
                    li.gallery__item
                        img(src="%=static=%img/content/gallery/11.jpg" title="").gallery__img
                    li.gallery__item
                        img(src="%=static=%img/content/gallery/4.jpg" title="").gallery__img
                    li.gallery__item
                        img(src="%=static=%img/content/gallery/3.jpg" title="").gallery__img
                    li.gallery__item
                        img(src="%=static=%img/content/gallery/5.jpg" title="").gallery__img
                    li.gallery__item
                        img(src="%=static=%img/content/gallery/7.jpg" title="").gallery__img
                    li.gallery__item
                        img(src="%=static=%img/content/gallery/8.jpg" title="").gallery__img
                    li.gallery__item
                        img(src="%=static=%img/content/gallery/9.jpg" title="").gallery__img
                    li.gallery__item
                        img(src="%=static=%img/content/gallery/10.jpg" title="").gallery__img
                    li.gallery__item
                        img(src="%=static=%img/content/gallery/12.jpg" title="").gallery__img
                    li.gallery__item
                        img(src="%=static=%img/content/gallery/13.jpg" title="").gallery__img
                    li.gallery__item
                        img(src="%=static=%img/content/gallery/14.jpg" title="").gallery__img
                    li.gallery__item
                        img(src="%=static=%img/content/gallery/15.jpg" title="").gallery__img
                    li.gallery__item
                        img(src="%=static=%img/content/gallery/16.jpg" title="").gallery__img
                    li.gallery__item
                        img(src="%=static=%img/content/gallery/17.jpg" title="").gallery__img
                    li.gallery__item
                        img(src="%=static=%img/content/gallery/18.jpg" title="").gallery__img
                    li.gallery__item
                        img(src="%=static=%img/content/gallery/19.jpg" title="").gallery__img
                    li.gallery__item
                        img(src="%=static=%img/content/gallery/20.jpg" title="").gallery__img

            .gallery__caption