mixin footer(data)
    a.c-scroll-top.js-scroll-top(href="#")
        
    footer.footer
        .l-grid
            a.footer__logo(href="/") Guradian.FM
            .footer__mail
                a(href="mailto:speaker@guardian.fm") speaker@guardian.fm
            ul.footer__social-list
                li.footer__social-item
                    p.footer__social-title Follow us:
                li.footer__social-item
                    a.footer__social-link(href="https://vk.com/guardianfm" target="_blank") vk.com
                li.footer__social-item
                    a.footer__social-link(href="https://twitter.com/Destiny_Russia" target="_blank") twitter
                li.footer__social-item
                    a.footer__social-link(href="https://www.youtube.com/c/GuardianFM" target="_blank") youtube

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')