// File for scss-vars.
// For example: main colors, paddings and so on.

$phone: 320px;
$tablet: 740px;
$desktop: 1000px;
$large: 1240px;
$xlarge: 1440px;

$formular: 'formular';

$white: #fff;
$black: #2a2a2a;
$light-yellow: #fcf6d2;
$gold: #FFCE4F;
$red: #ED2124;