// File for scss-vars.
// For example: main colors, paddings and so on.

$phone: 320px;
$fablet: 480px;
$tablet: 768px;
$desktop: 940px;

// Colors

$black: #242424;
$white: #f3f3f3;
$yellow: #eadd98;
$tw-blue: #7ACBFF;
$vk-blue: #0078FF;
$yt-red: #A53232;
$content-gray: #303030;
$content-gray-hover: #3E3E39;

// Font size

$basic-font-size: 10px;