mixin article_dream
    .article__container.section__container
        article.article
            h1.article__title Внешние планеты
            img.article__teaser-img(src="http://placehold.it/1280x720")
            p.article__teaser-img-sign Лаборатория на Луне «Луноход-1» автоматическая передвижная
            p.article__lead.
                СССР стал первой страной, еще в начале 60-х годов начавшей посылать удачные научные беспилотные экспедиции к внешним планетам. Десятки аппаратов, от «Лунохода» до «Веги», отличающиеся неожиданным дизайном и совершенной инженерно-конструкторской начинкой, удачно выполнили свои задания. Луна, соседние Марс и Венера, газовые гиганты, граница Солнечной системы — мы все дальше и дальше отодвигаем пределы познанного.

            .article__content
                h3.article__content-title Лаборатория на Луне «Луноход-1» автоматическая передвижная. Макет. Масштаб 1:3
                img.article__content-img(src="http://placehold.it/1280x720")
                p.article__content-img-sign Лаборатория на Луне «Луноход-1» автоматическая передвижная
                p.article__content-text.
                    Первый в мире космический аппарат, предназначенный для передвижения по поверхности другой планеты. Был разработан на Химкинском машиностроительном заводе имени С.А. Лавочкина в конце 1960-х годов. Запуск автоматической межпланетной станции «Луна-17» с «Луноходом-1» на борту состоялся 10 ноября 1970 года. Через неделю, 17 ноября 1970 года, станция совершила посадку и «Луноход-1» по трапу съехал на лунную поверхность в Море Дождей. В общей сложности планетоход проработал около 10 месяцев, в три раза превысив рассчитанный ресурс. Он покрыл расстояние в 10,5 километра, передал на Землю 25 тысяч фотографий и 25 раз провел химический анализ лунного грунта. Кроме того, «Луноход-1» был оборудован уголковым отражателем, который использовался для точного измерения расстояния до Луны. Из-за истощения ресурса радиоизотопного источника энергии 30 сентября 1971 года «Луноход-1» прекратил работу и не вышел на связь. Примечательно, что в 2010 году «Луноход-1» нашли на снимках поверхности Луны, а уже месяц спустя американская группа ученых смогла еще раз попасть лазерным лучом в его уголковый отражатель.
                p.article__content-sign Из коллекции Политехнического музея

                h3.article__content-title Станция «Венера-1» автоматическая межпланетная. Макет. Масштаб 1:1
                img.article__content-img(src="http://placehold.it/1280x720")
                p.article__content-img-sign Лаборатория на Луне «Луноход-1» автоматическая передвижная
                p.article__content-text.
                    Первый космический аппарат для исследования Венеры, разработан в конструкторском бюро РКК «Энергия» в конце 1950-х — начале 1960-х годов. По проекту «Венера-1» должна была стартовать с околоземной орбиты в направлении Венеры, на пути к планете провести ряд измерений параметров солнечного ветра и космической радиации, а затем доставить на поверхность предполагаемого венерианского океана герметичную камеру, в которую был помещен вымпел СССР. 4 февраля 1961 года был совершен неудачный запуск «Венеры-1», однако уже 12 февраля состоялся удачный повторный запуск. Вскоре впервые в истории с околоземной орбиты состоялся пуск космического аппарата в направлении другой планеты. Однако на этом удачи «Венеры-1» закончились: через 7 дней станция не вышла на связь. Предполагается, что из-за перегрева отказал датчик навигации по Солнцу. Кроме того, станция была построена так, что ее приемники включались только в определенное время по команде автоматики. Из-за этого экипаж с Земли не мог вручную в нужный момент скорректировать траекторию «Венеры-1». По оценкам, станция все же поставила рекорд и прошла в 100 тысячах километров от Венеры. Кроме того, эта миссия дала толчок целой программе, в рамках которой в общей сложности было запущено больше 20 космических аппаратов для исследования Венеры.
                p.article__content-sign Из коллекции Политехнического музея