doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/guide_list/guide_list
    include ../components/filter/filter
    include ../components/footer/footer

    head
        +head(head.defaults)
    body
        |%=symbols=%

        .l-page

            +header('articles')

            section.l-grid.l-grid--content
                +filter('guide_list')
                // если элемент списка статей должен быть не активным, то на него вешается класс c-article-list__item--inactive
                +article_list()

                a.c-more-button(href="#") Еще крутых статей

            +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();