.c-article-figure {
    margin-top: 80px;
    height: 500px;

    @include respond-to(fablet) {
        height: 320px;
    }

    @include respond-to(phone320) {
        height: 290px;
    }

    @include respond-to(fablet) {
        margin-top: 50px;
    }

    @include respond-to(phone320) {
        margin-top: 30px;
    }

    &__image {
        width: auto;
        height: 100%;
    }

    &__caption {
        font-size: 1.125rem;
        text-align: center;
        color: $font-black;
        margin-top: 20px;
    }
}