.c-article-figure {
    margin-top: 80px;

    @include respond-to(fablet) {
        margin-top: 50px;
    }

    &__image {
        width: 100%;
        height: auto;
    }

    &__caption {
        font-size: 1.125rem;
        text-align: center;
        color: $font-black;
        margin-top: 20px;
    }
}