// Common styles of the project

html,
body {
    height: 100%;
}

body,
p,
input,
ul,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

body {
    font-family: $open;

    -webkit-font-smoothing: antialiased;
}

.hidden_mask {
    display: none;
}

a {
    transition: color ease .3s;
}

.section__container {
    width: 1040px;
    margin: 0 auto;

    @include respond-to(desktop) {
        width: 1000px;
        padding: 0 60px;
        box-sizing: border-box;
    }

    @include respond-to(tablet) {
        width: 100%;
    }

    @include respond-to(phone) {
        padding: 0 20px;
    }
}

.section__title {
    font-size: 48px;
    font-weight: 300;
    line-height: 65px;

    letter-spacing: .01px;

    color: $blue;
}
