// File for scss-vars.
// For example: main colors, paddings and so on.

$phone: 320px;
$tablet: 760px;
$desktop: 1000px;
$large: 1240px;
$xlarge: 1440px;

$open: 'Open Sans', sans-serif;

$white: #fff;
$grey: #d6d8de;
$blue: #1571c1;
$text-grey: #949494;
$footer-text: #888;
$black: #000;
$light-black: #252525;
$dark-grey: #797979;
