.header {
    // padding: 0 35px;
    &__main-image {
        overflow: hidden;

        width: 970px;
        height: 250px;
    }
    &__logo {
        display: block;
        float: left;

        width: 140px;
        height: 101px;
    }
}

.nav {
    position: relative;

    margin-top: 30px;

    @include cf();
    &__items {
        float: left;

        max-width: 770px;
        margin-left: 60px;
    }
    &__submenu-list {
        position: absolute;
        top: 106px;
        left: -35px;

        box-sizing: border-box;
        width: 1040px;
        max-height: 0;
        padding: 0 17px;

        transition: all ease-in-out .3s;

        background-color: #000;
    }
    &__action-list,
    &__menu-list {
        float: right;

        @include cf();
    }
    &__action-item,
    &__menu-item {
        float: left;

        margin-right: 25px;
        &:last-child {
            margin-right: 0;
        }
    }
    &__action-item {
        padding: 20px 0;
    }
    &__menu-item {
        &:hover {
            .nav__submenu-list {
                max-height: 183px;
                padding-top: 21px;
                padding-bottom: 21px;
                &:after {
                    position: absolute;
                    bottom: -4px;
                    left: 0;

                    display: block;

                    width: 100%;
                    height: 4px;

                    content: '';

                    background-color: rgba(0, 0, 0, .4);
                }
            }
            .nav__submenu-col {
                visibility: visible;

                opacity: 1;
            }
        }
    }
    &__action-link {
        font-family: 'roboto';
        font-size: 13px;

        text-decoration: none;

        color: #4d4d4d;
    }
    &__menu-link,
    &__submenu-link {
        font-family: 'roboto';
        font-size: 13px;
        font-weight: bold;

        text-decoration: none;
        text-transform: uppercase;
        &:hover {
            color: $red;
        }
    }
    &__menu-link {
        padding: 10px 0 26px;

        transition: all ease .1s;

        color: #000;
        &:hover {
            border-bottom: 4px solid $red;
        }
    }
    &__submenu-col {
        visibility: hidden;
        float: left;
        width: 240px;
        box-sizing: border-box;
        padding: 0 18px;

        transition: visibility ease .3s, opacity ease .3s;

        opacity: 0;

        &--promo {
            @include cf();
            width: 335px;
            position: absolute;
            right: 18px;
            top: 50%;
            height: 80px;
            margin-top: -40px;

        }
    }
    &__submenu-link {
        display: block;

        padding: 13px 0;

        color: #fff;
    }

    &__submenu-promo-link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &__submenu-promo-img {
        width: 80px;
        height: 80px;
    }

    &__submenu-promo-content {
        width: 220px;
        position: absolute;
        top: 50%;
        right: 18px;
        transform: translate(0, -50%);
    }

    &__submenu-promo-title {
        font-family: 'RobotoCondensed';
        font-size: 16px;
        line-height: 17px;
        color: #fff;
    }

    &__submenu-promo-author {
        font-family: 'roboto';
        font-size: 11px;
        line-height: 17px;
        color: #999;
    }

}
