.organization-block {
  float: left;
  width: 50%;
  padding-top: 120px;
  position: relative;
  box-sizing: border-box;
  padding-right: 20px;
}

.organization-block__img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.organization-block__img-poly {
  width: 240px;
}

.organization-block__img-beat {
  width: 80px;
}

.organization-block__info {
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}