.places__list {
  float: left;
  width: 265px;
  margin-right: 35px;
}

.places__item {
  margin-bottom: 60px;

  &.places__item--focused {
    .places__item-link {
        color: $red;
    }
  }
}

.places__item-link {
  color: $black;

  &:hover {
    color: $red;
  }
}

.places__item-name {
  font-size: 21px;
  line-height: 23px;
  font-weight: bold;
}

.places__item-name--abbr {
  font-size: 16px;
  margin-top: 5px;
}

.places__item-adress,
.places__item-contact {
  font-size: 13px;
}

.places__item-adress {
  margin-top: 10px;
  margin-bottom: 3px;
}

.places__map {
  float: left;
}

.area__map {
  margin-bottom: 20px;
}

.area__info-name {
  font-weight: bold;
  font-size: 34px;
  line-height: 36px;
}

.area__info-abbr {
  font-size: 21px;
}

.area__info-adress,
.area__info-contact,
.area__info-price {
  font-size: 13px;
  line-height: 1.2;
}

.area__info {
  margin-bottom: 60px;
}

.area {
  margin-bottom: 90px;

  .timetable__event-name {
    width: 160px;
  }

  .timetable__location {
    margin-right: 20px;
  }

  .timetable {
    margin-bottom: 60px;
  }
}

#map {
  height: 360px;
}

.places__map {
  width: 580px;
  height: 660px;
}