.sidebar {
  width: 135px;
  position: fixed;
//  margin-right: 45px;
//  float: left;
  padding-top: 50px;

  @include respond-to(tablet) {
    width: 100%;
    position: relative;
    float: none;
    overflow: hidden;
  }

  @include respond-to(fablet) {
    padding: 30px 20px 0;
    box-sizing: border-box;
  }
}

.logo {
  margin-bottom: 50px;

  @include respond-to(tablet) {
    float: left;
  }
}

.logo__poly,
.logo__360 {
  display: block;
  width: 120px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;

  @include respond-to(tablet) {
    width: 185px;
  }

  @include respond-to(phone) {
    width: 120px;
  }
}

.logo__poly {
  height: 20px;
  margin-bottom: 30px;
  background-image: url($imgPath + 'logo_poly.svg');

  @include respond-to(tablet) {
    height: 30px;
    margin-bottom: 15px;
  }

  @include respond-to(phone) {
    height: 20px;
    margin-bottom: 15px;
  }
}

.logo__360 {
  height: 50px;
  background-image: url($imgPath + 'logo_360.svg');

  @include respond-to(tablet) {
    height: 78px;
  }

  @include respond-to(phone) {
    height: 50px;
  }
}

.menu {
  @include respond-to(tablet) {
    float: right;
  }
}

.menu__item {
  margin-bottom: 18px;

  &:last-child {
    margin-bottom: 0;
  }

  @include respond-to(tablet) {
    margin-bottom: 0;
  }
}

.menu__item-link {
  font-family: pmdisplay;
  letter-spacing: .025em;
  text-decoration: none;
  color: $purple;
  font-size: 21px;

  &:hover {
    color: $black;
  }

  &.menu__item-link--active {
    color: $black;
  }

  @include respond-to(phone) {
    font-size: 16px;
  }
}

.big-eye {
  width: 248px;
  height: 216px;
  margin-top: 40px;
  margin-left: -95px;
  background-image: url($imgPath + 'big_eye.svg');
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;

  @include respond-to(tablet) {
    display: none;
  }
}
