.footer {
  background-color: $black;
  padding: 70px 0;
  font-size: inherit;
  text-align: left;

  .container {
    width: 970px;
  }

  @include respond-to(large) {
    .container {
      width: 1000px;
      padding: 0 !important;
    }
  }

  @include respond-to(tablet) {
    .container {
      width: 500px;
      padding: 0 !important;
    }
  }

  @include respond-to(fablet) {
    .container {
      width: 470px;
    }
  }

  @include respond-to(phone) {
    .container {
      width: 300px;
    }
  }
}

.footer__social-list {
  list-style: none;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.footer__social-item {
  display: inline-block;
  padding: 0 15px;
}

.footer__social-link {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }

  i {
    font-size: 2em;
  }
}

.footer__info {
  margin-top: 40px;

  span,
  a {
    display: block;
    color: $white;
    text-decoration: none;
    line-height: 1.4;
    font-weight: 300;
    font-size: 1.2em;

    @include respond-to(desktop) {
      font-size: 1em;
    }
  }

  .footer-link {
    color: $yellow;

    &:last-of-type {
      margin-bottom: 41px;

      @include respond-to(desktop) {
        margin-bottom: 37px;
      }

      @include respond-to(tablet) {
        margin-bottom: 20px;
      }
    }
  }

  @include respond-to(fablet) {
    padding: 0 70px;
  }

  @include respond-to(phone) {
    padding: 0 20px;
  }
}

.footer__info-col {

  &:nth-child(1) {
    width: 275px;
    margin-right: 30px;

    @include respond-to(large) {
      width: 290px;
    }
  }

  &:nth-child(2) {
    width: 230px;
    margin-right: 30px;
  }

  &:nth-child(3) {
    width: 375px;

    @include respond-to(large) {
      width: 390px;
    }
  }

  span:first-child {
    margin-bottom: 15px;

    @include respond-to(phone) {
      margin-bottom: 10px;
    }
  }

  @include respond-to(tablet) {
    width: 100% !important;
    margin-bottom: 20px;
  }
  @include respond-to(fablet) {
    padding: 0;
  }
}

.footer__info-contacts {
  width: 400px !important;
  margin: 0 auto !important;
  text-align: center;
  float: none;

  @include respond-to(tablet) {
    width: 100% !important;
  }
}