/*---
general.scss
---*/

// Variables
$phone: 320px;
$fablet: 480px;
$tablet: 768px;
$desktop: 992px;
$large: 1300px;

// Colors
$black: #323032;
$deep-grey: #3f4039;
$white: #fff;
$yellow: #fdc244;
$orange: #f69322;
$green: #b9d777;
$red: #ef4e34;

// Fonts
$fz-footer: 12px;
$fz-menu: 18px;
$fz-heading: 20px;

// Image paths
$imgPath: "../img/alice/";
$iconPath: "../img/alice/icons/";

/* Mixins */
@mixin respond-to($media) {
  @if $media == phone {
    @media only screen and (max-width: $fablet - 1) { @content; }
  }
  @else if $media == fablet {
    @media only screen and (max-width: $tablet - 1) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (max-width: $desktop - 1) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (max-width: $large - 1) { @content; }
  }
  @else if $media == large {
    @media only screen and (min-width: $large) { @content; }
  }
}

/* Styles */

body {
  font-family: PolytechSans, helvetica, sans-serif !important;
  color: $black;
  font-size: 16px;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;
  padding-top: 60px;

  @include respond-to(tablet) {
    font-size: 15px;
  }

  @include respond-to(fablet) {
    font-size: 15px;
  }

  @include respond-to(phone) {
    font-size: 12px;
  }
}

.h1, .h2, .h3, .h4, .h5, .h6, .map-title, h1, h2, h3, h4, h5, h6 {
  color: $black;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.5em;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.container {
  width: 970px;
  padding: 0;

  @include respond-to(tablet) {
    width: 100%;
    padding: 0 20px !important;
  }

  @include respond-to(fablet) {
    width: 100%;
    padding: 0 20px !important;
  }
}

.content-wrapper {
  width: 100%;
}

.alice-font {
  font-family: 'Oranienbaum', serif;
}

.red-bg {
  background-color: $red;
}

.black-bg {
  background-color: $black;
}

.yellow-bg {
  background-color: $yellow;
}

.green-bg {
  background-color: $green;
}

.article-title {
  padding-bottom: 40px;
  text-align: center;
  text-transform: uppercase;
}

.black-bordered-button {
  padding: 10px 25px 11px;
  text-decoration: none;
  margin-top: 40px;
  line-height: 1;
  font-size: 1.5em;
  color: $black;
  background-color: transparent;
  border: 0;
  outline: none;
  background-image: url($imgPath + 'hexagon_black_button.png');
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-transition: all ease-in-out .3s;
  -moz-transition: all ease-in-out .3s;
  -ms-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    color: $yellow;
    background-image: url($imgPath + 'hexagon_black_button_hover.png');
  }
}

.invis {
  display: none !important;

  @include respond-to(tablet) {
    display: block !important;
    visibility: hidden !important;
  }
}

.black-share {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 60px;

  @include respond-to(phone) {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .social-likes {
    display: inline-block;
  }

  .social-likes__widget {
    display: inline-block;
    width: 52px;
    height: 60px;
    margin: 0 26px;
    box-sizing: border-box;
    background-image: url($iconPath + 'black_share.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    cursor: pointer;
    position: relative;

    @include respond-to(tablet) {
      width: 45px;
      height: 52px;
    }

    @include respond-to(phone) {
      margin: 0 10px;
    }
  }

  .social-likes__counter {
    color: $black;
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    line-height: 1;
    font-size: .7em;
    bottom: -20px;
  }

  .social-likes__widget_facebook {
    background-position: 0 0;

    &:hover {
      background-position: 0 -60px;
    }

    @include respond-to(tablet) {
      background-position: 0 0;

      &:hover {
        background-position: 0 -52px;
      }
    }
  }

  .social-likes__widget_vkontakte {
    background-position: 0 -120px;

    &:hover {
      background-position: 0 -180px;
    }

    @include respond-to(tablet) {
      background-position: 0 -104px;

      &:hover {
        background-position: 0 -156px;
      }
    }
  }

  .social-likes__widget_twitter {
    background-position: 0 -360px;

    &:hover {
      background-position: 0 -420px;
    }

    @include respond-to(tablet) {
      background-position: 0 -312px;

      &:hover {
        background-position: 0 -364px;
      }
    }
  }

  .social-likes__widget_odnoklassniki {
    background-position: 0 -240px;

    &:hover {
      background-position: 0 -300px;
    }

    @include respond-to(tablet) {
      background-position: 0 -208px;

      &:hover {
        background-position: 0 -260px;
      }
    }
  }
}


.white-share {
  text-align: center;

  .social-likes {
    display: inline-block;
  }

  .social-likes__widget {
    display: inline-block;
    width: 52px;
    height: 60px;
    margin: 0 26px;
    box-sizing: border-box;
    background-image: url($iconPath + 'main_share.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    cursor: pointer;
    position: relative;

    @include respond-to(tablet) {
      width: 45px;
      height: 52px;
    }

    @include respond-to(phone) {
      margin: 0 10px;
    }
  }

  .social-likes__counter {
    color: $white;
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    line-height: 1;
    font-size: .7em;
    bottom: -20px;
  }

  .social-likes__widget_facebook {
    background-position: 0 0;

    &:hover {
      background-position: 0 -60px;
    }

    @include respond-to(tablet) {
      background-position: 0 0;

      &:hover {
        background-position: 0 -52px;
      }
    }
  }

  .social-likes__widget_vkontakte {
    background-position: 0 -120px;

    &:hover {
      background-position: 0 -180px;
    }

    @include respond-to(tablet) {
      background-position: 0 -104px;

      &:hover {
        background-position: 0 -156px;
      }
    }
  }

  .social-likes__widget_twitter {
    background-position: 0 -360px;

    &:hover {
      background-position: 0 -420px;
    }

    @include respond-to(tablet) {
      background-position: 0 -312px;

      &:hover {
        background-position: 0 -364px;
      }
    }
  }

  .social-likes__widget_odnoklassniki {
    background-position: 0 -240px;

    &:hover {
      background-position: 0 -300px;
    }

    @include respond-to(tablet) {
      background-position: 0 -208px;

      &:hover {
        background-position: 0 -260px;
      }
    }
  }
}

.hashtag {
  display: block;
  background-color: $black;
  color: $white;
  font-size: 1em;
  position: absolute;
  height: 32px;
  line-height: 32px;
  padding: 0 5px;
  text-decoration: none;

  &:hover {
    color: $white;
    text-decoration: none;
  }

  &:before,
  &:after {
    position: absolute;
    top: 0;
  }

  &:before {
    content: '';
    left: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 10px 16px 0;
    border-color: transparent $black transparent transparent;
  }

  &:after {
    content: '';
    right: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 16px 0 16px 10px;
    border-color: transparent transparent transparent $black;
  }

  @include respond-to(phone) {
    right: 30px;
    bottom: 5px;
    height: 20px;
    line-height: 20px;
    font-size: .8em;

    &:before {
      left: -6px;
      border-width: 10px 6px 10px 0;
    }

    &:after {
      right: -6px;
      border-width: 10px 0 10px 6px;
    }
  }
}

