mixin index_teaser()
    section.c-main-teaser
        .c-main-teaser__content
            .c-main-teaser__logo
            h1.c-main-teaser__title Современный<br>ресторанный бизнес.<br>Как начать <span>и преуспеть?</span>