mixin index_teaser()
    section.c-main-teaser
        .c-main-teaser__content
            a.c-main-teaser__logo.js-head-logo(href="http://www.quickresto.ru/?utm_source=rbc&utm_medium=cpc&utm_campaign=rbc" target="_blank")
            h1.c-main-teaser__title Современный<br>ресторанный бизнес.<br>Как начать <span>и преуспеть?</span>