$blue: #06f;
$black: #2c2f34;
$grey: #787878;
$content-bg: #fafafa;
$white: #fff;

//Mobile font sizes
$fz-std: 18px;
$fz-footer: 12px;
$fz-title: 24px;
$fz-lead: 18px;

//Large mobile font sizes
$fz-title__mob-land: 26px;
$fz-footer__mob-land: 16px;

//Tablet font sizes
$fz-title__tablet: 34px;
$fz-lead__tablet: 26px;
$fz-footer__tablet: 20px;

body {
  font-family: PolytechSans, "Comic Sans MS", sans-serif;
  color: $black;
}

body,
h1,
h2,
h3,
h4,
h5,
ul,
ol,
p {
  padding: 0;
  margin: 0;
}

ul, ol {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.clearfix {
  &:after,
  &:before {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.main {
  width: 100%;
}

.header {
  height: 110px;
  width: 100%;
  display: table;

  .logo {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    img {
      width: 275px;
    }
  }
}

.container {
  background-color: $content-bg;
  padding: 25px 20px;
  box-shadow: inset 0px 3px 3px 0px #dcdcdc;
}

.page-title {
  width: 100%;
  line-height: 80px;
  background-color: $blue;
  color: $white;
  text-align: center;
  box-sizing: border-box;
  font-size: $fz-title;
  text-transform: uppercase;
}

.event {
  padding-bottom: 30px;
  border-bottom: 1px solid #e4e4e4;

  &:last-child {
    border: 0;
  }
}

.event-img {
  padding: 30px 0;
  position: relative;
}

.event-img__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.event-title {
  margin-bottom: 20px;
  line-height: 1.3;
  position: relative;
  padding-right: 35px;
  font-size: $fz-title;

  a {
    color: $black;
    text-decoration: none;
  }
}

.event-lead {
  color: $grey;
  line-height: 1.3;
  margin-bottom: 20px;
}

.age-rating {
  font-size: $fz-std;
  position: absolute;
  right: 0;
  top: 0;
  font-weight: normal;
}
.event-time {
  margin-bottom: 20px;
}

.event-meta__location,
.event-meta__price {
  text-transform: uppercase;
}

.event-meta__location {
  color: $grey;
  border-bottom: 1px dashed $black;
  margin-left: 15px;
  text-decoration: none;
  position: relative;

  &:hover {
    color: $blue;
  }

  &:before {
    font-family: PolyIcons;
    content: "\e60d";
    position: absolute;
    left: -20px;
    top: 1px;
  }
}

.footer {
  padding: 30px 20px;
  background-color: #333;
}

.footer__social-item:first-child {
  margin-left: 0;
}

.footer__social-item {
  float: left;
  margin-left: 10px;
}

.footer__copyright {
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: $fz-footer;
  text-shadow: none;
  color: #878787;
  text-align: center;
}

.fb_icon {
  background-image: url('../img/fb_icon.png');
}

.vk_icon {
  background-image: url('../img/vk_icon.png');
}

.tw_icon {
  background-image: url('../img/tw_icon.png');
}

.gplus_icon {
  background-image: url('../img/gplus_icon.png');
}

.fq_icon {
  background-image: url('../img/fq_icon.png');
}

.flickr_icon {
  background-image: url('../img/flickr_icon.png');
}

.youtube_icon {
  background-image: url('../img/youtube_icon.png');
}

.footer__social-list {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.footer__social-icon {
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  width: 30px;
  height: 30px;
  display: block;
}

.footer__info {
  margin-bottom: 20px;
  font-size: $fz-footer - 2;
}

.footer__info-item {
  color: #a7a7a7;
  text-decoration: none;
}