.footer {
    font-family: 'RobotoMedium';
    font-size: 12px;
    line-height: 12px;

    position: relative;
    z-index: 910;

    background-color: #000;
    &__content {
        box-sizing: border-box;
        padding: 65px 100px 95px 165px;

        @include cf();
        @extend .page__wrapper;
    }
}

.footer-col {
    float: left;

    padding: 0 22px;
    &__menu-list {
        padding-top: 20px;
    }
    &__menu-item {
        padding: 7px 0;
    }
    &__menu-link {
        font-weight: normal;

        text-decoration: none;
        text-transform: uppercase;

        color: #fff;
        &:hover {
            color: $red;
        }
    }
    &__title {
        margin-top: 0;
        margin-bottom: 15px;

        text-transform: uppercase;

        color: #4d4d4d;
    }
    &__app-ipad {
        position: relative;

        display: block;

        margin-bottom: 20px;
        padding: 12px 45px 12px;

        text-decoration: none;
        text-transform: uppercase;

        color: #fff;
        &:before {
            position: absolute;
            top: 0;
            left: 0;

            width: 34px;
            height: 34px;

            content: '';

            border: 1px solid #fff;
            background-image: url('%=static=%/general/apple_icon.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 14px 18px;
        }
    }
    &__social-list {
        @include cf();
    }
    &__social-item {
        float: left;
        &:not(:first-child) {
            margin-left: 10px;
        }
    }
    &__social-link {
        display: block;

        width: 34px;
        height: 34px;

        transition: border-color ease .2s, background-color ease .2s;

        border: 1px solid #fff;
        background-repeat: no-repeat;
        background-position: center;
        &--fb {
            background-image: url('%=static=%/general/fb_icon.svg');
            background-size: 8px 18px;
            &:hover {
                border-color: #39579a;
                background-color: #39579a;
            }
        }
        &--vk {
            background-image: url('%=static=%/general/vk_icon.svg');
            background-size: 11px 15px;
            &:hover {
                border-color: #57789c;
                background-color: #57789c;
            }
        }
        &--tw {
            background-image: url('%=static=%/general/tw_icon.svg');
            background-size: 15px 12px;
            &:hover {
                border-color: #059ff5;
                background-color: #059ff5;
            }
        }
    }
    &__subscribe {
        width: 315px;
        &-info {
            font-family: 'notoserif';
            font-size: 10px;
            line-height: 12px;

            margin-top: 10px;

            color: #999;
            a {
                text-decoration: none;

                color: $red;
            }
        }
        &-form {
            position: relative;
        }
        &-input {
            font-family: 'notoserif';
            font-size: 10px;
            line-height: 15px;

            display: block;

            box-sizing: border-box;
            width: 100%;
            margin: 0;
            padding: 10px 50px 10px 15px;

            color: #fff;
            border: 1px solid #fff;
            outline: 0;
            background-color: transparent;
            &::-webkit-input-placeholder {
                color: #fff;
            }
            &:-moz-placeholder {
                /* Firefox 18- */
                color: #fff;
            }
            &::-moz-placeholder {
                /* Firefox 19+ */
                color: #fff;
            }
            &:-ms-input-placeholder {
                color: #fff;
            }
        }
        &-submit {
            position: absolute;
            top: 0;
            right: 1px;

            display: block;

            width: 35px;
            height: 37px;
            margin: 0;
            padding: 0;

            transition: background-color ease .3s;

            border: 1px solid #fff;
            border-right: 0;
            background-color: transparent;
            background-image: url('%=static=%general/arrow_right_footer.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 7px 5px;
            &:hover {
                background-color: $red;
            }
        }
    }
}
