mixin footer(data)
    footer.footer
        .footer__content
            .footer-col.footer-col__menu
                ul.footer-col__menu-list
                    li.footer-col__menu-item
                        a.footer-col__menu-link(href="#") подписка
                    li.footer-col__menu-item
                        a.footer-col__menu-link(href="#") новый номер
                    li.footer-col__menu-item
                        a.footer-col__menu-link(href="#") архив
                    li.footer-col__menu-item
                        a.footer-col__menu-link(href="#") сборники
                    li.footer-col__menu-item
                        a.footer-col__menu-link(href="#") авторы

            .footer-col.footer-col__menu
                ul.footer-col__menu-list
                    li.footer-col__menu-item
                        a.footer-col__menu-link(href="#") видео
                    li.footer-col__menu-item
                        a.footer-col__menu-link(href="#") мероприятия
                    li.footer-col__menu-item
                        a.footer-col__menu-link(href="#") контакты
                    li.footer-col__menu-item
                        a.footer-col__menu-link(href="#") реклама
                    li.footer-col__menu-item
                        a.footer-col__menu-link(href="#") где купить

            .footer-col.footer-col__apps
                p.footer-col__title приложения
                a.footer-col__app-ipad(href="#") ipad версия

                p.footer-col__title мы в соцсетях
                ul.footer-col__social-list
                    li.footer-col__social-item
                        a.footer-col__social-link.footer-col__social-link--fb(href="#")
                    li.footer-col__social-item
                        a.footer-col__social-link.footer-col__social-link--vk(href="#")
                    li.footer-col__social-item
                        a.footer-col__social-link.footer-col__social-link--tw(href="#")

            .footer-col.footer-col__subscribe
                p.footer-col__title Подпишитесь на рассылку HBR-Russia
                .footer-col__subscribe-form
                    form(action="#")
                        input(type="email" placeholder="Введите email").footer-col__subscribe-input
                        input(type="submit" value="").footer-col__subscribe-submit

                p.footer-col__subscribe-info
                    | Подписываясь на рассылку вы соглашаетесь с условиями 
                    a(href="#") пользовательского соглашения

                p.footer-col__subscribe-info 
                    | По всем вопросам, связанным с работой сайта и его материалами, пишите по адресу: 
                    a(href="mailto:hbr-support@imedia.ru") hbr-support@imedia.ru

                p.footer-col__subscribe-info © 2004–2016, ООО «Москоутаймс».