mixin article_head()
    .c-article__head
        .l-grid.l-grid--article-head
            a.c-article__head-link(href="index.html")
                img.c-article__head-icon(src="%=static=%img/general/arr_left_black.svg" alt="")
                span.c-article__head-text Вернуться на главную
            a.c-article__head-link--qr(href="#")
                img(src="%=static=%img/general/logo_qr_hor.svg" alt="")