include ../article_item/article_item

mixin article_list(type)
    if type == 'work'
        +article_item('Деловые площадки',
                    'Умные деловые<br>пространства',
                    'more',
                    'business_area')

        +article_item('Уникальные площадки',
                    'Уникальные места для проведения мероприятий',
                    'more',
                    'unique_area')

        +article_item('Туры',
                    'Деловые, образовательные, гастрономические и другие',
                    'more',
                    'tour')

        +article_item('Деловой туризм',
                    'Программы и привилегии для бизнес-туристов',
                    'more',
                    'business_tourism')

        +article_item('Истории успеха',
                    'Личный опыт проведения деловых мероприятий',
                    'more',
                    'success_story')

        +article_item('Календарь',
                    'Деловые события<br>в Сингапуре',
                    'calendar',
                    'business_calendar')

    else if type == 'play'
        +article_item('Интересные места',
                    'Смотришь<br>и восхищаешься',
                    'more',
                    'interesting_place')

        +article_item('Гостиницы',
                    'Для бизнеса<br> и отдыха',
                    'more',
                    'hotel')

        +article_item('Кухня',
                    'Смешение культур<br>и вкусов',
                    'more',
                    'kitchen')

        +article_item('Маршруты',
                    'Город для интересных<br>прогулок',
                    'more',
                    'route')

        +article_item('Покупки',
                    'Шопинг<br>без границ',
                    'more',
                    'shop')

        +article_item('Календарь',
                    'Фестивали и островные вечеринки «на полную катушку»',
                    'calendar',
                    'play_calendar')