<div class="content__head clearfix">
    <div class="content__head-title">
        <h1 class="header-title">V Международный фестиваль кино о науке и технологиях</h1>
        <p class="header-subtitle">Москва 21–28 октября 2015</p>
    </div>
    <ul class="content__head-link-list clearfix">
        <li class="content__head-link-item content__head-link-social">
            <a class="content__head-link-fb" href="#"></a>
        </li>
        <li class="content__head-link-item content__head-link-social">
            <a class="content__head-link-vk" href="#"></a>
        </li>
        <li class="content__head-link-item content__head-link-social">
            <a class="content__head-link-instagram" href="#"></a>
        </li>
        <li class="content__head-link-item content__head-link-social">
            <a class="content__head-link-youtube" href="#"></a>
        </li>
        <li class="content__head-link-item content__head-link-lang">
            <a href="#">eng</a>
        </li>
    </ul>
</div>