<footer class="footer clearfix"> <!-- Для главной страницы футеру надо добавить класс footer--without-border, чтобы убрать рамку сверху -->
    <img class="footer__age" src="img/icons/age.svg" alt="" />
    <div class="footer__col footer__subscribe">
        <p class="footer__title">Подписаться</p>
        <form class="footer__subscribe-form" action="">
            <input type="text" placeholder="Ваш Емейл адрес" />
        </form>
        <a class="link-arrow-right" href="#">Подписаться</a>
        <a class="footer__subscribe-link" href="#">Пресс-центр</a>
        <a class="footer__subscribe-link" href="#">Архив</a>
        <a class="footer__subscribe-link" href="#">Партнеры</a>
    </div>
    <div class="footer__col footer__social">
        <p class="footer__title">Мы в соцсетях</p>
        <ul class="footer__social-list clearfix">
            <li class="footer__social-item">
                <a class="footer__social-link footer__social-link-fb" href="#"></a>
            </li>
            <li class="footer__social-item">
                <a class="footer__social-link footer__social-link-vk" href="#"></a>
            </li>
            <li class="footer__social-item">
                <a class="footer__social-link footer__social-link-instagram" href="#"></a>
            </li>
            <li class="footer__social-item">
                <a class="footer__social-link footer__social-link-youtube" href="#"></a>
            </li>
            <li class="footer__social-item">
                <a class="footer__social-link footer__social-link-tw" href="#"></a>
            </li>
            <li class="footer__social-item">
                <a class="footer__social-link footer__social-link-ok" href="#"></a>
            </li>
        </ul>
        <p class="footer__subtitle">Организатор</p>
        <a class="footer__logo-poly" href="#">
            <img src="img/logo_poly_grey.svg" alt="" />
        </a>
        <p>&copy; 2015 360.polymus.ru</p>
        <p>Все права защищены.</p>
        <a href="#">Правила использования сайта</a>
    </div>
    <div class="footer__col footer__contact">
        <p class="footer__title">Контакт</p>
        <a href="mailto:info@polymus.ru">info@polymus.ru</a>
        <p>Тел. +7 (495) 730-54-38</p>
        <p class="footer__subtitle">Со-организатор</p>
        <a class="footer__logo-beat" href="#">
            <img src="img/logo_beat.svg" alt="" />
        </a>
    </div>
</footer>





