<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>360</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css" />
    <script src="js/main.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script>
    <script src="https://api-maps.yandex.ru/2.0-stable/?load=package.full&lang=ru-RU" type="text/javascript"></script>
</head>
<body>
<div class="wrapper clearfix">