
<footer class="footer">
    <div class="wrapper">
        <div class="main">
            <div class="footer__wrapper clearfix">
                <img class="footer__age" src="img/icons/age.svg" alt="" />
                <div class="footer__col footer__subscribe">
                    <!--<p class="footer__title">Подписаться</p>-->
                    <!--<form class="footer__subscribe-form" action="">-->
                        <!--<input type="text" class="footer__subscribe-form-email" placeholder="Ваш Емейл адрес" />-->
                        <!--<input type="submit" value="Подписаться" class="link-arrow-right footer__subscribe-form-submit" />-->
                    <!--</form>-->
                    <p class="footer__subtitle">генеральный инфопартнер</p>
                    <a class="footer__logo-afisha" href="http://afisha.ru/" target="_blank">
                        <img src="img/logo_afisha.svg" alt="" />
                    </a>
                </div>
                <div class="footer__col footer__social">
                    <ul class="footer__social-list clearfix">
                        <li class="footer__social-item">
                            <a class="footer__social-link footer__social-link-fb" target="_blank" href="https://www.facebook.com/polytechnicum"></a>
                        </li>
                        <li class="footer__social-item">
                            <a class="footer__social-link footer__social-link-vk" target="_blank" href="https://vk.com/polytechnicum"></a>
                        </li>
                        <li class="footer__social-item">
                            <a class="footer__social-link footer__social-link-instagram" target="_blank" href="http://instagram.com/polytechnicum"></a>
                        </li>
                        <li class="footer__social-item">
                            <a class="footer__social-link footer__social-link-youtube" target="_blank" href="http://www.youtube.com/user/polytechnicum"></a>
                        </li>
                        <li class="footer__social-item">
                            <a class="footer__social-link footer__social-link-tw" target="_blank" href="https://twitter.com/Polytechnicum"></a>
                        </li>
                        <li class="footer__social-item">
                            <a class="footer__social-link footer__social-link-ok" target="_blank" href="http://ok.ru/group/53227509383279"></a>
                        </li>
                    </ul>
                </div>
                <div class="footer__col footer__partner">
                    <p class="footer__subtitle">Организатор</p>
                    <a class="footer__logo-poly" href="https://polymus.ru/ru/" target="_blank">
                        <img src="img/logo_poly_grey.svg" alt="" />
                    </a>
                    <div class="footer__copy">
                        <p>&copy; 2015 360.polymus.ru</p>
                        <p>Все права защищены.</p>
                    </div>
                </div>
                <div class="footer__col footer__coorg">
                    <p class="footer__subtitle">Со-организатор</p>
                    <a class="footer__logo-beat" href="http://2015.beatfilmfestival.ru/" target="_blank">
                        <img src="img/logo_beat.svg" alt="" />
                    </a>
                </div>
                <div class="footer__col footer__contact">
                    <p class="footer__title">Контакт</p>
                    <a class="footer__contact-mail" href="mailto:pr360@polymus.ru">pr360@polymus.ru</a>
                    <p>Тел. +7 (495) 730-54-38</p>
                    <a class="footer__subscribe-link" href="http://old.360.polymus.ru/" target="_blank">Архив</a>
                </div>
            </div>
        </div>
    </div>
</footer>