// Common styles of the project

html, body {
    height: 100%;
}

body {
    font-family: 'Times New Roman', serif;
}

.section__main{
    background-image: url("%=staticPrefixForCss=%/content/typewriter.jpg");
    background-repeat: no-repeat;
    position: relative;
    background-position: center 320px !important;
    padding-top: 105px;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 215px;
        display: block;
        background: linear-gradient(to bottom, rgba(223,223,223,1) 0%,rgba(254,254,254,1) 100%);
    }

    @include respond-to(desktop) {
        //background-size: contain !important;
        background-position: center 500px !important;
    }

    @include respond-to(tablet) {
        //background-size: contain !important;
        background-position: center 600px !important;
    }

    @include respond-to(fablet) {
        background: 0;
        height: auto !important;
        padding-top: 80px;
        padding-bottom: 40px;
    }
}

.section__container {
    width: 1425px;
    margin: 0 auto;
    padding: 100px 120px 200px;
    position: relative;

    @include respond-to(desktop) {
        width: 975px;
        padding: 50px 20px 100px;
    }

    @include respond-to(tablet) {
        width: 100%;
    }

    @include respond-to(phone) {
        padding: 40px 10px;
    }
}

.page__social {
    //position: absolute;
    //right: 15px;
    //bottom: 55px;
    //bottom: -8px;

    //@include respond-to(desktop) {
        position: relative;
        margin-top: 35px;
        right: auto;
        bottom: auto;
    //}
}

.social-likes {
    display: block;

    .social-likes__widget {
        display: inline-block;
        background: 0;
        cursor: pointer;
        position: relative;
        padding: 0 5px;
    }

    .social-likes__button {
        display: block;
    }

    .social-likes__icon {
        display: block;
        background-position: top center;
        width: 37px;
        height: 37px;
        background-size: cover;

        &:before {
            content: '';
        }
    }

    .social-likes__icon_facebook {
        background-image: url("%=staticPrefixForCss=%general/fb_icon.svg");
    }

    .social-likes__icon_twitter {
        background-image: url("%=staticPrefixForCss=%general/tw_icon.svg");
    }

    .social-likes__icon_vkontakte {
        background-image: url("%=staticPrefixForCss=%general/vk_icon.svg");
    }

    .social-likes__icon_plusone {
        background-image: url("%=staticPrefixForCss=%general/gplus_icon.svg");
    }

    .social-likes__counter {
        font-size: 16px;
        font-family: 'Times New Roman', serif;
        color: #000;
        width: 48px;
        position: absolute;
        bottom: -30px;
        left: 0;
        text-align: center;
    }
}

.page__title {
    width: 1170px;
    margin: 0 auto;
    padding-top: 40px;
    text-align: center;
    position: relative;

    @include respond-to(desktop) {
        width: 100%;
        padding: 40px 30px;
    }

    @include respond-to(fablet) {
        width: 100%;
        padding: 40px 10px 0;
    }

    h1 {
        font-size: 120px;
        color: #000;
        margin: 0;
        line-height: 1;
        letter-spacing: .05em;
        font-family: 'Times New Roman', serif;

        @include respond-to(desktop) {
            font-size: 92px;
        }

        @include respond-to(tablet) {
            span {
                display: block;
            }
        }

        @include respond-to(fablet) {
            font-size: 80px;
            width: 100%;
            margin: 0 auto;
        }

        @include respond-to(phone) {
            font-size: 55px;
        }
    }

    p {
        font-size: 35px;
        color: #000;
        margin-top: 30px;
        margin-bottom: 0;
        line-height: 1;
        text-shadow: 0 0 25px #fff;

        @include respond-to(fablet) {
            font-size: 28px;

            span {
                display: block;
            }
        }
    }
}

.page__date {
    font-size: 30px;
    line-height: 1;
    position: absolute;
    //bottom: 65px;
    left: 0;
    bottom: 0;
    color: #000;
    text-shadow: 0 0 25px #fff;

    @include respond-to(desktop) {
        position: relative;
        bottom: auto;
    }
}

.page__section {
    background-size: cover;
}

.section__about {
    background-image: url("%=staticPrefixForCss=%/content/bg-1.jpg");
}

.section__exhibition {
    display: none;
    background-image: url("%=staticPrefixForCss=%/content/bg-2.jpg");
}

.section__org {
    background-image: url("%=staticPrefixForCss=%/content/bg-3.jpg");
}

.section__partners {
    background-image: url("%=staticPrefixForCss=%/content/bg-4.jpg");
}

.section__gallery {
    background-image: url("%=staticPrefixForCss=%/content/bg-gallery.jpg");
}


.section__title {
    font-size: 48px;
    line-height: 1;
    color: #000000;
    margin-bottom: 63px;
    float: none !important;
    text-align: left;

    @include respond-to(phone) {
        font-size: 30px;
        margin-bottom: 50px;
    }
}

.section__text {
    line-height: 1.2;
    margin-bottom: 23px;
    font-size: 18px;
    color: #000000;
}

.section__text--big-margin {
    //margin-bottom: 50px;

    @include respond-to(desktop) {
        margin-bottom: 23px;
    }
}

.about-bg {
    position: absolute;
    top: 0;
    right: 0;

    @include respond-to(desktop) {
        width: 400px;
        right: 50px;
    }

    @include respond-to(tablet) {
        display: none;
    }
}

p.page__title-hashtag {
    position: absolute;
    right: 80px;
    top: 201px;
    font-size: 18px;
    margin: 0;

    @include respond-to(desktop) {
        position: relative;
        right: auto;
        top: auto;
        margin-top: 40px;
    }
}

.org-list {
    div {
        @include respond-to(tablet) {
            margin-bottom: 50px;
        }
    }
}

.org-item {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left center;
    height: 80px;
    display: block;
}

.org-poly {
    background-image: url('%=staticPrefixForCss=%/general/poly_logo_black.svg');
    width: 243px;
}

.org-momma {
    background-image: url('%=staticPrefixForCss=%/general/mmoma_logo_black.svg');
    width: 208px;
}

.org-glm {
    background-image: url('%=staticPrefixForCss=%/general/glm_logo_black.svg');
    width: 112px;
}

.thanks__title {
    margin-top: 95px;
    margin-bottom: 35px;

    @include respond-to(fablet) {
        margin-top: 50px;
    }
}

.thanks-list {
    line-height: 1.3;
    color: #000;
}

//.section__text--exhibition-location {
//    margin-bottom: 183px;
//
//    @include respond-to(tablet) {
//        margin-bottom: 50px;
//    }
//}

.section__exhibition-map {
    border: 1px solid #a7a7a7;
    padding: 1px;
    margin-top: 17px;

    @include respond-to(desktop) {
        margin-top: 20px;
    }
}

.section__exhibition-map>ymaps {
    @include respond-to(fablet) {
        height: 400px !important;
    }
    @include respond-to(phone) {
        height: 300px !important;
    }
}

.partner-title {
    font-size: 21px;
    color: #000000;
    line-height: 1.2;

    @include respond-to(fablet) {
        font-size: 16px;
    }
}

.partner-img {
    display: inline-block;
    background-size: contain;
    outline: none;
    background-repeat: no-repeat;
}

.partner-sams {
    width: 194px;
    height: 30px;
    margin-top: 65px;
    background-image: url('%=staticPrefixForCss=%/content/logo_sams.svg');

    @include respond-to(desktop) {
        margin-top: 75px;
    }

    @include respond-to(tablet) {
        margin-top: 50px;
        margin-bottom: 80px;
    }

    @include respond-to(phone) {
        margin-top: 30px;
        margin-bottom: 50px;
    }
}

.partner-openbank {
    width: 270px;
    height: 72px;
    margin-top: 50px;
    background-image: url('%=staticPrefixForCss=%/content/logo_openbank.svg');

    @include respond-to(tablet) {
        margin-top: 50px;
        margin-bottom: 80px;
    }

    @include respond-to(phone) {
        margin-top: 30px;
        margin-bottom: 50px;
    }
}

.partner-memo {
    width: 69px;
    height: 69px;
    margin-top: 55px;
    background-image: url('%=staticPrefixForCss=%/content/logo_memo.svg');

    @include respond-to(tablet) {
        margin-top: 50px;
        margin-bottom: 80px;
    }

    @include respond-to(phone) {
        margin-top: 30px;
        margin-bottom: 50px;
    }
}

.partner-komm {
    width: 226px;
    height: 28px;
    margin-top: 40px;
    background-image: url('%=staticPrefixForCss=%/content/logo_komm.svg');

    @include respond-to(desktop) {
        margin-top: 50px;
    }

    @include respond-to(tablet) {
        margin-top: 50px;
    }

    @include respond-to(phone) {
        margin-top: 30px;
    }
}

.partner-snob {
    width: 110px;
    height: 33px;
    margin-top: 60px;
    background-image: url('%=staticPrefixForCss=%/content/logo__snob.svg');
}

.partner-art {
    width: 233px;
    height: 33px;
    margin-top: 65px;
    background-image: url('%=staticPrefixForCss=%/content/logo_art.svg');
}

.partner-art-news {
    width: 136px;
    height: 136px;
    margin-top: 0;
    background-image: url('%=staticPrefixForCss=%/content/logo_art-news.svg');
}

.partner-colta {
    width: 100px;
    height: 29px;
    margin-top: 65px;
    background-image: url('%=staticPrefixForCss=%/content/logo_colta.svg');
}

.partner-di {
    width: 83px;
    height: 87px;
    margin-top: 25px;
    background-image: url('%=staticPrefixForCss=%/content/logo_di.svg');
}

.main-partners {
    margin-top: 95px;
    padding-bottom: 65px;
    border-bottom: 1px solid #646464;

    @include respond-to(phone) {
        margin-top: 30px;
        font-size: 18px;
    }
}

.partners {
    margin-top: 55px;

    .tar {
        text-align: right;
    }

    .tac {
        text-align: center;
    }
}

.main-partners--openbank{
    @include respond-to(tablet) {
        .partner-title {
            width: 50%;
        }
    }
    @include respond-to(fablet) {
        .partner-title {
            width: 100%;
        }
    }
}

.main-partners--sams{
    margin-left: 50px;

    @include respond-to(desktop) {
        margin: 0;

        .partner-title {
            width: 70%;
        }
    }
}

.main-partners--memo {
    margin-left: 40px;

    @include respond-to(desktop) {
        margin: 0;
        clear: left;
        margin-top: 95px;
    }

    @include respond-to(tablet) {
        margin: 0;
    }
}

.main-partners--komm {
    margin-left: 50px;

    @include respond-to(desktop) {
        margin: 0;
        margin-top: 95px;
    }

    @include respond-to(tablet) {
        margin: 0;
    }
    @include respond-to(fablet) {
        .partner-title {
            width: 70%;
        }
    }
}

.partners--art,
.partners--di {
    text-align: right;

    @include respond-to(desktop) {
        text-align: left;
    }
}

.partners--art-news,
.partners--colta {
    text-align: center;

    @include respond-to(tablet) {
        text-align: left;
    }
}

.partners--art {
    @include respond-to(tablet) {
        margin-bottom: 30px;
    }
}

.partners--colta {
    @include respond-to(tablet) {
        margin-bottom: 50px;
    }
    @include respond-to(phone) {
        margin-bottom: 20px;
    }
}


.partner-snob {
    @include respond-to(phone) {
        margin-top: 60px;
    }
}

.partner-art {
    @include respond-to(phone) {
        margin-top: 50px;
    }
}

.partner-art-news {
    @include respond-to(phone) {
        margin-top: -25px;
    }
}

.partner-colta {
    @include respond-to(phone) {
        margin-top: 45px;
    }
}

.partner-di {
    @include respond-to(phone) {
        margin-top: 25px;
    }
}


.section__text-person {
    margin-bottom: 23px;

    span {
        display: block;
        margin-bottom: 5px;
    }
}

@media all and (max-height: 600px) {
    .section__main {
        background: 0;
        height: auto !important;
    }
}

.portfolio {
    &:before {
        border: none !important;
    }
}

.port-item {
    padding: 10px;

    @include respond-to(tablet) {
        width: 33.33% !important;
    }

    @include respond-to(fablet) {
        width: 100% !important;
    }

    &:before {
        border: none !important;
    }

    &:hover {
        img {
            transform: none !important;
        }
        .port-overlay {
            background: rgba(255, 255, 255, .7) !important;

            .inner {
                transform: translate(-50%, -50%) translate3d(0,0,0);
            }
        }
    }

    &.port-item--active {
        img {
            transform: none !important;
        }
        .port-overlay {
            background: rgba(255, 255, 255, .7) !important;

            .inner {
                transform: translate(-50%, -50%) translate3d(0,0,0);
                opacity: 1 !important;
            }
        }
    }

    &.port-item__closed {
        pointer-events: none;

        .port-item__inner {
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 999;
                background-color: rgba(0,0,0, .7);
            }
        }

        img {
            filter: grayscale(1);
        }

        &:hover {
            .port-overlay {
                background: 0 !important;

                .inner {
                    transform: translate(-50%, -50%) translate3d(0,0,0);
                    opacity: 0 !important;
                }
            }
        }
    }
}

.port-item__inner {
    padding: 5px;
    position: relative;
}

.port-overlay {
    background: 0 !important;
}

.bx-next,
.bx-prev {
    background: 0 !important;
    width: auto !important;
    height: auto !important;

    &:after {
        position: absolute;
        top: 0;
        left: 0;
        font-family: 'Times New Roman';
        font-size: 48px;
        display: block;
        text-indent: 0;
        color: #fff;

        @include respond-to(fablet) {
            font-size: 24px;
        }
    }
}

.bx-next {
    right: 36px !important;

    &:after {
        content: '>';

        @include respond-to(fablet) {
            left: auto;
            right: -27px;
        }
    }
}

.bx-prev {
    &:after {
        content: '<';
    }
}

.bx-pager {
    padding: 0 !important;
    bottom: -20px !important;
}

.bx-pager-item {
    @include respond-to(fablet) {
        width: 10px;
    }
}

.bx-pager-link {
    background: 0 !important;
    position: relative;

    &:after {
        content: 'o';
        text-indent: 0;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 16px;
        line-height: 1;
        font-family: 'Times New Roman';
        color: #000;
        font-weight: normal;
    }

    &.active {
        &:after {
            content: 'x';
        }
    }

    &:hover {
        &:after {
            content: '0';
        }
    }
}

.project {
    background: 0 !important;
    margin-bottom: 0 !important;
    padding: 0 15px !important;

    .close-btn {
        padding: 0 !important;
        position: absolute;
        z-index: 999;
        top: -6px;
        right: 23px;
        width: auto !important;

        i:before {
            content: 'X' !important;
            color: #fff !important;
            font-family: "Times New Roman";

            @include respond-to(fablet) {
                font-size: 21px;
            }
        }
    }
}

.project-wrapper {
    position: relative;

    .loader {
        height: auto !important;
        position: absolute;
        top: -35px;
        width: 100%;
    }
}

.portfolio-wrapper {
    padding: 0 !important;
}

.port-overlay__title {
    font-size: 21px;
    font-family: "Times New Roman";
    padding: 15px 0 10px 0 !important;

    &:before,
    &:after {
        content: '';
        width: 22px;
        height: 1px;
        display: block;
        background-color: #000;
        position: absolute;
        left: 50%;
        margin-left: -11px;
    }

    &:before {
        top: 0;
    }

    &:after {
        bottom: 0;
    }
}

.bx-wrapper {
    margin-bottom: 40px !important;
}

.portfolio-slider__caption,
.portfolio-slider__copyright {
    width: 310px;
    font-size: 16px;
    font-family: 'Times New Roman';
    color: #000;
    line-height: 1.2;

    @include respond-to(fablet) {
        width: 100%;
    }
}

.portfolio-slider__copyright {
    font-style: italic;
    margin-bottom: 40px;

    &.copy-sign:before {
        content: '\00a9 ';
        margin-right: 5px;
    }
}

.section__lection {
    background-image: url('%=staticPrefixForCss=%/content/bg-2.jpg');

    .section__text--big-margin {
        margin-bottom: 20px;
    }

    .lection__text {
        padding-bottom: 25px;
    }
}

.lection__text {
    //border-bottom: 1px solid #000;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

//.lection-col {
//
//    .section__text:last-child .lection__text {
//        border: 0;
//    }
//
//    @include respond-to(tablet) {
//        .section__text:last-child .lection__text {
//            border-bottom: 1px solid #000;
//        }
//
//        &:last-child {
//            .section__text:last-child .lection__text {
//                border: 0;
//            }
//        }
//    }
//}

.section-banner {
    text-align: center;
}

.section-banner__thngs {
    background-color: #fff;
}

.section-banner__relikva {
    background-color: #63c;
}

.section__video {
    background-color: #000;

    .section__title {
        color: #fff;
    }
}

.video-container {
    width: 100%;
    height: 700px;
    position: relative;

    @include respond-to(desktop) {
        height: 600px;
    }

    @include respond-to(tablet) {
        height: 500px;
    }

    @include respond-to(fablet) {
        height: 400px;
    }

    @include respond-to(phone) {
        height: 300px;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
