// File for scss-vars.
// For example: main colors, paddings and so on.

$phone: 380px;
$fablet: 580px;

// Colors

$bg-grey: #d4d4d4;
$bg-light-grey: #f4f4f4;
$bg-dark-grey: #333;
$bg-black: #292929;

$pink: #e7216f;
$blue: #1784c5;
$red: #c51d28;
$white: #fff;

$font-black: #333;
$font-real-black: #000;
$font-grey: #999;


// Font size

$mobile-font-size: 10px;
$fablet-font-size: 12px;
$basic-font-size: 16px;
