.section__main {
    position: relative;

    overflow: hidden;

    padding-top: 80px;
    padding-left: 20px;

    background-color: $grey;

    @include respond-to(phone) {
        padding-top: 0;
    }
}

.planet-earth {
    position: absolute;
    z-index: 890;
    top: 3px;
    right: 119px;

    width: 997px;
    height: 995px;

    background-image: url('%=static=%general/planet_earth.png');
    background-repeat: no-repeat;
    background-size: contain;

    @include respond-to(large) {
        right: 86px;

        width: 831px;
        height: 830px;
    }
    @include respond-to(desktop) {
        right: -156px;
    }
    @include respond-to(tablet) {
        top: 45px;
        right: -423px;

        width: 941px;
        height: 940px;
    }
    @include respond-to(tablet) {
        top: 54px;
        right: -182px;

        width: 413px;
        height: 412px;

        background-image: url('%=static=%general/planet_earth_mobile.png');
    }
}

.main-partner {
    position: relative;
    z-index: 900;

    @include respond-to(phone) {
        position: absolute;
        top: 23px;
        right: 17px;
    }
    // margin-left: 20px;
    // top: 80px;
    // left: 20px;
    &__link {
        display: inline-block;

        vertical-align: bottom;
        &--ars {
            width: 133px;
            height: 20px;

            @include respond-to(phone) {
                width: 121px;
                height: 18px;
            }
        }
        &--poly {
            width: 85px;
            height: 16px;
            margin-left: 20px;

            @include respond-to(phone) {
                width: 80px;
            }
        }
    }
}

.main-content {
    position: relative;
    z-index: 900;
    &__text {
        width: 970px;
        margin-top: 80px;

        @include cf();
        @include respond-to(large) {
            margin-top: 40px;
        }
        @include respond-to(tablet) {
            margin-top: 80px;
        }
        @include respond-to(phone) {
            margin-top: 100px;
            margin-left: -20px;
        }
    }
    &__text-item {
        font-weight: 600;

        float: left;
        clear: both;

        padding: 10px 20px;

        color: $white;
        background-color: $black;

        @include respond-to(phone) {
            padding: 5px 10px;
        }
        &:last-child {
            margin-top: -18px;

            @include respond-to(phone) {
                margin-top: -7px;
            }
        }
    }
    &__title {
        font-size: 80px;
        font-weight: 600;
        line-height: 1;

        letter-spacing: .01px;

        color: $white;

        @include respond-to(large) {
            font-size: 67px;
        }
        @include respond-to(tablet) {
            font-size: 60px;
        }
        @include respond-to(phone) {
            font-size: 27px;
        }
    }
    &__subtitle {
        font-size: 25px;
        line-height: 34px;

        letter-spacing: -.06px;

        @include respond-to(large) {
            font-size: 21px;
        }
        @include respond-to(tablet) {
            font-size: 19px;
        }
        @include respond-to(phone) {
            font-size: 8.6px;
            line-height: 14px;
        }
    }
    &__date {
        font-size: 62px;
        line-height: 1;

        padding-bottom: 10px;

        letter-spacing: -.01px;

        @include respond-to(large) {
            font-size: 51px;
        }
        @include respond-to(tablet) {
            font-size: 45px;
        }
        @include respond-to(phone) {
            font-size: 21px;
        }
    }
    &__buy-button {
        font-size: 14px;
        font-weight: 700;
        line-height: 60px;

        display: block;

        width: 200px;
        height: 60px;
        margin-top: 40px;

        transition: background-color ease .3s;
        text-align: center;

        color: $blue;
        border: 1px solid $blue;

        @include respond-to(phone) {
            background-color: $grey;
        }
        &:hover {
            color: $white;
            background-color: $blue;
        }
    }
    &__hashtag {
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;

        display: block;

        margin-top: 30px;

        color: $blue;
    }
    &__location {
        font-size: 14px;
        font-weight: normal;
        line-height: 22px;

        color: $black;
    }
}

.main-age {
    position: absolute;
    z-index: 900;
    right: 10px;
    bottom: 20px;
}

.social-share {
    position: absolute;
    z-index: 990;
    bottom: 20px;
    left: 20px;
}

.social-likes {
    &__counter {
        display: none;
    }
    &__widget {
        display: inline-block;

        margin-right: 15px;
    }
    &__icon {
        display: block;

        width: 25px;
        height: 28px;

        cursor: pointer;
        &_facebook {
            @include bg($fb_icon);
            &:hover {
                @include bg($fb_icon_hover);
            }
        }
        &_vkontakte {
            @include bg($vk_icon);
            &:hover {
                @include bg($vk_icon_hover);
            }
        }
        &_twitter {
            @include bg($tw_icon);
            &:hover {
                @include bg($tw_icon_hover);
            }
        }
    }
}

@media screen and ('max-width: 320px') and ('max-height: 440px') {
    .main-content__text {
        margin-top: 80px;
    }

    .main-content__buy-button {
        margin-top: 20px;
    }

    .main-content__hashtag {
        margin-top: 10px;
    }
}
