mixin main_slide
    section.section__main.slider-wrapper
        .main-partner
            a.main-partner__link.main-partner__link--ars(href="#")
                img(src="%=static=%img/general/ars_logo.svg").main-partner__logo
            a.main-partner__link.main-partner__link--poly(href="#")
                img(src="%=static=%img/general/poly_logo.png").main-partner__logo
        .planet-earth
        .main-content
            .main-content__text
                .main-content__text-item
                    h1.main-content__title ЛАБОРАТОРИЯ ЗЕМЛЯ
                    p.main-content__subtitle совместный проект Политехнического музея и Центра Ars Electronica
                .main-content__text-item
                    p.main-content__date 22 июня &ndash; 25 сентября 2016
            a.main-content__buy-button(href="#") купить билет
            a.main-content__hashtag(href="#") #ЛАБОРАТОРИЯЗЕМЛЯ
            p.main-content__location.
                Красный Октябрь <br>
                Берсеневский пер, 2, стр.1

        img(src="%=static=%img/general/age_12.svg").main-age

        .social-share
            .social-likes
                .facebook
                .vkontakte
                .twitter(data-via="Polytechnicum")
