include ../article_list_item/article_list_item

mixin article_list(type)
    .c-article-list
        +article_list_item(
            'article_list_img1.png',
            'Как получить Black Spindle?',
            '14:00 12.09.16'
        )
        +article_list_item(
            'article_list_img2.png',
            'Как апнуть 335 лайта? Tips and Tricks',
            '14:00 12.09.16'
        )
        +article_list_item(
            'article_list_img3.png',
            'A Sword Reforged - подборобное прохождение квеста. [video] (draft)',
            '14:00 12.09.16',
            'inactive'
        )
        +article_list_item(
            'article_list_img4.png',
            'Challenge Mode: Golgoroth',
            '14:00 12.09.16'
        )
        +article_list_item(
            'article_list_img5.png',
            'Challenge Mode: Oryx',
            '14:00 12.09.16'
        )
        +article_list_item(
            'article_list_img6.png',
            'Гайд ивента Iron Banner',
            '14:00 12.09.16'
        )