mixin section_about
    section.about
        .about__container.about__title-container
            .about__title.section__container
                img(src="%=static=%img/general/09.png" srcset="%=static=%img/general/09_m.png 1000w, %=static=%img/general/09_s.png 720w" alt="").about__title-img
        .about__container
            .about__content.section__container
                .about__col
                    p.about__text.about__text--main.
                        В ХХ веке СССР стал первой космической державой. Космос: рождение новой эры &mdash; это захватывающий рассказ о том, как Россия всего за несколько десятилетий прошла путь от рисунков художников-авангардистов, формул Константина Циолковского и экспериментальных разработок Сергея Королева до искусственных спутников Земли, космических аппаратов и беспилотных исследовательских экспедиций к далеким планетам. Скафандры первых космонавтов, межпланетные посадочные модули, личные вещи Гагарина, представленные на выставке, &mdash; все это сыграло свою роль в уникальных достижениях российской космонавтики и привело к тому, что Россия и сегодня остается одним из лидеров освоения межпланетных пространств. Интерес к космосу до сих пор не иссякает, но что нас ждет в ХХI веке? Космический туризм или колонизация Луны? Пилотируемые полеты на Марс или частная космонавтика? Ответы получит лишь тот, кто найдет в себе смелость быть любопытным, &mdash; а ее всегда находили выдающиеся первооткрыватели космоса.

                .about__col
                    p.about__text БИЛЕТЫ
                    p.about__text.
                        <span class="about__text--bold">250 ₽</span> &mdash; взрослый билет<br>
                        <span class="about__text--bold">100 ₽</span> &mdash; пенсионерам, детям до 16 лет и студентам дневных форм обучения<br>
                        <span class="about__text--bold">бесплатно</span> &mdash; детям до 6 лет, детям-сиротам, детям без попечения родителей, инвалидам, ветеранам ВОВ, многодетным семьям

                    a.about__buy-ticket(href="//primepass.ru/widget/v1/spot/vdnh/ext_event/149/schedules" target="_blank")

                    p.about__text.about__text--schedule РАСПИСАНИЕ
                    p.about__text.
                        ежедневно с 11:00 до 22:00<br>
                        понедельник &mdash; выходной<br>
                    //- 13 июня &mdash; выставка работает<br>
                    //- 14 июня &mdash; выставка закрыта
