doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/article_teaser/article_teaser
    include ../components/article_paragraph/article_paragraph
    include ../components/article_slider/article_slider
    include ../components/footer/footer

    head
        +head(head.defaults)
    body
        |%=symbols=%

        section.l-grid
            +header()

            article.l-article
                +article_teaser('Уникальные площадки',
                                'Уникальные места для проведения мероприятий',
                                'unique_area',
                                'Деловые площадки<br>Сингапура')

                +article_paragraph('Сингапур — город, идеально подходящий для организации конференций, симпозиумов, деловых встреч и инсентив-поездок любых форматов. В последние десятилетия из города-порта Сингапур переродился в город-хаб — место, где сходятся транспортные маршруты и пересекаются деловые интересы, с несколькими десятками крупных деловых площадок различной вместимости и профиля — от конгресс-центров до бизнес-отелей с разветвленной инфраструктурой для организации конференций. Добавьте к этому удобную городскую инфраструктуру, наличие ресторанов мирового уровня, обширные возможности для культурной программы и даже пляж — и ответ на вопрос, где провести ежегодную встречу акционеров, выставку или научный конгресс придет сам собой.')

                +article_slider('<img class="c-article-slider__img" src="https://unsplash.it/640/400/?image=0" data-caption="В последние десятилетия из города-порта">',
                                '<img class="c-article-slider__img" src="https://unsplash.it/640/400/?image=1" data-caption="Сингапур переродился в город-хаб — место">',
                                '<img class="c-article-slider__img" src="https://unsplash.it/640/400/?image=2" data-caption="Добавьте к этому удобную городскую инфраструктуру, наличие ресторанов мирового уровня, обширные возможности для культурной программы и даже пляж">')


                .c-article-section
                    h5.c-article-section__title Выставочный центр «Чанги» (Changi Exhibition Centre) 
                    +article_paragraph('Сингапур — город, идеально подходящий для организации конференций, симпозиумов, деловых встреч и инсентив-поездок любых форматов. В последние десятилетия из города-порта Сингапур переродился в город-хаб — место, где сходятся транспортные маршруты и пересекаются деловые интересы, с несколькими десятками крупных деловых площадок различной вместимости и профиля — от конгресс-центров до бизнес-отелей с разветвленной инфраструктурой для организации конференций. Добавьте к этому удобную городскую инфраструктуру, наличие ресторанов мирового уровня, обширные возможности для культурной программы и даже пляж — и ответ на вопрос, где провести ежегодную встречу акционеров, выставку или научный конгресс придет сам собой.')
                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js')
        script(src='%=static=%js/main%=hash=%%=min=%.js')
