doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/article_teaser/article_teaser
    include ../components/article_paragraph/article_paragraph
    include ../components/article_slider/article_slider
    include ../components/article_list/article_list
    include ../components/article_num_list/article_num_list
    include ../components/article_image/article_image
    include ../components/article_video/article_video
    include ../components/article_incut/article_incut
    include ../components/article_item/article_item
    include ../components/footer/footer

    head
        +head(head.defaults)
    body
        |%=symbols=%

        section.l-grid
            +header('business_tourism', 'work')

            article.l-article
                +article_teaser('Деловой туризм',
                                'Программы и привилегии для бизнес-туристов',
                                'business_tourism',
                                'Деловой туризм')

                +article_paragraph('Возможности для делового туризма в Сингапуре представлены весьма масштабно. Существует несколько программ для бизнес-путешественников, призванных помочь деловым людям почувствовать особое сингапурское гостеприимство и оценить безупречный сервис, создать условия, при которых бизнес-сотрудничество может строиться на взаимопонимании и доверии, а не только на основе финансовых интересов сторон.')

                .c-article-section
                    h5.c-article-section__title Большой welcome
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Для организаторов и участников крупных мероприятий от 100 человек существует программа SMAP (Singapore MICE Advantage Programme). Зарегистрироваться для участия в ней можно до 31 декабря 2016 года, а воспользоваться привилегиями — до 31 декабря 2017 года.')

                            +article_paragraph('Поскольку крупные бизнес-мероприятия могут проходить в различных форматах, иметь разный профиль и объединять организаторов с участниками, программа разделена на несколько частей:')

                            +article_num_list(
                                'рабочие совещания и партнерские слеты;',
                                'конференции и форумы, организованные ассоциациями;',
                                'выставки;',
                                'конференции по вопросам торговли.')

                            +article_paragraph('Ключевые партнеры программы — сингапурский аэропорт Чанги, который многократно был признан одним из лучших аэропортов Азии, и авиакомпания «Сингапурские авиалинии», известная своим высочайшим уровнем сервиса во всех классах обслуживания. Кроме того, слаженную работу всех структур обеспечивает Бюро выставок и конвенций Сингапура (Singapore Exhibition & Convention Bureau, SECB).')

                            +article_paragraph('Организаторы мероприятий могут рассчитывать как на финансовые гранты по компенсации части квалификационной стоимости, так и на определенное количество бесплатных билетов эконом-класса на перелет (при условии, что основная масса участников купит билеты на рейсы национальной авиакомпании), скидки на рекламные пространства в аэропорту Сингапура, квалифицированные рекомендации касательно пространств для организации мероприятий самого различного формата и помощь в бронировании, а также контакты поставщиков и агентств.')

                            +article_image('business-tourism-01.jpg')

                            +article_paragraph('Участникам мероприятий предоставляется VIP-встреча и ваучеры на шопинг в аэропорту Чанги, специальные предложения на размещение по программам Singapore Stopover Business и Singapore Stopover Holiday.')

                            +article_paragraph('Организаторы выставок и конференций дополнительно могут рассчитывать на бесплатные рекламные полосы в SilverKris, бортовом журнале «Сингапурских авиалиний» и в KrisWorld, встроенной системе развлечений авиакомпании.')

                            +article_paragraph('«Сингапурские авиалинии» предоставляют также право провоза дополнительных 10 килограммов багажа, что может стать существенным подспорьем при перевозке рабочих материалов. В некоторых случаях действуют также специальные тарифы на перелеты в Сингапур более чем из 60 городов мира.')

                            +article_image('business-tourism-02.jpg')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title INSPIRE — бизнес и вдохновение
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Параллельно со SMAP действует еще одна программа — INSPIRE (In Singapore Incentives & Rewards), разработанная Бюро выставок и конвенций Сингапура (SECB) для групп численностью от 20 человек. Ранее эта программа действовала только для туристов из Китая и Индии, теперь же воспользоваться ее привилегиями могут деловые путешественники из стран Европы (в том числе и России) и США, пребывающие в Сингапуре не менее трех суток.')

                            +article_paragraph('Программа организована Советом по Туризму Сингапура совместно с аэропортом Чанги и авиакомпанией «Сингапурские авиалинии», поэтому полет и прибытие будут организованы на самом высшем уровне.')

                            +article_paragraph('На рейсах авиакомпании, которая выступает партнером проекта, туристам по программе INSPIRE по возможности предложат наиболее удобные места. Кроме того, перевозчик предлагает участникам программы скидки на рейсы в другие города Юго-Восточной Азии, Австралии и Новой Зеландии.')

                            +article_paragraph('Для деловых туристов из Европы действует увеличенная норма багажа: можно привезти с собой дополнительные 10 килограммов и не платить за перевес.')

                            +article_paragraph('И наконец, участникам INSPIRE представлена возможность воспользоваться одним из 12 бесплатных развлекательных мероприятий: посетить один из шести исторических баров на крыше с бесплатным комплиментарным коктейлем от заведения или отправиться на одну из 6 тематических бизнес-экскурсий об истории Сингапура, включая маршруты вокруг городских построек и инфраструктуры.')

                            +article_paragraph('Для того чтобы воспользоваться привилегиями, которые предоставляет программа INSPIRE, регистрацию необходимо пройти до 31 марта 2017 года. Предложение действует для групп, путешествующих начиная с 19 апреля 2016 года и до 31 декабря 2017 года.')

                            +article_image('inspire-1.jpg')

                            +article_paragraph('Сингапур – гастрономическая Мекка Юго-Восточной Азии. Так что знакомство с городом имеет смысл начинать именно с еды. Для тех, кто примет такое решение большим подспорьем может оказаться тур под названием «Макан Макан», то есть «Кушать подано». Во время тура путешественники смогут оценить ту роль, которую традиционно играют в истории Сингапура небольшие рестораны, местные производители продуктов питания и даже уличные лотки с едой. Несмотря на мощную экономику и благоприятные условия для крупного бизнеса, малый бизнес здесь всегда в почете — это в первую очередь дань традиции и способ сохранения самоидентичности Сингапура.')

                            +article_paragraph('Среди других бесплатных туров, которые предлагает участникам INSPIRE, — экскурсия по этническим районам и храмам разных конфессий «Единство в разнообразии»; или экскурсия «Перанаканцы» по погружению в перанаканскую культуру — рассказ об архитектуре, прикладном искусстве и кухне потомков китайцев, родившихся на островах Малаккского пролива. В Сингапуре да и во всей Азии эту культуру ценят за особое изящество и экзотичность.')

                            +article_paragraph('Во время тура «Феншуй и архитектура» вам расскажут, каким образом можно построить ультрасовременный мегаполис по законам феншуй: сами сингапурцы часто именно в этом видят причину процветания своего города-государства. Особые плавные очертания зданий, гигантские пустоты в небоскребах, городские фонтаны — все это не только придает оригинальные черты городской архитектуре, но и способствует правильному распределению энергии.')

                            +article_image('inspire-2.jpg')

                            +article_paragraph('Для тех, кто хочет понять, как устроена повседневная жизнь города, есть особый тур «Пульс нации», рассказывающий о трансформации Сингапура в один из самых комфортных для жизни городов в мире, о долгосрочном и комплексном планировании в освоении городского пространства. Также стоит посетить и тур «Образ жизни». Это путешествие в мир жилой застройки позволяет увидеть, как живет большинство обычных сингапурцев, увидеть ресурсы и особенности планирования государственного жилищного строительства и развития инфраструктуры.')

                            +article_paragraph('Для того чтобы воспользоваться привилегиями, которые предоставляет программа INSPIRE, регистрацию необходимо пройти до 31 марта 2017 года. Предложение действует для групп, путешествующих начиная с 19 апреля 2016 года и до 31 декабря 2017 года.')


                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                +article_video(
                    'business-tourism',
                    'video-business-tourism.jpg')
                
                +article_item(
                    'Деловые площадки',
                    'Умные деловые<br>пространства',
                    'more',
                    'business_area',
                    'business-area.html')

                +article_item(
                    'Истории успеха',
                    'Личный опыт проведения деловых мероприятий',
                    'more',
                    'success_story',
                    'success-story.html')

                +article_item(
                    'Календарь',
                    'Деловые события<br>в Сингапуре',
                    'calendar',
                    'business_calendar',
                    'calendar-work.html')

            +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.js')
        script(src='%=static=%js/main%=hash=%%=min=%.js')
