doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/article_teaser/article_teaser
    include ../components/article_paragraph/article_paragraph
    include ../components/article_slider/article_slider
    include ../components/article_list/article_list
    include ../components/article_image/article_image
    include ../components/article_video/article_video
    include ../components/article_incut/article_incut
    include ../components/article_item/article_item
    include ../components/footer/footer

    head
        +head(head.defaults)
    body
        |%=symbols=%

        section.l-grid
            +header('business_area', 'work')

            article.l-article
                +article_teaser('Деловые площадки',
                                'Умные деловые пространства',
                                'business_area',
                                'Деловые площадки<br>Сингапура')

                +article_paragraph('Сингапур — город, идеально подходящий для организации конференций, симпозиумов, деловых встреч и инсентив-туров. В последние десятилетия из города-порта Сингапур превратился в место, интересное с точки зрения бизнеса, с деловыми площадками различной вместимости и профиля — от конгресс-центров до бизнес-отелей с развитой инфраструктурой для организации конференций. Добавьте к этому удобную городскую инфраструктуру, наличие ресторанов мирового уровня, обширные возможности для культурной программы и даже пляж — и ответ на вопрос, где провести ежегодную встречу акционеров, выставку или научный конгресс, придет сам собой.')

                .c-article-section
                    h5.c-article-section__title Выставочный центр «Чанги» (Changi Exhibition Centre)
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Выставочный центр «Чанги» находится на восточном побережье Сингапура в 20 минутах езды от делового центра города. Таким образом, проведение любого крупного мероприятия можно совместить с посещением города и встречами в офисах сингапурских компаний.')

                            +article_paragraph('Центр «Чанги» располагает помещениями площадью 40 000 м2 и 100 000 м2 пространства на открытом воздухе, которые подходят для проведения авиационных и автомобильных салонов, спортивных и культурных мероприятий.')

                            +article_paragraph('В выставочном центре проводились крупные международные события: концерн BMW устраивал здесь празднование 50-летия MINI, а группа Metallica выбрала эту площадку для проведения азиатского концерта в 2013 году.')

                            +article_image('changi_ex_centre.jpg')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Конференц-центр «Раффлз-сити» (Raffles City Convention Centre)
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Конференц-центр при отеле «Фермонт» (Fairmont Hotel) расположен в самом центре города. Площадка идеально подходит для проведения неформальных мероприятий, а также деловых и научных конференций, семинаров, совещаний и переговоров. Конференц-центр располагает 27 залами различного профиля общей площадью порядка 6 500 м2. Залы соединены общей аудиовизуальной системой, которая позволяет проводить видеоконференции и демонстрировать презентации одновременно в нескольких залах.')

                            +article_paragraph('Специалисты отеля «Феирмонт» помогут разработать формат мероприятия, в том числе предложат и собственные уникальные концепции. Одна из опций, которую предлагает конференц-центр «Раффлз сити», — Eco-Meet — организация мероприятий с особым вниманием к окружающей среде, что важно особенно для крупных международных компаний.')

                            +article_paragraph('Для деловых ужинов и банкетов можно выбрать как рестораны отеля, так и любое из городских заведений, расположенных в пешей доступности: например, CUT под управлением знаменитого американского шеф-повара Вольфганга Пака, или ресторан кантонской кухни Cherry Garden. Бизнес-партнеров также можно пригласить на коктейль в легендарный Long Bar отеля Raffles — место создания коктейля «Сингапурский слинг».')

                            +article_slider(
                                '<img class="c-article-slider__img" src="%=static=%img/content/raffles_city_convention_centre_01.jpg" title="">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/raffles_city_convention_centre_02.jpg" title="">')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Конференц-центр Resorts World™ на o.Сентоза (Resorts World™ Sentosa Convention Centre)
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Сингапур — это не только суперсовременный мегаполис, но и отличное место для отдыха с белоснежными пляжами, джунглями и огромным парком аттракционов. Остров Сентоза, впрочем, предлагает не только развлечения - тут можно провести деловое событие любого формата в творческой и дружественной атмосфере.')

                            +article_paragraph('Конференц-центр Resorts World™ Sentosa способен вместить одновременно до 6000 человек. Еще одно важное преимущество в том, что это один из самых просторных в Азии зал приемов, который, при необходимости, можно разделить на три отдельные зоны.')

                            +article_paragraph("Здесь работают рестораны мирового уровня, в частности, L'Atelier de Joël Robuchon — одно из заведений великого французского шефа, собравшие в общей сложности 29 звезд путеводителя «Мишлен».")

                            +article_paragraph('Вблизи от конференц-центра расположено шесть гостиниц — от дизайнерских бутик-отелей до экологических лофтов с роскошными видами на окружающие джунгли и город. Также на острове находится спа площадью 10 000 м2 под международным брендом ESPA.')

                            +article_image('sentosa.jpg')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Конгрессно-выставочный центр «Sands Expo» (Sands Expo® and Convention Centre)
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Новый конгрессно-выставочный центр «Сэндс экспо» в самом центре делового квартала Central Business District — настоящее чудо современной архитектуры и техники. Его территория легко трансформируется в конференц-залы, выставочные пространства, переговорные комнаты, помещения для семинаров и воркшопов, бальный зал, подиум или концертную площадку. Все 250 помещений оборудованы новейшими аудиовизуальными системами.')

                            +article_paragraph('На площади 120 000 м2 могут разместиться до 2000 выставочных стендов и до 45 000 участников. При этом даже самые масштабные и многолюдные мероприятия проходят с минимальным воздействием на окружающую среду: экспоцентр отмечен экологическим сертификатом ISO 20121.')

                            +article_paragraph("Он расположен в районе Марина-Бэй и является частью инфраструктуры интегрированного курорта Marina Bay Sands, который уже стал одним из самых узнаваемых символов Сингапура. Квартал Марина-Бэй построен на насыпных землях, фактически отвоеванных у моря, и здесь как нигде ощущается наступление будущего: весь квартал выглядит как ожившая декорация к фантастическому фильму. Именно поэтому это прекрасное место для проведения мероприятий, связанных с инновациями и глобальными тенденциями.")

                            +article_slider(
                                '<img class="c-article-slider__img" src="%=static=%img/content/sands_expo_centre.jpg">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/singapore_expo.jpg">'
                            )

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Выставочный конференц-центр «Сингапур ЭКСПО» и «Макс Атриа» (Singapore EXPO Convention & Exhibition Centre and MAX Atria)
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Singapore EXPO — гигантский выставочный центр, с которого в 1999 году началась история Сингапура как одного из лучших в мире мест для проведения международных и региональных мероприятий. Здание находится недалеко от аэропорта Чанги, но поскольку в нем расположена станция метро Expo, доехать из города до выставочных пространств можно на метро или бесплатном шаттле (последняя услуга входит в стоимость организации мероприятия).')

                            +article_image('singapore_expo_convention.jpg')

                            +article_paragraph('Общая площадь выставочных пространств комплекса более 100 000 м2. Уникальное здание построено без колонн, а крыша поддерживается арочными стальными конструкциями, поэтому все 10 павильонов могут быть свободно распланированы для любого мероприятия по проекту клиента. Высокие потолки позволяют размещать в павильонах технику, баннеры и устанавливать стенды практически любого размера.')

                            +article_paragraph('В 2012 году открылось новое крыло комплекса – ультрасовременное здание MAX Atria, которое сразу же получило награду Green Mark платинового уровня как здание, приносящее пользу окружающей среде. Это элегантное сооружение прекрасно приспособлено для проведения событий, которые требуют разноформатных пространств: конференц-залов, комнат для переговоров и залов для банкетов. Общая площадь залов MAX Atria 12 000 м2.')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Выставочный конференц-центр «Сантек Сингапур» (Suntec Singapore Convention & Exhibition Centre)
                    .c-article-section__content-grid
                        .c-article-section__content
                            +article_paragraph('Выставочный центр «Сантек Сингапур» часто выбирают те компании, для которых важно, чтобы форум был организован на высочайшем уровне, а его участники успели воспользоваться всеми преимуществами и возможностями, которые предлагает город.')

                            +article_paragraph('Он расположен на бульваре Раффлз, одной из самых оживленных улиц Сингапура. Оперный театр «Эспланада» в удивительном футуристическом здании также находится в пешей доступности от Suntec Singapore.')

                            +article_image('suntec-exterior.jpg')

                            +article_paragraph('В 2013 году конференц-центр открылся после масштабной реконструкции, в ходе которой была проведена перепланировка залов и полностью обновлено техническое оснащение здания, в том числе инсталлирована программируемая система LED-освещения. Теперь оборудование позволяет проводить здесь события любой сложности и формата: от модного показа до IT-конгресса. Среди событий, проводившихся здесь, не только конференции туристической индустрии, но также азиатское совещание Всемирного саммита по здравоохранению, фестиваль анимэ AnimeFest, а также Garena Carnival — популярный в Азии съезд геймеров и любителей косплея.')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                +article_item(
                    'Уникальные площадки',
                    'Уникальные места для<br>проведения мероприятий',
                    'more',
                    'unique_area',
                    'unique-site.html')

                +article_item(
                    'Туры',
                    'Деловые, образовательные,<br>гастрономические и другие',
                    'more',
                    'tour',
                    'tours.html')

                +article_item(
                    'Календарь',
                    'Деловые события<br>в Сингапуре',
                    'calendar',
                    'business_calendar',
                    'calendar-work.html')

            +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.js')
        script(src='%=static=%js/main%=hash=%%=min=%.js')
