doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/article_teaser/article_teaser
    include ../components/article_paragraph/article_paragraph
    include ../components/article_slider/article_slider
    include ../components/article_list/article_list
    include ../components/article_image/article_image
    include ../components/article_video/article_video
    include ../components/article_incut/article_incut
    include ../components/article_item/article_item
    include ../components/footer/footer

    head
        +head(head.defaults)
    body
        |%=symbols=%

        section.l-grid
            +header('interesting_place', 'play')

            article.l-article
                +article_teaser('Интересные места',
                                'Смотришь<br>и восхищаешься',
                                'interesting_place',
                                'Интересные места')

                +article_paragraph('Сингапур – не только одна из главных деловых столиц мира, но и город, способный очаровать даже занятого бизнес-путешественника. Если есть время, безусловно, имеет смысл посетить самые знаковые места: исторические этнические районы – китайский, индийский, арабский и перанаканский, огромный сингапурский зоопарк, первый в мире ночной сафари-парк, знаменитый парк «Сады у залива», Национальную галерею Сингапура и курортный остров Сентоза.')

                .c-article-section
                    h5.c-article-section__title Сады у залива
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Парк «Сады у залива» (<a href="http://www.yoursingapore.com/see-do-singapore/nature-wildlife/parks-gardens/gardens-by-the-bay.html" target="_blank">Gardens by the Bay</a> – 18 Marina Gardens Drive, Singapore 018953) – отличное место для отдыха с детьми и развлечений. Чудесный сад, простирающийся до набережной Марина-Бэй (Marina Bay), общей площадью более 101 гектара, чем-то похож на леса и сады из знаменитых анимэ Хаяо Миядзаки. Пожалуй, это самый удивительный в мире футуристический природный и архитектурный парк, сочетающий в себе грандиозные современные конструкции и живую тропическую растительность. В основе садов – 18 гигантских искусственных деревьев высотой 25–50 метров. С наступлением темноты эти конструкции превращаются в таинственный светящийся лес. На стволах «деревьев» растут редкие для Сингапура растения – уникальные виды лиан, орхидей и папоротников. Вертикальные конструкции соединяет мост для прогулки и просмотра Сада с высоты.')

                            +article_slider(
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-01.jpg" title="«Сады у залива»">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-02.jpg" title="«Сады у залива»">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-04.jpg" title="«Сады у залива»">')

                            +article_paragraph('В одной из частей паркового комплекса, так называемых «Садах наследия» (Heritage Gardens), представлена коллекция национальных растений народов, исторически заселивших Сингапур: колониальный сад, малайский сад, китайский сад, индийский сад. В каждом из которых представлены национальные традиции (например, дом - кампонг, традиционный для малайцев), а также характерные растения и скульптуры.')

                            +article_paragraph('Особые «Детские сады» (Children’s Gardens) дадут возможность прекрасно провести время и отдохнуть с детьми. Интерактивные игры, водные развлечения и обучающие программы сделают посещение «Садов у залива» (Gardens by the Bay) незабываемыми не только для маленьких, но и взрослых путешественников.')

                            +article_paragraph('Естественно, в парке «Сады у залива» (Gardens by the Bay) можно найти массу кафе и ресторанов с различными блюдами местной кухни.')

                            +article_incut(
                                'interest-vrez-2.jpg',
                                'http://www.gardensbythebay.com.sg/',
                                'true',
                                'Часы работы «Садов у залива» (Gardens by the Bay):',
                                'сад работает ежедневно с 05:00 утра до 02:00 ночи;',
                                'в оранжереи доступ открыт с 09:00 до 21:00;',
                                'световое шоу «Рапсодия в саду» (Garden Rhapsody) проводится ежедневно в 19:45 и 20:45;',
                                '«Сады наследия» (Heritage Gardens) открыты во все часы работы садов.',
                                '«Детские сады» (Children’s Gardens) в выходные и праздничные дни работают с 09:00 до 21:00, со вторника по пятницу – с 10:00 до 19:00, а по понедельникам закрыты.')


                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Этнические районы
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Сингапур – многонациональный город, традиционно населенный представителями различных наций, культур и религий. На улицах Сингапура индуистские, китайские храмы и мусульманские мечети соседствуют с христианскими церквями и буддистскими пагодами.')

                            +article_paragraph('Город зарождался с кварталов представителей четырех наций – китайцев, индийцев (как индусов, так и мусульман), малайцев и перанаканов. Последние являются потомками китайских иммигрантов, прибывших на остров и ассимилировавших здесь.')

                            +article_paragraph('Район Катонг (Katong) – уголок перанаканской культуры в восточной части города. Из кокосовых плантаций он превратился в самобытный квартал всего в 10 минутах ходьбы от центра города. Архитектурная особенность Катонга – красочные двухэтажные торговые дома и террасы с декоративными фасадами.')

                            +article_slider(
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-06.jpg" title="Район Катонг">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-07.jpg" title="Антикварный магазин в Катонге">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-08.jpg" title="Антикварный магазин в Катонге">')

                            +article_paragraph('Здесь же располагается Джу-Чиат (Joo Chiat) – улица, названная в честь богатого китайского помещика ХХ века. Путешественников ждет большой выбор кулинарных изысков: ароматный суп лакса, рисовые вареники и другие традиционные блюда. Обычно посетители района Катонг приобретают традиционные женские костюмы саронг кебая или искусно вышитые бисером тапочки.')

                            //- +article_incut(
                            //-     'interest-vrez-7.jpg',
                            //-     'http://www.yoursingapore.com/see-do-singapore/places-to-see/joochiat-katong.html',
                            //-     'true',
                            //-     'Перанаканский квартал (Katong) - 113 East Coast Road, Singapore 428803')

                            +article_paragraph('Китайский квартал (Chinatown) – типичный, но, пожалуй, один из наиболее ярких в мире. Контрастное смешение старого и нового свойственно этой части города. Здесь с современными большими магазинами электроники, тканей, одежды, мебели соседствуют традиционные китайские аптеки, маленькие лавочки с безделушками и рынки, где можно купить свежие фрукты и овощи.')

                            +article_slider(
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-11.jpg" title="Магазин в районе Чайнатаун">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-12.jpg" title="Чайнатаун – Китайский Новый год">')

                            //- +article_incut(
                            //-     'interest-vrez-5.jpg',
                            //-     'http://www.chinatown.sg/',
                            //-     'true',
                            //-     'Китайский квартал (Chinatown) - 2 Banda Street, Singapore 059962')

                            +article_paragraph('Индийский квартал (Little India) когда-то это был центр торговли скотом, здесь же располагался ипподром и маленькие фабрики по обжигу кирпича. Но это осталось в прошлом, сегодня индийский квартал Сингапура – оживленный торговый район города. Многие современные художники Азии называют этот район своим домом, и потому здесь ощущается особая, богемная атмосфера.')

                            +article_slider(
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-14.jpg" title="Продавец цветочных гирлянд">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-15.jpg" title="Магазин сари">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-16.jpg" title="Праздник Дипавали">')

                            +article_paragraph('В местных кафе предлагают многочисленные блюда южноиндийской кухни, поскольку основная часть населения в этом районе – выходцы из современного индийского штата Тамилнад. Здесь стоит попробовать традиционные индийские лепешки «роти прата», вегетарианские блюда из разных видов чечевицы, а также знаменитых цыплят тандури. Отправиться за покупками можно во всем известный торговый центр Мустафа. Туристы и сами сингапурцы особенно советуют посетить этот район города во время индуистских праздников – Дивали или Дипавали (обычно конец октября – начало ноября, фестиваль огней, символизирующий победу добра над злом) и Понгал (с 13-го по 15-е января, тамильский праздник – Праздник урожая).')

                            //- +article_incut(
                            //-     'interest-vrez-8.jpg',
                            //-     'http://www.littleindia.com.sg/',
                            //-     'true',
                            //-     'Индийский квартал (Little India) - 60 Bukit Timah Road, Singapore 229900')

                            +article_paragraph('Арабский квартал Сингапура или Кампонг-Глам (Kampong Glam) – центр малайской культуры. Слово Glam в названии района говорит о гламурности этой части города.')

                            +article_paragraph('В этом районе изначально селилась малайская знать и представители других мусульманских народов, в том числе арабские торговцы и буги, выходцы с острова Сулавеси. Теперь район представляет собой комбинацию старой культуры, современной гламурной роскоши и азиатского шика. Начать путешествие по кварталу лучше всего с Мечети султана Хуссейна и далее пойти по многочисленным переулкам. Познакомиться с малайской культурой и историей района можно в Малайском Музее Наследия.')

                            +article_slider(
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-18.jpg" title="Район Кампонг Глам. Арабская улица">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-19.jpg" title="Магазин ковров в районе Кампонг Глам">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-20.jpg" title="Парфюмерный магазин в Кампонг Глам">')

                            +article_paragraph('Кампонг-Глам (Kampong Glam) – рай для шопоголиков, полный роскошных бутиков и торговых центров. Имеет смысл зайти на арабскую улицу, где расположено множество магазинов с изделиями из тканей, кожи, тростника, соломы и ротанга. Здесь можно купить персидские ковры, платья, необычную для европейцев национальную арабскую и малайскую одежду, духи ручной работы и многое другое. Из блюд местной кухни интересно попробовать наси паданг – вареный рис, подаваемый с овощами и мясом, рыбой или курицей, и наси лемак – ароматный рис, настоянный на кокосовом молоке с листьями падана, который едят с жареной рыбой или курицей.')

                            +article_paragraph('Следует отметить, что Кампонг-Глам (Kampong Glam) по-настоящему оживает во время Рамадана – месяца поста у мусульман. Однако после захода солнца пост временно прекращается, и жители квартала выходят на улицы, чтобы принять пищу. В это время рынки, магазины и рестораны закрываются поздно ночью.')

                            //- +article_incut(
                            //-     'interest-vrez-6.jpg',
                            //-     'http://www.kampongglam.org.sg/',
                            //-     'true',
                            //-     'Арабский квартал (Kampong Glam) - 3 Muscat Street, Singapore 198833')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Искусство Юго-Восточной Азии
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph("В Национальной галерее Сингапура (<a href='http://www.yoursingapore.com/see-do-singapore/arts/museums-galleries/national-gallery-singapore.html#arts' target='_blank'>National Gallery Singapore</a> – 1 St Andrew's Road, Singapore 178957) представлена внушительная коллекция произведений искусства, охватывающая период с XIX века до наших дней.")

                            +article_paragraph('Располагается музей в центре исторического района «Сивик» (Civic) в двух зданиях, которые считаются национальными памятниками Сингапура. Здания были выбраны неслучайно – они представляют собой типичный образец колониальной архитектуры XIX века. Раньше в этих внушительных строениях располагались мэрия и Верховный суд. Впоследствии эти дома были отреставрированы, а их площадь значительно увеличена, что позволило Национальной галерее Сингапура именоваться одним из самых больших музеев Юго-Восточной Азии.')

                            +article_slider(
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-21.jpg" title="Национальная галерея Сингапура">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/naked-museum.jpg" title="Национальная галерея Сингапура">')

                            +article_paragraph('В музее собраны работы известных сингапурских художников: Джорджетты Чен (Georgette Chen), Чен Чионг Сви (Chen Chong Swee), Чен Вен Си (Chen Wen Hsi), Чонг Су Пинг (Cheong Soo Pieng) и Лиу Канг (Liu Kang). В коллекции также представлены творения лучших художников других стран Юго-Восточной Азии: Raden Saleh (Индонезия), Latiff Mohidin (Малайзия), Montien Boonma (Таиланд), Fernando Cueto Amorsolo (Филиппины) и др.')

                            +article_incut(
                                'interest-vrez-1.jpg',
                                'https://www.nationalgallery.sg/',
                                'true',
                                'Часы работы Национальной галереи Сингапура (National Gallery Singapore):',
                                'с воскресенья по четверг и в праздничные дни с 10:00 до 19:00;',
                                'пятница, суббота, а также накануне праздников с 10:00 до 22:00.')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Город будущего на ладони
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Сингапур – город небоскребов, 78 из них достигают высоты от 150 до 280 метров. Город напоминает кадры из научно-фантастического фильма, такого как «Бегущий по лезвию бритвы» Ридли Скотта или немой футуристический «Метрополис» Фрица Ланга, – не хватает только летающих над городом капсул и звездолетов.')

                            +article_slider(
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-22.jpg" title="Вечерний вид на Marina Bay">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-23.jpg" title="Вечерний вид на Музей искусства и науки ArtScience Museum">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-24.jpg" title="Футуристические небоскрёбы">')

                            +article_paragraph('Лучший способ увидеть город будущего – пойти на набережную Марина-Бэй (Marina Bay), с которой открывается прекрасный вид на самые знаковые здания города: грандиозный комплекс Марина-Бэй Сендс (Marina Bay Sands), музей искусства и науки (ArtScience Museum), построенный в форме гигантского лотоса, театр Эспланада (The Esplanade) и сингапурские небоскребы. Если прийти на набережную вечером, то с воскресенья по четверг в 20:00 и 21:30, можно наблюдать прекрасное лазерное шоу, самое большое в Юго-Восточной Азии. В пятницу и субботу есть еще и дополнительное шоу в 23.00.')

                            +article_incut(
                                'interest-vrez-9.jpg',
                                'http://www.yoursingapore.com/',
                                'true',
                                'Комплекс Марина-Бэй Сендс (Marina Bay Sands) - 10 Bayfront Avenue, Singapore 018956',
                                'Музей искусства и науки (ArtScience Museum) - 6 Bayfront Ave, Singapore 018974',
                                'Театр Эспланада (The Esplanade) - 1 Esplanade Drive, Singapore 038981')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title С высоты птичьего полета
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Для тех, кто хочет взглянуть на город с высоты, в Сингапуре есть два аттракциона – колесо обозрения (Singapore Flyer) и канатная дорога (Singapore Cable Car).')

                            +article_paragraph('Сингапурское колесо обозрения до недавнего времени было самым большим в мире. Из капсулы колеса можно с огромной высоты увидеть основные символы и достопримечательности города, в частности Паданг, реку Сингапур со статуей символа города Мерлайоном (Merlion) и историческое здание «Усадьба императрицы» (Empress Place).')

                            +article_slider(
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-25.jpg" title="Канатная дорога">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-27.jpg" title="В кабине колеса обозрения Singapore Flyer">')

                            +article_paragraph('Высотная канатная дорога Singapore Cable Car соединяет остров Сингапур с соседним островом Сентоза (Sentosa Island), куда туристы и жители города отправляются развлекаться, плавать и загорать на солнце. Виды из кабины поражают воображение.')

                            +article_paragraph('Для любителей романтики существует особая услуга – романтическое свидание в специальной VIP-кабине, где влюбленным предлагают шампанское и ужин из четырех блюд.')

                            +article_incut(
                                'interest-vrez-3.jpg',
                                'https://www.nationalgallery.sg/',
                                'true',
                                'Колесо обозрения Singapore Flyer – Ул. Raffles Ave, 30',
                                'Время работы: понедельник – воскресенье с 08:30 до 22:30,',
                                'последняя кабина отправляется в 22:15.',
                                'Канатная дорога Singapore Cable Car – Ул. Mount Faber Road, 109, гора Faber',
                                'Время работы: понедельник – воскресенье с 08:45 до 22:00,',
                                'последняя кабина отправляется в 21:30.')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Остров развлечений
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('На острове Сентоза (Sentosa Island) есть все – от детских аквапарков до гигантского аквариума с волшебным подводным миром S.E.A Aquarium курорта Resorts World™ Sentosa. Здесь даже можно научиться играть в гольф на курсах, разработанных гольф-клубом «Сентоза» (Sentosa Golf Club).')

                            +article_paragraph('Тематический парк развлечений Universal Studios Singapore, Музей восковых фигур мадам Тюссо, Trick Eye Museum Singapore, позволяющий на мгновение вернуться в детство, дельфинарий, парк бабочек, исторический форт Силосо (Fort Siloso), морской музей – вот лишь малая часть аттракционов, которые представлены на острове. Особенно стоит отметить вращающуюся высотную башню Tiger Sky Tower, которая дает возможность подняться на большую высоту и увидеть весь остров, сингапурский порт и часть города.')

                            +article_slider(
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-28.jpg" title="Аттракцион MegaZip на острове Сентоза">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-30.jpg" title="Сентоза - Universal Studios">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-32.jpg" title="Отдых на острове Сентоза">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-33.jpg" title="Сентоза - Tanjong Beach Club">')

                            +article_paragraph('Также посетители острова могут прокатиться на аттракционе The Skyline Sentosa Luge. Из открытых кресел канатной дороги можно увидеть джунгли, море, небоскребы центра города и гигантский порт Сингапура. Лучше всего осуществить поездку на закате, когда на смену заходящему солнцу город-государство зажигает свои яркие огни. Любители экстрима после подъема на гору могут спуститься другим путем – по земле на скоростных санках. Этот аттракцион пользуется большим успехом у жителей и гостей города.')

                            +article_paragraph('Еще один аттракцион, MegaZip, представляет собой спуск с высоты 75 метров по канатам длиной 450 метров над тропическими джунглями со скоростью 60 км/ч.')

                            +article_paragraph('На острове также обустроены превосходные пляжи общей протяженностью 3,2 км, где можно загорать и купаться в теплом и спокойном море: Палаван (Palawan Beach) – пляж для тихого семейного отдыха, Силосо (Siloso Beach) – для любителей активного отдыха, Танжонг (Tanjong Beach), с его коктейлями, вечеринками, обилием танцевальной и легкой музыки, – для компаний друзей.')

                            +article_paragraph('На побережье острова расположено множество шикарных ресторанов и отелей.')

                            +article_paragraph('Добраться до острова Сентоза (Sentosa Island) из города можно как по канатной и монорельсовой дорогам, так и пешком по специально обустроенной пешеходной дороге Sentosa BoardWalk.')

                            +article_incut(
                                'interest-vrez-11.jpg',
                                'http://www.sentosa.com.sg/',
                                'true',
                                'Остров Сентоза (Sentosa Island) - 39 Artillery Avenue, Singapore 099958',
                                'Аквариум S.E.A. Aquarium - 8 Sentosa Gateway, Sentosa Island, Singapore 098269',
                                'Universal Studios Singapore - 8 Sentosa Gateway, Sentosa Island, Singapore 098269',
                                'Гольф-клуб «Сентоза» (Sentosa Golf Club) - 27 Bukit Manis Road, Singapore 099892')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Необычный зоопарк
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Сингапурский зоопарк (<a href="http://www.yoursingapore.com/see-do-singapore/nature-wildlife/fun-with-animals/singapore-zoo.html" target="_blank">Singapore Zoo</a> – 80 Mandai Lake Road, Singapore 729826) – прекрасный парк, получивший множество международных наград за особый формат: в нем животные могут свободно перемещаться в естественной среде обитания. Здесь можно увидеть исчезающего белого тигра, гигантских летучих лисиц и самую большую в мире коллекцию длинноносых обезьян – носачей, живущих в джунглях Индонезии.')

                            +article_paragraph('Зоопарк разделен на 11 зон и воссоздает удивительное многообразие различных климатических зон и природных условий. Здесь можно гулять по пешеходным дорожкам или перемещаться в специальном трамвае с гидом. Например, в «Хрупком лесу» (Fragile Forest) посетителей ждет тропический лес с разнообразными игуанами, лемурами, бабочками Южной и Юго-Восточной Азии и самыми маленькими оленями в мире. Также в этой зоне можно подняться на смотровую площадку и посмотреть на летучих лисиц, которые часто планируют над головами посетителей.')

                            +article_slider(
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-34.jpg" title="Семья завтракает в Сингапурском зоопарке">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-35.jpg" title="Слоны в Сингапурском зоопарке">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-36.jpg" title="Сингапурский зоопарк – наблюдение за жирафами">')

                            +article_paragraph('В зоне «Замороженная тундра» (Frozen Tundra) можно увидеть полярного медведя и других арктических жителей. Также в зоопарке есть «Королевство приматов» (Primate Kingdom), а также «Сад рептилий» (Reptile Garden) с гигантскими черепахами и самыми большими в мире ящерами – комодскими варанами.')

                            +article_paragraph('Зоопарк идеально подходит для прогулки с детьми. Здесь они надолго запомнят «Кидсрейнджер тур» (Kidzranger Tour), где каждый ребенок может попробовать себя в роли хранителя зоопарка и поучаствовать в водном шоу «Всплеск» (Splash Safari Show) с участием морского льва.')

                            +article_incut(
                                'interest-vrez-4.jpg',
                                'http://www.zoo.com.sg/',
                                'true',
                                'Часы работы Сингапурского зоопарка:<br>ежедневно с 08:30 до 18:00.',
                                '<a href="www.yoursingapore.com/see-do-singapore/nature-wildlife/fun-with-animals/singapore-zoo.html" target="_blank">Singapore Zoo</a> – 80 Mandai Lake Road, Singapore 729826')

                            +article_paragraph('Рядом с зоопарком находится «Ночное сафари» (Night Safari) – самый первый в мире сафари-парк ночных животных, открывшийся в 1994 году. Свыше 2500 животных более чем 130 видов, в том числе очень редкие, например азиатский слон, малайский тапир и малайский тигр, живут в максимально приближенной к естественным условиям среде, без клеток и вольеров. Открыт сафари-парк с 19:30 до полуночи.')

                            +article_paragraph('Между зоопарком и ночным сафари-парком находится речное сафари. «Речное сафари» (River Safari) – это первый и пока единственный в мире водный парк дикой природы, где можно познакомиться с экосистемами величайших в мире рек.')

                            +article_slider(
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-40.jpg" title="Речное сафари">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-37.jpg" title="Речное сафари">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-38.jpg" title="Речное сафари. Панда">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-39.jpg" title="Речное сафари. Малая панда, она же «огненная лиса»">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/interesting-places-41.jpg" title="Ночное сафари">')

                            +article_paragraph('К примеру, в зоне «Квест по реке Амазонка» (Amazon River Quest) посетители передвигаются на лодках, с которых можно наблюдать воссозданную жизнь влажных тропических лесов Южной Америки и увидеть крупнейших хищников тех мест – затаившегося в листве деревьев ягуара и изящного, тонконогого гривистого волка.')

                            +article_incut(
                                'interest-vrez-10.jpg',
                                'http://www.riversafari.com.sg/',
                                'true',
                                '«Речное сафари» (River Safari) - 80 Mandai Lake Road, Singapore 729826',
                                'Время работы River Safari: ежедневно с 10:00 до 19:00')

                            +article_paragraph('В «Речное сафари» (River Safari) можно встретить более 6000 животных, среди них – 40 видов, находящихся под угрозой вымирания. Но главные «звезды» парка – гигантские панды Каи-Каи и Джиа-Джиа, живущие в вольере - точной копии лесов высокогорных районов Китая. А вот малую панду здесь ласково называют «огненная лиса» по большей части из-за окраса. В парке также находится крупнейший в мире пресноводный аквариум, где можно увидеть гигантскую водную крысу, огромную амазонскую рыбу апараима и пресноводного дюгоня манати.')

                            +article_paragraph('Время работы River Safari: ежедневно с 10:00 до 19:00.')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                +article_video(
                    'interesting-places',
                    'video-interesting-places.jpg')

                +article_item('Маршруты',
                    'Город для интересных<br>прогулок',
                    'more',
                    'route',
                    'routes.html')

                +article_item('Покупки',
                    'Шопинг<br>без границ',
                    'more',
                    'shop',
                    'purchases.html')

                +article_item('Календарь',
                    'Фестивали и островные вечеринки «на полную катушку»',
                    'calendar',
                    'play_calendar',
                    'calendar-play.html')

            +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.js')
        script(src='%=static=%js/main%=hash=%%=min=%.js')
