doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/article_teaser/article_teaser
    include ../components/article_paragraph/article_paragraph
    include ../components/article_slider/article_slider
    include ../components/article_list/article_list
    include ../components/article_image/article_image
    include ../components/article_video/article_video
    include ../components/article_incut/article_incut
    include ../components/article_item/article_item
    include ../components/footer/footer

    head
        +head(head.defaults)
    body
        |%=symbols=%

        section.l-grid
            +header('kitchen')

            article.l-article
                +article_teaser('Кухня',
                                'Смешение культур<br>и вкусов',
                                'kitchen',
                                '10 блюд, которые надо попробовать в Сингапуре')

                +article_paragraph('Сингапур – это многонациональный город, так что нет ничего удивительного в том, что здесь сформировалась богатая кулинарная традиция с практически бесконечным списком блюд. Многие из них уникальны, хоть и имеют прототипы в индийской, китайской или малайской кухне.')

                +article_paragraph('Традиция уличной еды очень развита в стране. У каждого местного жителя есть своя любимая закусочная. Такие точки продаж часто принадлежат семьям на протяжении поколений, и готовят здесь по рецептам, проверенным временем. Поэтому считается, что традиционные блюда лучше впервые пробовать именно с лотков eу уличных торговцев. А знаменитый коктейль «Сингапурский слинг» следует заказывать там, где его придумали, – в баре Long Bar легендарного отеля Raffles.')

                .c-article-section
                    h5.c-article-section__title Курица с рисом по-хайнаньски
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('В Сингапуре такое привычное блюдо, как курица с рисом, является культовым и считается национальным достоянием. Здесь его называют «курица с рисом по-хайнаньски», поскольку рецепт в Сингапур привезли именно выходцы с острова Хайнань. Причем сингапурский вариант курицы с рисом, как и хайнаньский, не предполагает каких-либо сложных композиций из специй или глазури и подается с соусом чили, а также с соевым и имбирно-чесночным. Однако в сингапурском варианте курица может также быть обжаренной в соевом соусе. Задача повара заключается в том, чтобы сделать курицу максимально нежной и сочной, а рис — рассыпчатым и ароматным. Главное здесь — высококачественная курица. Птицу отваривают в бульоне или готовят на пару, предварительно натерев ее солью и нафаршировав имбирем и зеленым луком, а после готовки опускают в холодную воду, чтобы проверить, что мясо осталось нежным. Рис же варят в курином бульоне с имбирем и листьями пандана.')

                            +article_image(
                                'kitchen-01.jpg')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Краб в соусе чили
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Самое популярное блюдо сингапурской кухни – краб в соусе чили. Блюдо было придумано в Сингапуре в 1956 году. Г-жа Чер Ям Тиан по просьбе мужа приготовила из краба нечто необычное. Прежде было принято готовить его на пару. Однако хозяйка решила потушить мангрового краба в густом соусе из помидоров. Для пикантности она предложила к блюду острый и сладкий чили-соус. Это блюдо стали предлагать в ресторанчиках на берегу реки Калланг. Блюдо настолько удалось, что постепенно стало одним из самых популярных в городе-государстве. Обычно краб готовится прямо в панцире и подается на сковороде. Это не самое острое блюдо сингапурской кухни, но человеку, не привыкшему к специям, стоит не забывать о традиционно подаваемых к блюду булочках, которые можно макать как в томатный, так и в чили-соус. Рестораны, специализирующиеся на этом блюде, оформляются эффектно: огромные аквариумы с живыми крабами, из которых и готовятся блюда для посетителей. В такие заведения обычно приходят большими компаниями друзей или деловых партнеров, размещаясь вокруг круглого стола.')

                            +article_image(
                                'kitchen-02.jpg')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Рыбья голова под соусом карри
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Это блюдо, несмотря на непривычный для нас вид, очень вкусное и считается деликатесом. История его возникновения так же эклектична, как история формирования Сингапура: впервые его приготовили в 1960-х в маленьком индийском ресторане на Танк-стрит, желая привлечь к себе побольше китайских посетителей, которые считали рыбьи головы деликатесом. Для приготовления хозяин ресторана использовал специи, обычно добавляемые в рыбное карри, которое готовят в индийском штате Керала, — и не прогадал, китайцы были в восторге. Так что теперь это блюдо можно считать отличным символом сингапурской гастрономической эклектики.')

                            +article_paragraph('На порцию берется обычно одна крупная голова красного луциана и варится с добавлением специй и овощей: тамаринда, бамии, арахисового масла, баклажанов, ананасов, листьев карри, имбиря и кокосового молока. Рыбу аккуратно разделывают ложкой в большом блюде или сковороде, кусочки вместе с соусом перекладывают на свою тарелку, смешивают с рисом и только потом едят.')

                            +article_paragraph('Сегодня это блюдо можно найти в меню индийских, китайских, малайских и перанаканских ресторанов, где его подают с пылу с жару в большом булькающем глиняном горшке. Ценители блюда уверяют, что самое вкусное - это рыбьи щеки и глаза.')

                            +article_image(
                                'kitchen-03.jpg')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Жареный морковный пирог
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Чай-тоу-квай на самом деле не пирог, более того – в нем вообще нет моркови. Кто и когда придумал переводить название этого блюда на английский как fried carrot cake, неизвестно. В действительности это нарезанная кусочками и пожаренная с яйцом редька, дайкон или маринованный турнепс – популярная закуска и ингредиент для различных яств китайской кухни. Блюдо напоминает измельченный омлет с овощами. Чтобы пирог был более сытным, в него добавляют рисовую муку, а подают, посыпав резаным луком.')

                            +article_paragraph('Чай-тоу-квай утром готовят уличные торговцы. Из-за быстроты приготовления это один из самых любимых сингапурцами завтраков.')

                            +article_paragraph('Чай-тоу-квай бывает черным и белым. Первый сильнее прожаривается, и в него добавляется густой сладкий соус. Чтобы лучше понять культуру Сингапура, стоит попробовать оба вида и определиться, какой вам нравится больше.')

                            +article_slider(
                                '<img class="c-article-slider__img" src="%=static=%img/content/kitchen-pi-1.jpg">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/kitchen-pi-2.jpg">')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Жареная лапша с креветками хоккиен
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Сингапурская паэлья, сытная яичная лапша с креветками, кальмарами и свининой, — еще одно популярное блюдо, которое лучше всего пробовать в уличных ресторанчиках, где его готовят на огромных жаровнях. Секретный ингредиент блюда — кусочки свиного сала, на которых обжариваются остальные ингредиенты.')

                            +article_paragraph('В Сингапуре это блюдо именуется «хоккиен ми». Некоторые говорят, что раньше оно называлось «рохор ми», потому что сначала продавалось на проспекте Рохор. В середине 20-го века моряки из района Хоккиен покупали на этом проспекте лапшу, которую тогда жарили на настоящих угольных печах. Другие любители истории утверждают, что впервые эту лапшу стали готовить в отеле рядом с проспектом Рохор, чем и обусловлено ее название. Существует также мнение, что лапша – перанаканская версия более старого блюда, готовившегося с густым соусом и особой смесью специй под названием «самбал». Как бы то ни было, согласно мнению горожан и гостей Сингапура, блюдо это заслуживает всяческих похвал.')

                            +article_image('kitchen-06.jpg')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Кая тосты
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('В Сингапуре можно найти сотню различных сэндвичей. Но особого внимания заслуживают тосты, ставшие своеобразным символом сингапурской кухни. Кая тост — это любимое местными жителями блюдо, которое представляет собой два тоста из обжаренного с обеих сторон хлеба, между которыми укладываются слой сладкого джема кая (из мякоти кокосовых орехов, яиц, сахара и падана). Кая-тост и копи (так здесь на малайский манер называют кофе) — стандартный завтрак сингапурских клерков и бизнесменов.')

                            +article_image('kitchen-07.jpg')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Суп Лакса
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('У каждой азиатской нации есть свой национальный суп, представляющий ее на мировом уровне. Во Вьетнаме это фо, в Таиланде — том ям, а в Сингапуре – лакса. Лакса — это острый суп с лапшой, кокосовым молоком и морепродуктами, например креветками и моллюсками, реже — с курицей. В Сингапуре есть два основных вида лаксы – Саравак лакса и Катонг лакса. Первый вид лаксы напоминает традиционное карри. Второй тип, Катонг лакса, наиболее популярна. Основа блюда – тонкая, мелко порубленная лапша (для еды не нужны палочки) и кокосовое молоко. Также в лаксу добавляют сушеные креветки. А в уже готовую порцию кладут мидии, креветки и рыбные котлетки.')

                            +article_paragraph('Какую бы лаксу вы ни заказали, нужно понимать, что порция будет большой, она заменит вам целый обед, так что второе блюдо заказывать не придется.')

                            +article_image('kitchen-08.jpg')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Наси лемак
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Традиционное малайское блюдо обожают и в Сингапуре: это, в сущности, набор самых разных ингредиентов, разложенных вокруг ароматного риса, сваренного в кокосовом молоке.')

                            +article_paragraph('Обязательные компоненты наси лемака: анчоусы, арахис, свежий огурец, вареное яйцо и острый соус самбал с чили. Помимо классического малайского рецепта есть также иные способы приготовления, окрашенные национальными кухнями других жителей Сингапура. Так что можно добавлять, убирать или заменять некоторые ингредиенты. К примеру, повар может положить омлет вместо вареного яйца. Часто рис окрашен в зеленый оттенок, возникающий от листьев пандана, с которыми готовится рис. Китайский же вариант блюда может включать в себя любые более сытные ингредиенты, обжаренные на воке – ножки птицы, куриные сосиски, рыбные котлетки, овощи в соусе карри. В любом случае, непривычное для европейца сочетание вкусов запоминается надолго. «Наси лемак» подадут и в уличных киосках, и в пятизвездочных отелях вместо дежурных яиц Бенедикт, да еще одобрительно кивнут за почитание местных традиций.')

                            +article_image('kitchen-09.jpg')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Роджак
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Роджак — по-малайски «мешанина» — состоит из жареного тофу, огурца, ананасов, зеленых яблок, манго, тамариндовой пасты и хикама (овощ вроде репы). Смешивать все сразу необязательно, у каждой хозяйки свой набор, продиктованный не только вкусами семьи, но и тем, что имеется в наличии. Все это сдабривается острым соусом и щедро посыпается толченым арахисом. У каждого сингапурского лоточника найдется свой секрет, чем еще заправить роджак, чтобы клиенту запомнился именно его продукт: в ход идет паста черных бобов, креветочная паста, цветы имбиря и прочая экзотика.')

                            +article_paragraph('Аналогичные блюда есть, кстати, и в китайской, и в индийской кухне с незначительными отличиями, поэтому неудивительно, что роджак стал одним из сингапурских фирменных блюд.')

                            +article_paragraph('В Сингапуре чаще всего в роджак входят только вегетарианские ингредиенты, но состав лучше все же уточнить: креветочную пасту здесь мало кто воспринимает как невегетарианский продукт.')

                            +article_image('kitchen-10.jpg')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Роти прата
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('В этом блюде самое интересное — наблюдать за процессом приготовления, который требует изрядной сноровки повара. Тонкое тесто подбрасывают в воздух, отбивают о стол, растягивают и складывают, пока не сформируется воздушная, но в то же время маслянистая лепешка с множеством складок. Едят ее не как хлеб, а как отдельное блюдо, посыпая сахаром или отламывая кусочки и макая их в соус карри. К лоткам с роти прата чаще приходят либо утром, либо вечером, на обед сингапурцы предпочитают есть что-то вроде лаксы или курицы с рисом. Но никаких жестких правил здесь нет.')

                            +article_image('kitchen-11.jpg')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше


                +article_video(
                    'kitchen',
                    'video-kitchen.jpg')

                +article_item('Маршруты',
                    'Город для интересных<br>прогулок',
                    'more',
                    'route',
                    'routes.html')

                +article_item('Покупки',
                    'Шопинг<br>без границ',
                    'more',
                    'shop',
                    'purchases.html')

                +article_item(
                    'Календарь',
                    'Деловые события<br>в Сингапуре',
                    'calendar',
                    'business_calendar',
                    '#')

            +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js')
        script(src='%=static=%js/main%=hash=%%=min=%.js')
