doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/article_teaser/article_teaser
    include ../components/article_paragraph/article_paragraph
    include ../components/article_slider/article_slider
    include ../components/article_list/article_list
    include ../components/article_image/article_image
    include ../components/article_video/article_video
    include ../components/article_incut/article_incut
    include ../components/article_item/article_item
    include ../components/footer/footer

    head
        +head(head.defaults)
    body
        |%=symbols=%

        section.l-grid
            +header('route', 'play')

            article.l-article
                +article_teaser('Маршруты',
                                'Город для интересных<br>прогулок',
                                'route',
                                'Маршруты')

                +article_paragraph('Сингапур — это весь мир в миниатюре, причем в лучшем его варианте. Здесь есть и исторические здания феноменальной сохранности, и безумной красоты сады с орхидеями; есть сады с пагодами и павильонами и неоновые инсталляции совершенно космического вида; есть шедевры современной архитектуры и белоснежные пляжи.')

                +article_paragraph('Прогулки по Сингапуру дарят радость новизны, потому что здесь вас не будет преследовать эффект дежавю. Сингапур не похож ни на один другой город мира, а в иных ракурсах напоминает больше другую планету, чем какое-то знакомое вам место на Земле.')

                .c-article-section
                    h5.c-article-section__title Зеленое море
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Сингапур оставляет впечатление очень зеленого города. Даже несмотря на плотную застройку и широкие магистрали, здесь всегда есть место для парка, оранжереи, даже искусственного водоема. Если взглянуть на карту, видно, что зеленые зоны занимают почти треть площади острова.')

                            +article_paragraph('Так, например, Ботанические сады, которые входят в Список всемирного наследия ЮНЕСКО. Это настоящий шедевр ландшафтного дизайна: по всей территории расставлены беседки, авангардные статуи, альпийские горки, куртины и водопады. Есть здесь даже Лебединое озеро с живыми птицами.')

                            +article_paragraph('Ботанический сад на самом деле разбит на несколько зон. Cамая популярная из них — Национальный парк орхидей, расположенный на высоком холме. Здесь собраны практически все виды орхидей, распределенные по цветам: в весенней зоне преобладают светлые и золотые тона, в зимней — белые и голубые, а в летней — красные и пунцовые. Многие орхидеи названы именами знаменитостей и выставлены в отдельном Celebrity Garden — Саду знаменитостей. Там есть и белоснежные орхидеи, посвященные принцессе Диане, и сочно-фиолетовые, названные в честь корейской телезвезды Пэ Ёнджуна, и остролистные сиреневые «Джеки Чан», и причудливые розовые с золотой сердцевиной имени Андреа Бочелли.')

                            +article_paragraph('Еще два любимых сада сингапурцев — Китайский и Японский — расположены на островах посреди озера Джуронг (Jurong) и соединены между собой мостом. В Китайском саду, например, можно полюбоваться садовой архитектурой в стиле Северного Китая: чайным домиком, семиэтажными пагодами-близнецами, которые отражаются в глади озера, и «каменной лодкой» — павильоном на воде (ландшафтные дизайнеры сада вдохновлялись Императорскими садами Пекина). В Японском саду можно увидеть реконструкции средневековых садов.')

                            +article_paragraph('Еще одна важная достопримечательность садов: большая коллекция деревьев «бонсаи», привезенных сюда из Малайзии, Китая, Тайваня, Флиппин, Индонезии и Таиланда.')

                            +article_slider(
                                '<img class="c-article-slider__img" src="%=static=%img/content/routes-01.jpg" title="Китайский сад. Фестиваль середины осени">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/routes-02.jpg" title="Ботанический сад. Скульптура девочки на велосипеде">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/routes-03.jpg" title="Ботанический сад">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/routes-04.jpg" title="Ботанический сад">')

                            +article_paragraph('Любители длительных пеших прогулок и хайкинга наверняка влюбятся в Южную Гряду (Southern Ridges) — десятикилометровый променад с тропой, проложенной над несколькими парками по южной границе Сингапура. Променад соединяет пять парков от Кент-Ридж до набережной (Harbour Front). Тропа то причудливо изгибается, то взлетает над кронами деревьев, то опускается ниже. Прогулка или даже пробежка по Гряде по ощущениям похожа на полет над зеленым морем. Одна из самых интересных частей Гряды — так называемые Волны Хендерсона, волнообразный променад с деревянным настилом, проложенный на головокружительной высоте, откуда открывается прекрасный вид на небоскребы. Влюбленные приходят сюда любоваться закатом, некоторые здесь занимаются бегом, а вот туристов здесь совсем немного.')

                            +article_paragraph('Если у вас появится желание выбраться поближе к пляжу и покататься на велосипеде или просто погулять, то стоит отправиться в Парк восточного побережья (East Coast Park). Велосипеды здесь дают напрокат. Красивая линия берега тянется более чем на 15 километров.')

                            +article_slider(
                                '<img class="c-article-slider__img" src="%=static=%img/content/routes-05.jpg" title="Парк восточного побережья">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/routes-05-1.jpg" title="Волны Хендерсона">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/routes-05-2.jpg" title="HortPark">')

                            +article_paragraph('Тем же, кто любит чувство уединенности, которое могут подарить только маленькие тропические острова, стоит выбраться на один из южных островов — Сент-Джон, Кусу или Систерс. Добраться туда можно на пароме, который ходит в будни два раза в день, а в выходные и праздники — 4−5 раз в день. С острова Сент-Джон пешком можно перейти на соседний остров Лазарус: экспаты считают, что это лучший дикий пляж в Сингапуре, с мягким белым песком и видом на город. Не забудьте прихватить корзинку для пикника, полотенца и купальники.')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Прогулки с детьми
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Сингапур — одно из лучших в мире мест для отдыха с детьми, причем все детские развлечения будут интересны и взрослым. Самая высокая концентрация развлечений для всей семьи — это, конечно, остров Сентоза.')

                            +article_paragraph('В парке водных аттракционов Adventure Cove Waterpark™ можно до умопомрачения кататься с водяных горок, плавать на надувных кругах по каналам под водопадами и аквариумами, прыгать с натяжных канатов в воду. В парке понравится не только детям, но и взрослым.')

                            +article_slider(
                                '<img class="c-article-slider__img" src="%=static=%img/content/routes-06.jpg" title="Парк водных аттракционов Adventure Cove Waterpark">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/routes-07.jpg" title="Парк водных аттракционов Adventure Cove Waterpark">')

                            +article_paragraph('Достойную конкуренцию аквапарку составляет парк аттракционов Universal Studios Singapore™, тоже расположенный на острове Сентоза. Парк разделен на семь тематических зон: Голливуд, Нью-Йорк, фантастический город, древний Египет, затерянный мир, сказочный мир и Мадагаскар. Здесь можно увидеть динозавров юрского периода и трансформеров, прокатиться на совершенно безумных американских горках, сфотографироваться с героями «Улицы Сезам» и многое другое.')

                            +article_slider(
                                '<img class="c-article-slider__img" src="%=static=%img/content/routes-19.jpg" title="Universal Studios Singapore">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/routes-20.jpg" title="Universal Studios Singapore">')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Хочу все знать
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Для подросших или просто любознательных детей Сингапур — и вовсе рай на земле. Музеи и парки с образовательными функциями, пожалуй, одни из самых выдающихся особенностей страны. Они представляют собой интерактивные пространства, в которых сложные вещи об устройстве нашего мира разъясняются просто и доступно. Например, в Научном центре Сингапура (Science Centre Singapore) можно узнать, как выглядят вживую огненное торнадо и молнии длинной до 3 метров и напряжением в 3,5 млн. вольт, подержать в руках гигантского таракана и понаблюдать за звездами в обсерватории.')

                            +article_image(
                                'routes-17.jpg',
                                'Научный центр Сингапура')

                            +article_paragraph('Парк птиц Джуронг станет настоящей усладой для глаз и ушей. Здесь обитает около 5 000 птиц 400 разных видов, в том числе ручные попугаи безумных расцветок, с которыми можно сфотографироваться. Нельзя пропустить и Озеро фламинго с огромной стаей причудливых розовых птиц. Для детей помладше здесь есть даже небольшой аквапарк Birdz of Play, где птиц можно изучать по разноцветным статуям.')

                            +article_slider(
                                '<img class="c-article-slider__img" src="%=static=%img/content/routes-08.jpg" title="Парк птиц «Джуронг»">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/routes-09.jpg" title="Парк птиц «Джуронг»">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/routes-10.jpg" title="Парк птиц «Джуронг»">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/routes-11.jpg" title="Парк птиц «Джуронг»">')

                            +article_paragraph('Любители современного искусства и архитектуры знают Сингапур как город увлекательных экспериментов в этой сфере. Так, выставки, которые проходят в Музее искусства и науки (ArtSсience Museum), — прекрасный способ познакомиться с новейшими творческими сферами, родившимися на стыке искусства и технологий: видеоартом, научной арт-фотографией, звуковой и световой инсталляцией. Например, выставка Van Cleef & Arpels: The Art and Science of Gems exhibition (до 14 августа 2016 г), которая рассказывает посетителям о связи минерологии и естественных свойств камней с искусством работы по камням и мастерством ювелиров. А выставка Big Bang Data (до 16 октября 2016 г) посвящена гигантским массивам данных, создаваемых человечеством в поледние годы, развитию информационных систем.')

                            +article_paragraph('В концертном зале «Эспланада», знаменитом здании, напоминающим по форме две половинки дуриана, проходят не только спектакли— здесь проводят экскурсии, во время которых участникам демонстрируют уникальную акустику здания: звуки в огромном зале раздаются так же отчетливо, как в небольшой комнате.')

                            +article_slider(
                                '<img class="c-article-slider__img" src="%=static=%img/content/routes-12-1.jpg" title="">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/routes-12.jpg" title="">')

                            +article_paragraph('В Национальном центре дизайна регулярно проходят мероприятия с участием звезд дизайна мирового уровня, а в бутике Kapok, филиале гонконгского дизайнерского магазина можно купить какой-нибудь занятный арт-объект: от остроумной одежды и сумок до подушек для офисного сна.')

                            +article_image(
                                'routes-1-17.jpg',
                                'Национальный центр дизайна')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Ночной полет
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Когда на Сингапур опускается подсвеченная неоном ночь, жизнь здесь разгорается с новой силой. Часть молодых сингапурцев и туристов устремляется в ночные клубы, одним из лучших считается Zouk: сюда регулярно приезжают с сетами диджеи уровня Пола Окенфолда и Дэвида Гетты.')

                            +article_paragraph('В городе множество баров на крышах в разных стилях: Cé La Vi с клубом и рестораном, расположенный в отеле Marina Bay Sands, 1-Altitude на высоте 282 метров, один из самых высотных баров в мире, или LeVel33 с крафтовым пивом — такого сочетания вы, вероятно, не найдете больше нигде в мире. По этим барам можно составить маршрут таким образом, чтобы полюбоваться на ночной Сингапур с разных ракурсов.')

                            +article_slider(
                                '<img class="c-article-slider__img" src="%=static=%img/content/routes-13.jpg" title="Zouk">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/routes-15.jpg" title="Бар 1-Altitude">')

                            +article_paragraph('Ценителям новой миксологии стоит заглянуть в аутентичный 28 Hong Kong Street, попробовать можжевеловый слинг в Tippling Club или мартини в Orgo на крыше «Эспланады», которым управляет знаменитый японский миксолог Томоюки Китазо. В Чайнатауне в последние годы открылось множество заведений в стиле баров времен сухого закона и классических заведений 1920-х, например Bitters & Love и Jigger & Pony.')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                +article_video(
                    'routes',
                    'video-routes.png')

                
                +article_item('Интересные места',
                    'Смотришь<br>и восхищаешься',
                    'more',
                    'interesting_place',
                    'interesting-places.html')

                +article_item('Гостиницы',
                    'Для бизнеса<br> и отдыха',
                    'more',
                    'hotel',
                    'hotels.html')

                +article_item(
                    'Календарь',
                    'Деловые события<br>в Сингапуре',
                    'calendar',
                    'play_calendar',
                    'calendar-play.html')

            +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.js')
        script(src='%=static=%js/main%=hash=%%=min=%.js')
