doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/article_teaser/article_teaser
    include ../components/article_paragraph/article_paragraph
    include ../components/article_slider/article_slider
    include ../components/article_list/article_list
    include ../components/article_image/article_image
    include ../components/article_video/article_video
    include ../components/article_incut/article_incut
    include ../components/article_item/article_item
    include ../components/footer/footer

    head
        +head(head.defaults)
    body
        |%=symbols=%

        section.l-grid
            +header('success_story', 'work')

            article.l-article
                +article_teaser('Истории успеха',
                                'Личный опыт проведения деловых мероприятий',
                                'success_story',
                                'C любовью к Сингапуру')

                .c-article-section
                    h5.c-article-section__title Вся Юго-Восточная Азия
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Рассказывает Дарья Зуева, совладелица Business Travel Solution')

                            +article_incut(
                                'Vrez-1.jpg',
                                '#',
                                'true',
                                'BTS – MICE-компания, ориентированная на реализацию глобальных, сложных, креативных мероприятий в любой точке земного шара. В портфолио компании - проекты в 75 странах мира.',
                                'MICE (Meetings, Incentives, Conferences, Exhibitions) — сфера делового туризма, связанная с организацией и проведением корпоративных мероприятий.')

                            +article_paragraph('Впервые Дарья Зуева близко познакомилась с Сингапуром в 2006 году. В то время она начинала свою карьеру в MICE-индустрии на позиции менеджера в агентстве, и первый проект, который ей доверили координировать, была поездка VIP-группы в количестве 12 человек в Сингапур. С тех пор, на протяжении 10 лет, Дарья часто бывает в Сингапуре, и размер групп с каждым разом увеличивается, а задачи, которые ставят заказчики, усложняются.')

                            +article_paragraph('Тот, самый первый маршрут 2006 года, одобренный клиентом, был весьма интересным и насыщенным. Несколько дней участники провели в самом Сингапуре, а затем отправились на пароме на остров Бинтан (Индонезия), где их ждал красивый пляж, вкусные морепродукты и незабываемые часы удовольствий в знаменитых SPA-центрах острова.')

                            +article_paragraph('С тех пор, признается Дарья, она особенно полюбила Сингапур за его «мобильность». Немногие страны мира могут предложить столь удобное и быстрое совмещение пребывания в них и путешествия в другие государства. Всего час езды на автомобиле – и путешественник оказывается в Малайзии. Полчаса на пароме – и он уже в Индонезии.')

                            +article_paragraph('Команда BTS за годы работы комбинировала Сингапур с такими направлениями, как Индонезия, Малайзия, Дубай, Австралия и даже с Папуа-Новая Гвинея. Каждый раз, поездки проходили с большим успехом, и большинство клиентов возвращались в Сингапур.')

                            +article_paragraph('Именно в этой мобильности и гибкости Сингапура Дарья Зуеева и видит огромный потенциал этой страны, как для индивидуального туризма, так для MICE-индустрии России.')

                            +article_image('success-story-01.jpg')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Фармацевты на природе
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Всем хорошо известно, что в MICE-группах все зависит от индивидуальных целей, задач и планов клиента. Не бывает двух полностью одинаковых клиентских запросов. «Пару лет назад к нам обратилась одна известная фармацевтическая компания с просьбой организовать программу в Сингапуре для своих сотрудников – по большей части специалистов с профильным образованием, – рассказывает Дарья. – В запросе был сделан упор на род деятельности участников, и мы решили применить их навыки в рамках нашей программы».')

                            +article_paragraph('Те, кто знаком с историей Сингапура, знают, что этот город не всегда был таким, каким мы его привыкли видеть на протяжении последних десятков лет. К радости любителей истории и старины в непосредственной близости от главной части города находится остров Пулау Убин, где жизнь будто застыла и совсем не хочет меняться так стремительно, как это происходит в никогда не спящем центре Сингапура. Именно на остров Пулау Убин решено было отправиться с фармацевтами. Вместе с местными жителями участники группы пробирались сквозь мангровые леса, находили особые растения, которые и по сей день активно применяются в фармакологии, узнали очень много об их полезных свойствах, и даже поучаствовали в мастер-классе по приготовлению еды с использованием этих природных полезных ингредиентов.')

                            +article_paragraph('В результате все участники вернулись на родину совершенно обновленными: не только красивыми и загорелыми, но и с идеями о новых совершениях в профессиональной деятельности.')

                            +article_image('success-story-02.jpg')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Деловой саммит на пять с плюсом
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Помимо церемоний для инсентив-групп в Сингапуре очень удобно проводить деловые мероприятия.')

                            +article_paragraph('В городе представлен большой спектр отелей бизнес-класса, способных принять группы от 100 человек и выше, обладающих не только внушительным номерным фондом, но и широкими возможностями для проведения конференций, круглых столов и прочих деловых мероприятий. Огромное количество ресторанов имеют богатый опыт организации ужинов и банкетов для MICE –групп.')

                            +article_paragraph('Самое крупное мероприятие, которое мы провели за всю историю работы компании, это саммит в Сингапуре для известной российской IT-компании в 2015 году.')

                            +article_paragraph('Представители Business Travel Solution должны были организовать выездные ужины, и они с радостью воспользовались возможностями Сингапура в данной области. Официальный прием прошел в ресторане Indochine на вершине супердерева в известном на весь мир парке «Сады у Залива», а на следующий день ужин провели в ресторане China Club, откуда открывается захватывающий вид на город.')

                            +article_paragraph('Для завершающего Гала-ужина был найден очень красивый панорамный итальянский ресторан, который свободно разместил всех трехсот гостей программы. Причем руководство ресторана предоставило возможность произвести зонирование площадки.')

                            +article_paragraph('Проект прошел идеально: все мероприятия саммита получили очень высокую оценку со стороны клиента и от самих участников. А Сингапур еще раз доказал, что способен на многое и его потенциал практически безграничен.')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                +article_video(
                    'success-story',
                    'video-success-story.jpg')
                
                +article_item(
                    'Деловые площадки',
                    'Умные деловые<br>пространства',
                    'more',
                    'business_area',
                    'business-area.html')

                +article_item(
                    'Уникальные площадки',
                    'Уникальные места для<br>проведения мероприятий',
                    'more',
                    'unique_area',
                    'unique-site.html')

                +article_item(
                    'Календарь',
                    'Деловые события<br>в Сингапуре',
                    'calendar',
                    'business_calendar',
                    'calendar-work.html')

            +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.js')
        script(src='%=static=%js/main%=hash=%%=min=%.js')
