doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/article_teaser/article_teaser
    include ../components/article_paragraph/article_paragraph
    include ../components/article_slider/article_slider
    include ../components/article_list/article_list
    include ../components/article_image/article_image
    include ../components/article_video/article_video
    include ../components/article_incut/article_incut
    include ../components/article_item/article_item
    include ../components/footer/footer

    head
        +head(head.defaults)
    body
        |%=symbols=%

        section.l-grid
            +header('unique_site', 'work')

            article.l-article
                +article_teaser('Уникальные площадки',
                                'Уникальные места для проведения мероприятий',
                                'unique_area',
                                'Уникальные площадки Сингапура')

                +article_paragraph('Сингапур предлагает уникальные возможности для проведения мероприятий любого масштаба и формата, будь то выставка, коктейль или презентация. Интерес ко всему новому, свойственный жителям страны, проявляется тут в строительстве музеев, аквариумов, оранжерей и невероятных аттракционов. Большинство этих пространств могут быть оформлены в соответствии с тематикой события и имеют все необходимое для безукоризненного приема гостей. Кроме того, они представляют собой настоящие шедевры современной архитектуры и дизайна.')

                .c-article-section
                    h5.c-article-section__title Музей искусства и науки «ArtScience»
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Название Музея искусства и науки не случайно пишется в одно слово – ArtScience. Это место, посвященное симбиозу искусства и науки, творческому стремлению человека к познанию, место, призванное вдохновлять и обучать')

                            +article_paragraph('Здание музея проектировал знаменитый архитектор Моше Сафди. Сходство с лотосом – метафора гармонии всего сущего, роли науки и искусства в восстановлении этой самой гармонии. Здание состоит из десяти «лепестков». Внутри каждого – просторные галереи в обрамлении красиво изогнутых стен. Музей эффектно подсвечивается, а в его центре расположен резервуар, предназначенный для сбора дождевой воды с 35-метровых «лепестков» строения. Затем эта вода перерабатывается и используется для нужд здания.')

                            +article_paragraph('В музее проводятся выставки, которые позволяют взглянуть на многие вещи с нового ракурса. Например, до 14 августа 2016 года тут можно посмотреть на украшения Van Cleef and Arpels не только как на ювелирные изделия, но и как на произведения ремесленного искусства, которые демонстрируют уникальные особенности минералов. Или увидеть видеоинсталляции, при создании которых художники используют последние достижения нанотехнологий, на новой постоянной выставке Future World: Where art meets science. В рамках этой выставки, в частности, будет запущена удивительная хай-тек инсталляция Graffiti Nature. В начале экспозиции посетителям будет предложено нарисовать животных, которые позже «оживут» и станут частью красочной интерактивной 3D-экосистемы, по которой можно будет бродить как по джунглям.')

                            +article_paragraph('Музей располагает 3 000 кв. м пространства (внутри здания и перед ним) на берегу Марина-Бэй, идеального для организации торжественных событий в различных форматах. Возможно, лучше всего музей подходит для мероприятий в сфере искусства или цифровых технологий, однако все зависит от фантазии организаторов. ArtScience Museum – то самое место, где можно реализовать самые необычные идеи.')

                            +article_image('unique-site-01.jpg')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Парк «Сады у Залива»
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Официальный ужин в окружении освещенных гирляндами живых растений или коктейльная вечеринка на просторной террасе с волшебными видами на Марина-Бэй – это лишь два сценария из десятков, которые можно осуществить в парке «Сады у Залива» – уникальном ботаническом пространстве, состоящем из нескольких тематических садов. Здесь собраны сотни видов растений из азиатских тропиков, а также с высокогорных лугов и лесов из Средиземноморья и Южной Америки (для них построена грандиозная инсталляция «Облачный лес»). Один из павильонов – «Цветочный купол» – внесен в Книгу рекордов Гиннеса как самая большая оранжерея мира, и она доступна для проведения мероприятий численностью до 1100 гостей. Декорацией к торжеству послужат поля тюльпанов, хризантем, орхидей и миниатюрная копия Эйфелевой башни. Ресторан Pollen, один зал которого расположен под куполом, а второй – на террасе, обращенной к берегу залива, предлагает современную европейскую кухню. В нижнем зале могут обедать или ужинать одновременно 80 человек, а верхний открытый зал вмещает еще 40 гостей.')

                            +article_paragraph('Самое масштабное пространство садов – «Луг» – может быть использовано для торжественного обеда на 3600 гостей, и все это с захватывающими видами на залив.')

                            +article_slider(
                                '<img class="c-article-slider__img" src="%=static=%img/content/unique-site-18.jpg" title="">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/unique-site-03.jpg" title="">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/unique-site-05.jpg" title="">')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Круизный центр Марина-Бэй
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Место, овеянное романтикой морских путешествий, считается одним из самых интересных зданий в Сингапуре с точки зрения архитектуры: его очертания напоминают одновременно круизный лайнер и морские волны. Внутри – залы прибытия и отправления, залитые естественным светом, оформленные таким образом, что интерьер и пейзажи за окном сливаются в единую картину.')

                            +article_paragraph('Общая площадь здания – 28 тысяч кв. м, вместимость зала прибытий – 6400 человек, зала отправлений – 2160 человек. Мероприятия тут устраивали такие крупные компании, как Swiss Air и McKinsey. Здесь проводились конференции, вручения наград, презентации автомобилей.')

                            +article_paragraph("По завершении каждого события в Марина-Бэй организуются фейерверки, заметные даже из центра города.")

                            +article_slider(
                                '<img class="c-article-slider__img" src="%=static=%img/content/unique-site-06.jpg" title="">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/unique-site-07.jpg" title="">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/unique-site-08.jpg" title="">')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Ночное Сафари
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Ночное сафари – одно из самых необычных и запоминающихся развлечений города. Проводится оно в зоопарке, на поляны которого после заката выходят различные экзотические и редкие животные, а гостям предлагается наблюдать за их жизнью из специального вагончика, объезжающего пространство.')

                            +article_paragraph('Для гостей, которые хотят отметить особый повод в оживших декорациях «Индианы Джонса», в сафари-парке могут разбить лагерь с тентами – эта зона вмещает до 40 человек. Кроме того, здесь можно посмотреть выступления танцоров или огненное шоу.')

                            +article_slider(
                                '<img class="c-article-slider__img" src="%=static=%img/content/unique-site-09.jpg">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/unique-site-10.jpg">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/unique-site-11.jpg">',
                                '<img class="c-article-slider__img" src="%=static=%img/content/unique-site-12.jpg">')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Яхта «Royal Albatross»
                    .c-article-section__content-grid
                        .c-article-section__content

                            +article_paragraph('Что может быть элегантнее, чем прием на яхте? Только прием на настоящей парусной яхте – например, на борту знаменитого Royal Albatross, приписанного к порту Сингапура. Все 22 его паруса управляются вручную. Гости могут понаблюдать за данным процессом и познакомиться с богатой историей судна, построенного в Чикаго в 2001 году. Сегодня Royal Albatross принимает участие в международных регатах парусных яхт, так что планировать мероприятие необходимо заранее. На борту яхты могут разместиться больше 200 человек, а кают-компания яхты вмещает до 60 человек, поэтому здесь можно провести не только вечеринку, но и лекцию, презентацию, гала-ужин или рабочую встречу.')

                            +article_image('unique-site-13.jpg')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Аквариум «S.E.A. Aquarium™»
                    .c-article-section__content-grid
                        .c-article-section__content
                            +article_paragraph('Свадьба, презентация нового продукта или неформальная вечеринка на дне океана – в Сингапуре возможно и такое. Пусть даже дно океана в аквариуме – это иллюзия, но в S.E.A Aquarium™ на острове Сентоза она настолько убедительна, что гости покинут мероприятие в полной уверенности, что они побывали под водой.')

                            +article_paragraph('Аквариум S.E.A. уникален, прежде всего, тем, что здесь можно увидеть подводную флору и фауну многих регионов мира: Малаккского пролива и Андаманского моря, Яванского моря, Бенгальского залива, Персидского залива и Аравийского моря. Так что для проведения мероприятий, так или иначе связанных с туризмом и путешествиями, это пространство подходит как нельзя лучше. В Галерее Океана, в самом просторном помещении аквариума, можно провести банкет на 200-350 человек, а в ресторане, откуда также открывается вид на аквариум – ужин на 60 персон.')

                            +article_image('unique-site-14.jpg')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Колесо обозрения «Singapore Flyer»
                    .c-article-section__content-grid
                        .c-article-section__content
                            +article_paragraph('Колесо обозрения Singapore Flyer – одно из самых высоких в мире. Отсюда открываются потрясающие виды на небоскребы и бухты Сингапура. Удивительно, но колесо также доступно для проведения мероприятий с самыми головокружительными концепциями для самых требовательных гостей. Singapore Flyer предлагает несколько уже разработанных сценариев событий на колесе обозрения, например, гастрономический ужин на высоте и подачу коктейлей в VIP-кабинках, каждая из которых вмещает до 28 человек. Более крупные презентации и семинары удобно устраивать в одном из залов комплекса – Flyer Event Hall или Greek Theatre.')

                            +article_image('unique-site-15.jpg')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                .c-article-section
                    h5.c-article-section__title Singapore Sports Hub
                    .c-article-section__content-grid
                        .c-article-section__content
                            +article_paragraph('Для проведения спортивных мероприятий, требующих специального оборудования, лучше всего приспособлен Сингапурский спортивный центр, построенный несколько лет назад на месте Национального стадиона по последнему слову техники. Здесь можно организовать событие уровня олимпийских соревнований.')

                            +article_image('unique-site-16.jpg')

                            +article_paragraph('Открытый легкоатлетический стадион вмещает до 55 000 зрителей, крытый стадион – от 4000 до 12 000 зрителей. Также в состав комплекса входит центр водных видов спорта и спортивная арена.')

                    a.c-article-section__read-more.js-show-text(href="#") Читать дальше

                +article_video('unique-sites', 'video-unique-site.jpg')

                +article_item(
                    'Деловые площадки',
                    'Умные деловые<br>пространства',
                    'more',
                    'business_area',
                    'business-area.html')

                +article_item(
                    'Туры',
                    'Деловые, образовательные,<br>гастрономические и другие',
                    'more',
                    'tour',
                    'tours.html')

                +article_item(
                    'Календарь',
                    'Деловые события<br>в Сингапуре',
                    'calendar',
                    'business_calendar',
                    'calendar-work.html')

            +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.5/jquery.bxslider.min.js')
        script(src='%=static=%js/main%=hash=%%=min=%.js')
