.header {
    @include respond-to(phone) {
        z-index: 995;

        width: auto;
        height: 60px;
        &.opened .social-share {
            display: block;
        }
    }
    .nav {
        height: 60px;
        padding: 0 20px;

        text-align: left;

        background-color: $white;

        @include respond-to(phone) {
            position: relative;
            left: -200px;

            width: 160px;
            height: 100vh;

            transition: all ease .3s;

            background-color: rgba($white, .97);
            &--opened {
                left: 0;
            }
        }
    }
    .nav-list {
        display: block;

        width: 100%;
        margin: 0 auto;

        @include respond-to(phone) {
            padding-top: 90px;
        }
        &__item {
            display: inline-block;

            margin-right: 50px;

            @include respond-to(phone) {
                display: block;

                margin-right: 0;
                &:not(:first-child) {
                    margin-top: 35px;
                }
            }
        }
        &__item-link {
            font-size: 12px;
            font-weight: 600;
            line-height: 60px;

            text-decoration: none;
            text-transform: uppercase;

            color: $text-grey;

            @include respond-to(phone) {
                font-size: 13px;
                line-height: 15px;

                letter-spacing: .41px;

                color: $black;
            }
            &:hover {
                color: $blue;
            }
        }
        &__sepor {
            font-size: 12px;
            font-weight: 600;

            color: $text-grey;

            @include respond-to(phone) {
                visibility: hidden;
            }
        }
        &__lang {
            &:last-child {
                margin-left: 15px;
            }
            &--active {
                color: $blue;
            }
        }
    }
    &__poly-link {
        position: absolute;
        top: 17px;
        right: 20px;
    }
    .open-btn {
        position: absolute;
        z-index: 996;
        top: 0;
        left: 0;

        display: none;

        width: 60px;
        height: 60px;
        padding: 20px;

        background-color: $white;

        @include respond-to(phone) {
            display: block;
        }
        .menu_close_icon {
            display: none;
        }
    }
    .social-share {
        display: none;
    }
}
