doctype html
html(class="no-js", lang="ru")

    include ../components/head/head
    include ../components/header/header
    include ../components/index_teaser/index_teaser
    include ../components/tile_1_1/tile_1_1
    include ../components/tile_1_2/tile_1_2
    include ../components/tile_2_2/tile_2_2
    include ../components/tile_1_2_slider/tile_1_2_slider
    include ../components/tile_3_2/tile_3_2
    include ../components/footer/footer

    head
        +head(head.defaults)
    body
        |%=symbols=%

        +header()

        +index_teaser()

        .l-grid.l-grid--tile
            +tile_1_2(
                'green',
                '',
                'Новые форматы — драйверы роста',
                'Трафик заведений быстрого питания растет, несмотря на макроэкономические трудности: будущее за гибкими, мобильными и современными форматами'
            )
            +tile_3_2(
                'white',
                '',
                'Как открыть собственную точку питания?',
                'quick-советы',
                'Концепция общественного питания за последние несколько лет изменилась кардинально. Если раньше точки быстрого питания предлагали очень ограниченный и скудный выбор, то сейчас появилось множество новых форматов. Соответственно меняются и схемы запуска бизнеса',
                'blue',
                'ЧИТАТЬ СТАТЬЮ'
            )
            +tile_2_2(
                'white',
                '',
                'Особенности нового законодательства',
                'quick-аналитика',
                'Принятый этим летом закон кардинально изменит работу большинства предпринимателей уже с 2017 года. К чему надо готовиться и почему без интернета  и современных технологий  не обойтись уже никому?',
                'blue',
                'ЧИТАТЬ СТАТЬЮ'
            )
            +tile_1_2('white')
            +tile_1_2(
                'blue',
                '',
                'Франчайзинг: автоматизация минимизирует риски',
                'Общественное питание — одна из наиболее затратных сфер для предпринимательской деятельности. В этом отношении франчайзинг может стать быстрым  и доходным стартом для ресторатора'
            )
            .c-tile.c-tile__2-2.c-tile--container
                +tile_1_1(
                    'red',
                    '',
                    'Готовые решения для ресторана любого формата'
                )
                +tile_1_1(
                    'orange',
                    '',
                    'Быстрый старт  с минимальными вложениями'
                )
                +tile_1_1(
                    'light-blue',
                    '',
                    'Адаптированно под последние изменения в законодательстве'
                )
                +tile_1_1(
                    'green',
                    '',
                    'Продвинутые инструменты для франчайзинга'
                )
            +tile_2_2(
                'white',
                '',
                'Готовы навести порядок в бизнесе?',
                'quick-бизнес',
                'Начните с регистрации в сервисе. Это бесплатно и займет всего несколько минут',
                'red',
                'ПЕРЕЙТИ К РЕГИСТРАЦИИ'
            )

        +footer()

        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();