.about {
    padding-top: 90px;
    padding-bottom: 130px;

    @include respond-to(phone) {
        padding-top: 70px;
        padding-bottom: 75px;
    }
    &__content {
        margin-top: 70px;
        margin-left: -20px;

        @include cf();
        @include respond-to(tablet) {
            margin-top: 60px;
        }
        &-col {
            font-size: 16px;
            font-weight: normal;
            line-height: 24px;

            @include respond-to(tablet) {
                &:last-child {
                    margin-top: 25px;
                }
            }
            @include respond-to(phone) {
                font-size: 14px;
                line-height: 22px;
                &:last-child {
                    margin-top: 20px;
                }
            }
        }
    }
}
