mixin section_about
    section.about
        .section__container
            .section__title О выставке
            .about__content
                p.about__content-col.col-md-6.
                    Выставка «Лаборатория Земля» &mdash; это целая планета; пространство, в котором художники выступают в роли катализаторов инновационных идей в современном обществе. Это крупный мультимедийный проект Центра Ars Electronica и Политехнического музея &mdash; первый в рамках стратегического партнерства &mdash; посвященный переосмыслению жизни на нашей планете, ее ресурсам, новым возможностям, которые появляются у человека благодаря научно-техническому прогрессу и феномену цифровой культуры. 
                p.about__content-col.col-md-6.
                    Базовая концепция выставки была успешно реализована в Бильбао в 2013 году в рамках проекта Artists as Catalysts. Московская версия выставки представляет новые работы призеров международной премии «Арс Электроника» 2013&ndash;2015 гг., отражающие свежий взгляд на идею взаимодействия творческого сознания с научным мышлением и технологиями. К выставке приурочена интенсивная параллельная программа, в рамках которой пройдут лекции, мастерские, творческие встречи, перформансы, концерты и видеопоказы.