.about {
    margin-top: 60px;
    padding-bottom: 80px;

    @include respond-to(phone) {
        margin-top: 95px;
        padding-bottom: 0;
    }
    &__container {
        // background-color: $black;
        // background: linear-gradient(top, rgba(0,0,0,0) 10%,rgba(42,42,42,1) 50%);
    }
    &__title-container {
        background: 0;
    }
    &__title-img {
        display: block;

        width: 148px;
        height: 109px;

        @include respond-to(phone) {
            width: 165px;
            height: 106px;
        }
    }
    &__content {
        margin-top: 45px;
        position: relative;
        // left: -20px;

        @include cf();
    }
    &__col {
        float: left;

        width: 440px;
        margin-right: 79px;

        @include respond-to(tablet) {
            float: none;

            width: 100%;
            margin-right: 0;
            &:last-child {
                margin-top: 23px;
            }
        }
        &:last-child {
            margin-right: 0;
        }
    }
    &__text {
        font-family: 'formular';
        font-size: 15px;
        line-height: 20px;

        margin: 0;

        letter-spacing: .7px;

        color: $white;

        @include respond-to(phone) {
            font-size: 14px;

            letter-spacing: .6px;
        }
        &:not(:first-child) {
            margin-top: 23px;
        }
        &--bold {
            font-weight: bold;

            letter-spacing: .6px;
        }
        &--schedule {
            margin-top: 55px !important;
            @include respond-to(tablet) {
                margin-top: 40px !important;
            }
        }

        &--main {
            @include respond-to(tablet) {
                margin-bottom: 20px;
            }
        }
        p {
            margin: 0;
            padding: 0;
        }
        // span {
        //     @include respond-to(phone) {
        //         display: block;
        //     }
        // }
    }

    &__buy-ticket {
        width: 279px;
        height: 39px;
        display: block;
        background-image: url('%=static=%general/buy_ticket_img.png');
        background-size: contain;
        margin-top: 55px;
    }
}
