mixin section_about_en
    section.about
        .about__container.about__title-container
            .about__title.section__container
                img(src="%=static=%img/general/09_en.png" alt="").about__title-img
        .about__container
            .about__content.section__container
                .about__col
                    p.about__text.about__text--main.
                        In the XX century, the Soviet Union became the first space power. The exhibition "Space: the birth of a new era" is an exciting story about Russia working its way up from the drawings of avant-garde artists and formulas of Konstantin Tsiolkovsky together with Sergei Korolev's experimental projects to artificial earth satellites, spacecraft and unmanned exploration missions to distant planets. The suits of the first cosmonauts, interplanetary landers, personal belongings of Gagarin are presented at the exhibition. All these have played a role in the unique achievements of Russian space exploration and has led to the fact that Russia remains one of the leaders in the development of interplanetary space today. Interest in space still has not decreased, but what is waiting for us in the XXI century? Space tourism or settlements on the Moon? Manned flights to Mars or private space flights? Only those who find the courage to be curious will find the answers. They were always found by the outstanding pioneers of space.

                .about__col
                    p.about__text TICKETS
                    p.about__text.
                        <span class="about__text--bold">250 ₽</span> &mdash; Adult<br>
                        <span class="about__text--bold">100 ₽</span> &mdash; Seniors, students, childrens (7–16)<br>
                        <span class="about__text--bold">Free</span> &mdash; for children under 6, orphans, persons without parental care, disabled, veterans of WW, large family

                    a.about__buy-ticket.about__buy-ticket--en(href="//primepass.ru/widget/v1/spot/vdnh/ext_event/149/schedules" target="_blank")

                    p.about__text.about__text--schedule Museum Hours
                    p.about__text.
                        Tuesday to Sunday 11 am to 10 pm <br>
                        Monday &mdash; closed<br>
                    //- 13 июня &mdash; выставка работает<br>
                    //- 14 июня &mdash; выставка закрыта
